<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>자산신청현황</title>

    <link rel="stylesheet" href="../resources/css/main.css">
    <link rel="stylesheet" href="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">

    <link rel="stylesheet" href="../resources/lib/aui-grid/css/AUIGrid_style.css">

    <script src="../resources/lib/aui-grid/js/AUIGridLicense.js"></script>
    <script src="../resources/lib/aui-grid/js/AUIGrid.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/ajax.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/common.js"></script>

    <script src="../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <script src="../resources/js/main.js"></script>

    <!--font-awesome -->
    <link rel="stylesheet" href="../resources/lib/font-awesome/css/all.min.css">

</head>
<body id="guide">
<!-- contents -->
<div id="wrapper">

    <div class="contents active">
        <div class="page-indicator">
            <ul>
                <li><i class="fa-solid fa-house"></i></li>
                <li>자산신청</li>
                <li>자산신청현황</li>
            </ul>
        </div>
        <div class="title-box">
            <div class="title"><h3>검색조건</h3></div>
        </div>
        <div class="input-wrap">
            <div class="input-lists">
                <div class="input-list">
                    <span class="input-title">신청구분</span>
                    <label class="select">
                        <select>
                            <option value="">선택</option>
                            <option value="">신규신청</option>
                            <option value="">교체신청</option>
                            <option value="">대여신청</option>
                            <option value="">대여연장신청</option>
                            <option value="">반납신청</option>
                            <option value="">인수인계신청</option>
                        </select>
                    </label>
                </div>
                <div class="input-list">
                    <span class="input-title">신청사유</span>
                    <label class="select">
                        <select>
                            <option value="">선택</option>
                            <option value="">신규충원</option>
                            <option value="">업무편의</option>
                            <option value="">가나다라마바</option>
                            <option value="">가나다라마바</option>
                            <option value="">가나다라마바</option>
                        </select>
                    </label>
                </div>
                <div class="input-list">
                    <span class="input-title">기간</span>
                    <div class="date-wrap">
                        <label class="date">
                            <input type="text">
                        </label>
                        <span>~</span>
                        <label class="date">
                            <input type="text">
                        </label>
                    </div>
                </div>
                <div class="input-list">
                    <span class="input-title">진행 상태</span>
                    <label class="select">
                        <select>
                            <option value="">선택</option>
                            <option value="">신청</option>
                            <option value="">접수</option>
                            <option value="">출고</option>
                            <option value="">결제상신</option>
                            <option value="">결제완료</option>
                            <option value="">결제취소</option>
                        </select>
                    </label>
                </div>
                <div class="input-list">
                    <span class="input-title">사용자</span>
                    <label class="input search">
                        <input type="text">
                        <button type="button" data-popup="gridPop_user"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </label>
                </div>
                <div class="input-list">
                    <span class="input-title">부서</span>
                    <label class="input search">
                        <input type="text" disabled>
                    </label>
                </div>
                <div class="input-list">
                    <span class="input-title">자산번호</span>
                    <label class="input">
                        <input type="text">
                    </label>
                </div>
                <div class="input-list">
                    <span class="input-title">신청내용</span>
                    <label class="input">
                        <input type="text">
                    </label>
                </div>
            </div>
            <button type="button" class="btn search">검색</button>
        </div>
        <div class="title-box">
            <div class="title">
                <h3>신청현황</h3>
            </div>
            <div class="btn-wrap">
                <button type="button" class="btn excel" onclick="exportToLocal()">엑셀다운로드</button>
            </div>
        </div>

        <div id="grid_wrap" class="grid-box"></div>

        <div class="btn-wrap">
            <button type="button" class="btn" data-popup="gridPop_user">사용자 검색</button>
            <button type="button" class="btn" data-popup="newEnroll_pop">신규신청</button>
            <button type="button" class="btn" data-popup="changeEnroll_pop">교체신청</button>
            <button type="button" class="btn" data-popup="rentalEnroll_pop">대여신청</button>
            <button type="button" class="btn" data-popup="returnEnroll_pop">반납신청</button>
            <button type="button" class="btn" data-popup="takingOverEnroll_pop">인수인계신청</button>
            <button type="button" class="btn" data-popup="rentalExtensionEnroll_pop">대연연장신청</button>
            <button type="button" class="btn" data-popup="gridPop_history">처리이력(신청정보 팝업 내)</button>
        </div>
    </div>
</div>
<!-- // contents -->
<!-- 팝업 -->
<!-- 사용자 검색 -->
<div id="gridPop_user" class="popup grid no">
    <div class="pop-box">
        <div class="pop-head">
            <h3>사용자 검색</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="input-wrap">
                <div class="input-list">
                    <span class="input-title">검색</span>
                    <label class="input search">
                        <input type="text">
                        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </label>
                </div>
            </div>
            <div id="popup_grid_user" class="grid-box"></div>
        </div>
    </div>
</div>

<!-- 신규신청 -->
<div id="newEnroll_pop" class="popup grid big no">
    <div class="pop-box">
        <div class="pop-head">
            <h3>신규신청</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="custom-table">
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center">신청번호</div></div>
                    <div class="td"><div class="td-wrap">122141</div></div>
                    <div class="th"><div class="th-wrap center">신청구분</div></div>
                    <div class="td"><div class="td-wrap">자사 신규 신청</div></div>
                    <div class="th"><div class="th-wrap center">신청상태</div></div>
                    <div class="td"><div class="td-wrap">상신완료</div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>신청자</p></div></div>
                    <div class="td"><div class="td-wrap"><p>홍길동</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>사용자명</p></div></div>
                    <div class="td"><div class="td-wrap"><p>양현모</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>사용자 부서</p></div></div>
                    <div class="td"><div class="td-wrap"><p>IT운영</p></div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>사용장소</p></div></div>
                    <div class="td">
                        <div class="td-wrap">
                            <label class="select whole">
                                <select>
                                    <option value="">행정동</option>
                                    <option value="">행정동</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="th"><div class="th-wrap center"><p>상세위치</p></div></div>
                    <div class="td medium"><div class="td-wrap"><p>서울특별시 송파구 문정동</p></div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>신청사유</p></div></div>
                    <div class="td"><div class="td-wrap"><p>신규충원</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>신청내용</p></div></div>
                    <div class="td medium"><div class="td-wrap"><p>신규 부서 입사자 지급</p></div></div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap center"><p>관리자 메모</p></div></div>
                    <div class="td whole"><div class="td-wrap"><p>새상품</p></div></div>
                </div>
            </div>

            <div class="title-box">
                <div class="title">
                    <h3>자산정보</h3>
                </div>
            </div>
            <div id="popup_grid_detail1" class="grid-box h-small"></div>

            <div class="title-box">
                <div class="title">
                    <h3>업무배정</h3>
                </div>
            </div>
            <div class="custom-table">
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>담당부서</p></div></div>
                    <div class="td"><div class="td-wrap"><p>케이윈</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>담당자</p></div></div>
                    <div class="td"><div class="td-wrap"><p>홍길동</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>연락처</p></div></div>
                    <div class="td"><div class="td-wrap"><p>010-0000-0000</p></div></div>
                </div>
            </div>

            <div class="btn-wrap">
                <button type="button" class="btn" data-popup="gridPop_history">처리이력</button>
                <button type="button" class="btn" data-btn="cancel">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- 교체신청 -->
<div id="changeEnroll_pop" class="popup grid big no">
    <div class="pop-box">
        <div class="pop-head">
            <h3>교체신청</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="custom-table">
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center">신청번호</div></div>
                    <div class="td"><div class="td-wrap">122141</div></div>
                    <div class="th"><div class="th-wrap center">신청구분</div></div>
                    <div class="td"><div class="td-wrap">자사 신규 신청</div></div>
                    <div class="th"><div class="th-wrap center">신청상태</div></div>
                    <div class="td"><div class="td-wrap">상신완료</div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>신청자</p></div></div>
                    <div class="td"><div class="td-wrap"><p>홍길동</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>사용자명</p></div></div>
                    <div class="td"><div class="td-wrap"><p>양현모</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>사용자 부서</p></div></div>
                    <div class="td"><div class="td-wrap"><p>IT운영</p></div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>사용장소</p></div></div>
                    <div class="td">
                        <div class="td-wrap">
                            <label class="select whole">
                                <select>
                                    <option value="">행정동</option>
                                    <option value="">행정동</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="th"><div class="th-wrap center"><p>상세위치</p></div></div>
                    <div class="td medium"><div class="td-wrap"><p>서울특별시 송파구 문정동</p></div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>신청사유</p></div></div>
                    <div class="td">
                        <div class="td-wrap">
                            <label class="select whole">
                                <select>
                                    <option value="">자산노후</option>
                                    <option value="">자산노후</option>
                                    <option value="">자산노후</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="th"><div class="th-wrap center"><p>신청내용</p></div></div>
                    <div class="td medium"><div class="td-wrap"><p>신규 부서 입사자 지급</p></div></div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap center"><p>관리자 메모</p></div></div>
                    <div class="td whole"><div class="td-wrap"><p>새상품</p></div></div>
                </div>
            </div>

            <div class="title-box">
                <div class="title">
                    <h3>자산정보</h3>
                </div>
            </div>
            <div id="popup_grid_detail2" class="grid-box h-small"></div>

            <div class="title-box">
                <div class="title">
                    <h3>업무배정</h3>
                </div>
            </div>
            <div class="custom-table">
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>담당부서</p></div></div>
                    <div class="td"><div class="td-wrap"><p>케이윈</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>담당자</p></div></div>
                    <div class="td"><div class="td-wrap"><p>홍길동</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>연락처</p></div></div>
                    <div class="td"><div class="td-wrap"><p>010-0000-0000</p></div></div>
                </div>
            </div>

            <div class="btn-wrap">
                <button type="button" class="btn" data-popup="gridPop_history">처리이력</button>
                <button type="button" class="btn" data-btn="cancel">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- 대여신청 -->
<div id="rentalEnroll_pop" class="popup grid big no">
    <div class="pop-box">
        <div class="pop-head">
            <h3>대여신청</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="custom-table">
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center">신청번호</div></div>
                    <div class="td"><div class="td-wrap">122141</div></div>
                    <div class="th"><div class="th-wrap center">신청구분</div></div>
                    <div class="td"><div class="td-wrap">자사 신규 신청</div></div>
                    <div class="th"><div class="th-wrap center">신청상태</div></div>
                    <div class="td"><div class="td-wrap">상신완료</div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>신청자</p></div></div>
                    <div class="td"><div class="td-wrap"><p>홍길동</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>사용자명</p></div></div>
                    <div class="td"><div class="td-wrap"><p>양현모</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>사용자 부서</p></div></div>
                    <div class="td"><div class="td-wrap"><p>IT운영</p></div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>사용장소</p></div></div>
                    <div class="td">
                        <div class="td-wrap">
                            <label class="select whole">
                                <select>
                                    <option value="">행정동</option>
                                    <option value="">행정동</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="th"><div class="th-wrap center"><p>상세위치</p></div></div>
                    <div class="td medium"><div class="td-wrap"><p>서울특별시 송파구 문정동</p></div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>신청사유</p></div></div>
                    <div class="td">
                        <div class="td-wrap">
                            <label class="select whole">
                                <select>
                                    <option value="">신규충원</option>
                                    <option value="">신규충원</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="th"><div class="th-wrap center"><p>신청내용</p></div></div>
                    <div class="td medium"><div class="td-wrap"><p>신규 부서 입사자 지급</p></div></div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap center"><p>관리자 메모</p></div></div>
                    <div class="td whole"><div class="td-wrap"><p>새상품</p></div></div>
                </div>
            </div>

            <div class="title-box">
                <div class="title">
                    <h3>대여자산정보</h3>
                </div>
            </div>
            <div id="popup_grid_detail3" class="grid-box h-small"></div>

            <div class="title-box">
                <div class="title">
                    <h3>업무배정</h3>
                </div>
            </div>
            <div class="custom-table">
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>담당부서</p></div></div>
                    <div class="td"><div class="td-wrap"><p>케이윈</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>담당자</p></div></div>
                    <div class="td"><div class="td-wrap"><p>홍길동</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>연락처</p></div></div>
                    <div class="td"><div class="td-wrap"><p>010-0000-0000</p></div></div>
                </div>
            </div>

            <div class="btn-wrap">
                <button type="button" class="btn" data-popup="gridPop_history">처리이력</button>
                <button type="button" class="btn" data-btn="cancel">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- 반납신청 -->
<div id="returnEnroll_pop" class="popup grid big no">
    <div class="pop-box">
        <div class="pop-head">
            <h3>반납신청</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="custom-table">
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center">신청번호</div></div>
                    <div class="td"><div class="td-wrap">122141</div></div>
                    <div class="th"><div class="th-wrap center">신청구분</div></div>
                    <div class="td"><div class="td-wrap">자사 신규 신청</div></div>
                    <div class="th"><div class="th-wrap center">신청상태</div></div>
                    <div class="td"><div class="td-wrap">상신완료</div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>신청자</p></div></div>
                    <div class="td"><div class="td-wrap"><p>홍길동</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>사용자명</p></div></div>
                    <div class="td"><div class="td-wrap"><p>양현모</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>사용자 부서</p></div></div>
                    <div class="td"><div class="td-wrap"><p>IT운영</p></div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>사용장소</p></div></div>
                    <div class="td">
                        <div class="td-wrap">
                            <label class="select whole">
                                <select>
                                    <option value="">행정동</option>
                                    <option value="">행정동</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="th"><div class="th-wrap center"><p>상세위치</p></div></div>
                    <div class="td medium"><div class="td-wrap"><p>서울특별시 송파구 문정동</p></div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>신청사유</p></div></div>
                    <div class="td">
                        <div class="td-wrap">
                            <label class="select whole">
                                <select>
                                    <option value="">대여반납</option>
                                    <option value="">대여반납</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="th"><div class="th-wrap center"><p>신청내용</p></div></div>
                    <div class="td medium"><div class="td-wrap"><p>신규 부서 입사자 지급</p></div></div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap center"><p>관리자 메모</p></div></div>
                    <div class="td whole"><div class="td-wrap"><p>새상품</p></div></div>
                </div>
            </div>

            <div class="title-box">
                <div class="title">
                    <h3>반납자산정보</h3>
                </div>
            </div>
            <div id="popup_grid_detail4" class="grid-box h-small"></div>

            <div class="title-box">
                <div class="title">
                    <h3>업무배정</h3>
                </div>
            </div>
            <div class="custom-table">
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>담당부서</p></div></div>
                    <div class="td"><div class="td-wrap"><p>케이윈</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>담당자</p></div></div>
                    <div class="td"><div class="td-wrap"><p>홍길동</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>연락처</p></div></div>
                    <div class="td"><div class="td-wrap"><p>010-0000-0000</p></div></div>
                </div>
            </div>

            <div class="btn-wrap">
                <button type="button" class="btn" data-popup="gridPop_history">처리이력</button>
                <button type="button" class="btn" data-btn="cancel">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- 인수인계 신청 -->
<div id="takingOverEnroll_pop" class="popup grid big no">
    <div class="pop-box">
        <div class="pop-head">
            <h3>인수인계신청</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="custom-table">
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center">신청번호</div></div>
                    <div class="td"><div class="td-wrap">122141</div></div>
                    <div class="th"><div class="th-wrap center">신청구분</div></div>
                    <div class="td"><div class="td-wrap">자사 신규 신청</div></div>
                    <div class="th"><div class="th-wrap center">신청상태</div></div>
                    <div class="td"><div class="td-wrap">상신완료</div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>신청자</p></div></div>
                    <div class="td"><div class="td-wrap"><p>홍길동</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>사용자</p></div></div>
                    <div class="td"><div class="td-wrap"><p>양현모</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>사용자 부서</p></div></div>
                    <div class="td"><div class="td-wrap"><p>IT운영</p></div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>인수자</p></div></div>
                    <div class="td"><div class="td-wrap"><p>임꺽정</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>인수부서</p></div></div>
                    <div class="td medium"><div class="td-wrap"><p>총무부</p></div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>신청사유</p></div></div>
                    <div class="td">
                        <div class="td-wrap">
                            <label class="select whole">
                                <select>
                                    <option value="">인수인계</option>
                                    <option value="">인수인계</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="th"><div class="th-wrap center"><p>신청내용</p></div></div>
                    <div class="td medium"><div class="td-wrap"><p>관련 내용이 작성됩니다.</p></div></div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap center"><p>관리자 메모</p></div></div>
                    <div class="td whole"><div class="td-wrap"><p>새상품</p></div></div>
                </div>
            </div>

            <div class="title-box">
                <div class="title">
                    <h3>인수인계자산</h3>
                </div>
            </div>
            <div id="popup_grid_detail5" class="grid-box h-small"></div>

            <div class="btn-wrap">
                <button type="button" class="btn" data-popup="gridPop_history">처리이력</button>
                <button type="button" class="btn" data-btn="cancel">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- 대여연장 신청 -->
<div id="rentalExtensionEnroll_pop" class="popup grid big no">
    <div class="pop-box">
        <div class="pop-head">
            <h3>대여연장신청</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="custom-table">
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center">신청번호</div></div>
                    <div class="td"><div class="td-wrap">122141</div></div>
                    <div class="th"><div class="th-wrap center">신청구분</div></div>
                    <div class="td"><div class="td-wrap">자사 신규 신청</div></div>
                    <div class="th"><div class="th-wrap center">신청상태</div></div>
                    <div class="td"><div class="td-wrap">상신완료</div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>신청자</p></div></div>
                    <div class="td"><div class="td-wrap"><p>홍길동</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>사용자</p></div></div>
                    <div class="td"><div class="td-wrap"><p>양현모</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>사용자 부서</p></div></div>
                    <div class="td"><div class="td-wrap"><p>IT운영</p></div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>사용장소</p></div></div>
                    <div class="td">
                        <div class="td-wrap">
                            <label class="select whole">
                                <select>
                                    <option value="">행정동</option>
                                    <option value="">행정동</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="th"><div class="th-wrap center"><p>상세위치</p></div></div>
                    <div class="td medium"><div class="td-wrap"><p>서울특별시 송파구 문정동</p></div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>신청사유</p></div></div>
                    <div class="td">
                        <div class="td-wrap">
                            <label class="select whole">
                                <select>
                                    <option value="">신규충원</option>
                                    <option value="">신규충원</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="th"><div class="th-wrap center"><p>신청내용</p></div></div>
                    <div class="td medium"><div class="td-wrap"><p>관련 내용이 작성됩니다.</p></div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center">대여기간</div></div>
                    <div class="td whole"><div class="td-wrap">2023-06-07 ~ 2023-08-09</div></div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap center"><p>관리자 메모</p></div></div>
                    <div class="td whole"><div class="td-wrap"><p>새상품</p></div></div>
                </div>
            </div>

            <div class="title-box">
                <div class="title">
                    <h3>대여자산 연장신청정보</h3>
                </div>
            </div>
            <div id="popup_grid_detail6" class="grid-box h-small"></div>

            <div class="btn-wrap">
                <button type="button" class="btn" data-popup="gridPop_history">처리이력</button>
                <button type="button" class="btn" data-btn="cancel">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- 처리이력 -->
<div id="gridPop_history" class="popup grid no">
    <div class="pop-box">
        <div class="pop-head">
            <h3>처리 이력</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="title-box">
                <div class="title">
                    <h3>처리이력</h3>
                </div>
            </div>
            <div id="popup_grid_history" class="grid-box"></div>

            <div class="btn-wrap">
                <button type="button" class="btn" data-btn="cancel">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- // 팝업 -->
<script type="text/javascript">
/* AUIGrid */
/* 1. AUIGrid 생성 후 반환 ID */
let myGridID;
let popup_grid_user; // 사용자 검색
let popup_grid_detail1; // 신규신청
let popup_grid_detail2; // 교체신청
let popup_grid_detail3; // 대여신청
let popup_grid_detail4; // 반납신청
let popup_grid_detail5; // 인수인계신청
let popup_grid_detail6; // 대여연장신청
let popup_grid_history; // 처리이력

/* 2. AUIGrid 그리드 생성 + 데이터 요청 */
function documentReady() {
    /* 그리드 생성 */
    createAUIGrid();

    popupUserSearch(); // 사용자검색
    popupNewEnroll(); // 신규신청
    popupChangeEnroll(); // 교체신청
    popupRentalEnroll(); // 대여신청
    popupReturnEnroll(); // 반납신청
    popupTakeOverEnroll(); // 인수인계신청
    popupRentalExtensionEnroll(); // 대여연장신청
    popupHistory(); // 처리이력

    /* 그리드 삽입 */
    requestData();
    requestData2();
    requestData3();
    requestData4();
    requestData5();
    requestData6();
    requestData7();
    requestData8();
    requestData9();
}

/* 3. AUIGrid 그리드 옵션 */
/* 신청정보 */
function createAUIGrid() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {
            dataField: "checkbox",
            dataType: "boolean",
            width: 80,
            headerText: "", // 텍스트 표시 안하고 체크박스만 나오게 함.
            headerStyle : "my-check-column", // 여기 주석 제거하면 큰 체크박스가 보임. 상단의 style 확인바람.
            headerRenderer: { // 헤더 렌더러
                type: "CheckBoxHeaderRenderer",
                // renderer 의 체크박스에 상호 의존적인 모드로 설정 (기본값 : false)
                dependentMode: true // dependentMode 는 renderer 의 type 으로 CheckBoxEditRenderer 를 정의할 때만 활성화됨.
            },
            renderer: {
                type: "CheckBoxEditRenderer",
                editable: true
            }
        }, {
            dataField: "category_application_num",
            headerText: "신청번호",
            width: 160,
        }, {
            dataField: "category_application_division",
            headerText: "신청구분",
            width: 180
        }, {
            dataField: "category_application_date",
            headerText: "신청일자",
            width: 280
        }, {
            dataField: "category_content",
            headerText: "내용",
            width: 160
        }, {
            dataField: "category_application_reason",
            headerText: "신청사유",
            width: 160
        }, {
            dataField: "category_department",
            headerText: "부서명",
            width: 160
        }, {
            dataField: "category_user_name",
            headerText: "사용자",
            width: 160
        }, {
            dataField: "category_count",
            headerText: "수량",
            width: 160
        }, {
            dataField: "category_status",
            headerText: "상태",
            width: 160
        }, {
            dataField: "category_processing_date",
            headerText: "처리일자",
            width: 160
        }, {
            dataField: "category_final_arbiter",
            headerText: "최종 결재자",
            width: 160
        }]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
    }

    /* 그리드 생성 */
    myGridID = AUIGrid.create("#grid_wrap", columnLayout, gridPros);

    // 셀 더블클릭 이벤트 바인딩 , (더블클릭시, dataField의 신청구분 value에 따라 팝업요소에 open 클래스 부여)
    AUIGrid.bind(myGridID, "cellDoubleClick", function(event) {
        let result = AUIGrid.getCellValue(myGridID, event.rowIndex, "category_application_division");
        if(result === "신규신청"){
            $("#newEnroll_pop").addClass("open");
        } else if(result === "교체신청"){
            $("#changeEnroll_pop").addClass("open");
        } else if(result === "대여신청"){
            $("#rentalEnroll_pop").addClass("open");
        } else if(result === "반납신청"){
            $("#returnEnroll_pop").addClass("open");
        } else if(result === "인수인계신청"){
            $("#takingOverEnroll_pop").addClass("open");
        } else if(result === "대여연장신청"){
            $("#rentalExtensionEnroll_pop").addClass("open");
        }
    });

    $('.menu-btn').on('click',function(){
        AUIGrid.destroy('#grid_wrap');
        setTimeout(function(){
            AUIGrid.create("#grid_wrap", columnLayout, gridPros);
            requestData();
        },200);
    })
}
/* [팝업] 사용자 검색 */
function popupUserSearch(){
    /* 팝업 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout2 = [
        {
            dataField: "category_employeeID",
            headerText: "사번",
            width: 180
        },
        {
            dataField: "category_user_name",
            headerText: "사용자명",
            width: 180
        }, {
            dataField: "category_department",
            headerText: "부서",
            width: 160
        }]
    /* 2. 그리드 속성 설정 */
    let gridPros2 = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        pageRowCount: 12, // 한 화면에 출력되는 행 개수 30개로 지정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        fillColumnSizeMode: true, // 가로 스크롤 없이 현재 그리드 영역에 채우기 모드
    }

    /* 그리드 생성 */
    popup_grid_user = AUIGrid.create("#popup_grid_user", columnLayout2, gridPros2);
}

/* [팝업] 신규신청 */
function popupNewEnroll() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {
            dataField: "category_product",
            headerText: "자산분류",
        },{
            dataField: "category_product",
            headerText: "품목",
        }, {
            dataField: "category_asset_num",
            headerText: "자산번호",
        }, {
            dataField: "category_item_name",
            headerText: "모델명",
        }]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        autoGridHeight : true,
        fillColumnSizeMode:true,
    }

    /* 그리드 생성 */
    popup_grid_detail1 = AUIGrid.create("#popup_grid_detail1", columnLayout, gridPros);
}
/* [팝업] 교체신청 */
function popupChangeEnroll() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {
            dataField: "category_product",
            headerText: "자산분류",
        },{
            dataField: "category_product",
            headerText: "품목",
        }, {
            dataField: "category_asset_num",
            headerText: "자산번호",
        }, {
            dataField: "category_item_name",
            headerText: "모델명",
        }, {
            dataField: "category_before_asset_num",
            headerText: "구자산번호",
        }]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        autoGridHeight : true,
        fillColumnSizeMode:true,
    }

    /* 그리드 생성 */
    popup_grid_detail2 = AUIGrid.create("#popup_grid_detail2", columnLayout, gridPros);
}
/* [팝업] 대여신청 */
function popupRentalEnroll() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {
            dataField: "category_product",
            headerText: "자산분류",
        },{
            dataField: "category_item",
            headerText: "품목",
        }, {
            dataField: "category_asset_num",
            headerText: "자산번호",
        }, {
            dataField: "category_item_name",
            headerText: "모델명",
        }]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        autoGridHeight : true,
        fillColumnSizeMode:true,
    }

    /* 그리드 생성 */
    popup_grid_detail3 = AUIGrid.create("#popup_grid_detail3", columnLayout, gridPros);
}
/* [팝업] 반납신청  */
function popupReturnEnroll() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {   dataField: "category_asset_num",
            headerText: "자산번호",
        }, {
            dataField: "category_product",
            headerText: "자산분류",
        }, {
            dataField: "category_item",
            headerText: "품목",
        }, {
            dataField: "category_model_name",
            headerText: "자산번호",
        }, {
            dataField: "category_asset_status",
            headerText: "자산상태",
        }]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        autoGridHeight : true,
        fillColumnSizeMode:true,
    }

    /* 그리드 생성 */
    popup_grid_detail4 = AUIGrid.create("#popup_grid_detail4", columnLayout, gridPros);
}
/* [팝업] 인수인계신청  */
function popupTakeOverEnroll() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {   dataField: "category_asset_num",
            headerText: "자산번호",
        }, {
            dataField: "category_product",
            headerText: "자산분류",
        }, {
            dataField: "category_item",
            headerText: "품목",
        }, {
            dataField: "category_model_name",
            headerText: "모델명",
        }, {
            dataField: "category_asset_status",
            headerText: "자산상태",
        }, {
            dataField: "category_takeover_time",
            headerText: "인수완료시간",
        }]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        autoGridHeight : true,
        fillColumnSizeMode:true,
    }

    /* 그리드 생성 */
    popup_grid_detail5 = AUIGrid.create("#popup_grid_detail5", columnLayout, gridPros);
}
/* [팝업] 대여연장신청  */
function popupRentalExtensionEnroll() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {   dataField: "category_asset_num",
            headerText: "자산번호",
        }, {
            dataField: "category_product",
            headerText: "자산분류",
        }, {
            dataField: "category_item",
            headerText: "품목",
        }, {
            dataField: "category_model_name",
            headerText: "모델명",
        }, {
            dataField: "category_asset_status",
            headerText: "자산상태",
        }, {
            dataField: "category_rental_extension_time",
            headerText: "대여연장기간",
        }]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        autoGridHeight : true,
        fillColumnSizeMode:true,
    }

    /* 그리드 생성 */
    popup_grid_detail6 = AUIGrid.create("#popup_grid_detail6", columnLayout, gridPros);
}
/* [팝업] 처리 이력 */
function popupHistory(){
    /* 팝업 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout3 = [
        {
            dataField: "category_state",
            headerText: "상태",
        },
        {
            dataField: "category_manager",
            headerText: "담당자",
        },
        {
            dataField: "category_time",
            headerText: "시간",
        },
    ]
    /* 2. 그리드 속성 설정 */
    let gridPros3 = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        pageRowCount: 10, // 한 화면에 출력되는 행 개수 30개로 지정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        fillColumnSizeMode: true, // 가로 스크롤 X
    }

    /* 그리드 생성 */
    popup_grid_history = AUIGrid.create("#popup_grid_history", columnLayout3, gridPros3);
}

/* 4. 데이터 불러오기 */
function requestData() {
    $.get("../resources/lib/aui-grid/data/sample-datas11.json", function (data) {
        AUIGrid.setGridData(myGridID, data);
    });
}
function requestData2() {
    $.get("../resources/lib/aui-grid/data/sample-datas2.json", function (data) {
        AUIGrid.setGridData(popup_grid_user, data);
    });
}
function requestData3() {
    $.get("../resources/lib/aui-grid/data/sample-datas14.json", function (data) {
        AUIGrid.setGridData(popup_grid_detail1, data);
    });
}
function requestData4() {
    $.get("../resources/lib/aui-grid/data/sample-datas17.json", function (data) {
        AUIGrid.setGridData(popup_grid_detail2, data);
    });
}
function requestData5() {
    $.get("../resources/lib/aui-grid/data/sample-datas14.json", function (data) {
        AUIGrid.setGridData(popup_grid_detail3, data);
    });
}
function requestData6() {
    $.get("../resources/lib/aui-grid/data/sample-datas18.json", function (data) {
        AUIGrid.setGridData(popup_grid_detail4, data);
    });
}
function requestData7() {
    $.get("../resources/lib/aui-grid/data/sample-datas18.json", function (data) {
        AUIGrid.setGridData(popup_grid_detail5, data);
    });
}
function requestData8() {
    $.get("../resources/lib/aui-grid/data/sample-datas18.json", function (data) {
        AUIGrid.setGridData(popup_grid_detail6, data);
    });
}
function requestData9() {
    $.get("../resources/lib/aui-grid/data/sample-datas15.json", function (data) {
        AUIGrid.setGridData(popup_grid_history, data);
    });
}

/* 5. AUIGrid 그리드 윈도우 리사이징 이벤트 */
window.onresize = function () {
    if (typeof myGridID !== "undefined") {
        AUIGrid.resize(myGridID);
    } else if (typeof popup_grid_user !== "undefined"){
        AUIGrid.resize(popup_grid_user);
    }
}
</script>
</body>
</html>
