<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AUI 그리드 데모</title>

    <!-- jQuery -->
    <script src="../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <link rel="stylesheet" href="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">

    <!-- AUI grid -->
    <script src="../resources/lib/aui-grid/js/AUIGridLicense.js"></script>
    <script src="../resources/lib/aui-grid/js/AUIGrid.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/ajax.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/common.js"></script>

    <link rel="stylesheet" href="../resources/lib/aui-grid/css/AUIGrid_style.css">

    <!--font-awesome -->
    <link rel="stylesheet" href="../resources/lib/font-awesome/css/all.min.css">

    <!-- 개별 소스 -->
    <link rel="stylesheet" href="../resources/css/main.css">
    <script src="../resources/js/main.js"></script>
</head>
<body id="guide">
<!-- header 헤더는 js에서 append -->
<header>
    <div class="inner">
        <button type="button" class="menu-btn"></button>
        <a href="#">IAMS V2</a>
    </div>
    <div class="inner">
        <div class="account">
            [<span>홍길동</span> / <span>IT운영</span>]
        </div>
        <button type="button" class="logout-btn">Logout</button>
    </div>
</header>
<!-- // header -->

<!-- contents -->
<div id="wrapper">

    <!-- sidebar 사이드바는 js에서 append -->
    <div class="sidebar">
        <div class="menu">
            <ul>
                <li>
                    <button type="button" class="btn">자산신청</button>
                    <div class="depth active">
                        <ul>
                            <li><a href="#" class="linkBtn">자산신청현황</a></li>
                            <li><a href="#" class="linkBtn">신규신청</a></li>
                            <li><a href="#" class="linkBtn">교체신청</a></li>
                            <li><a href="#" class="linkBtn">대여/연장신청</a></li>
                            <li><a href="#" class="linkBtn">반납신청</a></li>
                            <li><a href="#" class="linkBtn">인수인계신청</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <button type="button" class="btn">자산현황</button>
                    <div class="depth">
                        <ul>
                            <li><a href="#" class="linkBtn">자산조회</a></li>
                            <li><a href="#" class="linkBtn">부서자산조회</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <button type="button" class="btn">서비스데스크</button>
                    <div class="depth">
                        <ul>
                            <li><a href="#" class="linkBtn">서비스신청현황</a></li>
                            <li><a href="#" class="linkBtn">서비스신청</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <button type="button" class="btn">자산등록</button>
                    <div class="depth">
                        <ul>
                            <li><a href="#" class="linkBtn">자산등록</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="btn">자산등록</a>
                </li>
                <li>
                    <a href="#" class="btn">자산실사</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- // sidebar -->

    <div class="contents">

        <!-- contents -->
        <!-- 1. AUI Grid -->
        <div class="title-box">
            <div class="title">
                <h3 class="important">자산정보</h3>
            </div>
        </div>
        <div id="grid_wrap" class="grid-box"></div>
        <!-- // AUI Grid -->
        <!-- 2. 기본테이블 -->
        <div class="title-box">
            <div class="title">
                <h3 class="important">신청정보</h3>
            </div>
        </div>
        <div class="custom-table">
            <div class="row con-3">
                <div class="th"><div class="th-wrap center">신청번호</div></div>
                <div class="td"><div class="td-wrap"></div></div>
                <div class="th"><div class="th-wrap center">신청구분</div></div>
                <div class="td"><div class="td-wrap">자사 신규 신청</div></div>
                <div class="th"><div class="th-wrap center">신청상태</div></div>
                <div class="td"><div class="td-wrap"></div></div>
            </div>
            <div class="row con-3">
                <div class="th"><div class="th-wrap center">신청자</div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="input search">
                            <input type="text" placeholder="홍길동">
                            <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </label>
                    </div>
                </div>
                <div class="th"><div class="th-wrap center"><p class="important">사용자명</p></div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="input search">
                            <input type="text" placeholder="양현모">
                            <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </label>
                    </div>
                </div>
                <div class="th"><div class="th-wrap center">사용자 부서</div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="input search">
                            <input type="text" placeholder="IT 운영">
                            <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row con-3">
                <div class="th"><div class="th-wrap center">사용장소</div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="select whole">
                            <select>
                                <option value="">데스트탑1</option>
                                <option value="">데스크탑2</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="th"><div class="th-wrap center">상세위치</div></div>
                <div class="td"><div class="td-wrap"> </div></div>
                <div class="th"><div class="th-wrap center"><p class="important">설치 요청일</p></div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="date">
                            <input type="text">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row con-3">
                <div class="th"><div class="th-wrap center">신청사유</div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="select whole">
                            <select>
                                <option value="">데스트탑1</option>
                                <option value="">데스크탑2</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="th"><div class="th-wrap center"><p class="important">신청내용</p></div></div>
                <div class="td line"><div class="td-wrap"></div></div>
            </div>
        </div>

        <div class="title-box">
            <div class="title">
                <h3 class="important">자산정보</h3>
            </div>
        </div>
        <div class="table">
            <table>
                <colgroup>
                    <col style="width:50px">
                    <col>
                    <col>
                    <col style="width:200px">
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <div class="th-wrap center">
                            <label class="check no-text">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </div>
                    </th>
                    <th><p>자산분류</p></th>
                    <th><p class="important">품목</p></th>
                    <th><p class="important">수랑신청</p></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="td-wrap center">
                            <label class="check no-text">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="td-wrap">
                            <label class="select whole">
                                <select>
                                    <option value="">데스트탑1</option>
                                    <option value="">데스크탑2</option>
                                </select>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="td-wrap">
                            <label class="select whole">
                                <select>
                                    <option value="">데스트탑 모델1</option>
                                    <option value="">데스크탑 모델2</option>
                                </select>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="td-wrap">
                            <label class="input whole">
                                <input type="number">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="td-wrap center">
                            <label class="check no-text">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="td-wrap">
                            <label class="select">
                                <select>
                                    <option value="">데스트탑1</option>
                                    <option value="">데스크탑2</option>
                                </select>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="td-wrap">
                            <label class="select">
                                <select>
                                    <option value="">데스트탑 모델1</option>
                                    <option value="">데스크탑 모델2</option>
                                </select>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="td-wrap">
                            <label class="input">
                                <input type="number">
                            </label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="title-box">
            <div class="title">
                <h3 class="important">첨부파일</h3>
            </div>
            <div class="btn-wrap">
                <button type="button" class="btn model">모델 정보</button>
                <button type="button" class="btn excel">엑셀다운로드</button>
                <button type="button" class="btn add-column">행 추가</button>
                <button type="button" class="btn trash">선택 삭제</button>
            </div>
        </div>
        <div class="table">
            <table>
                <colgroup>
                    <col style="width:50px">
                    <col style="width:calc(100% - 50px);">
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <div class="th-wrap center">
                            <label class="check no-text">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </div>
                    </th>
                    <th><p>자산분류</p></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="td-wrap center">
                            <label class="check no-text">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="td-wrap">
                            <div class="file-box long">
                                <label class="file">
                                    <input type="file">
                                    <span class="btn">파일선택</span>
                                </label>
                                <span>선택된 파일 없음</span>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="title-box">
            <div class="title">
                <h3 class="important">팝업: AUI Grid</h3>
            </div>
        </div>
        <div class="btn-wrap">
            <button type="button" class="btn" data-popup="gridPop_user">딤처리 없는 팝업 : AUI Grid</button>
        </div>

        <div class="title-box" style="margin-top:30px;">
            <div class="title">
                <h3 class="important">요소 리스트1</h3>
            </div>
        </div>
        <div class="list-box">
            <ul class="quantity-list">
                <li>
                    <div class="quantity orange">
                        <span class="num">4</span>
                        <span class="name">총수량</span>
                    </div>
                </li>
                <li>
                    <div class="quantity blue">
                        <span class="num">2</span>
                        <span class="name">데스크탑</span>
                    </div>
                </li>
                <li>
                    <div class="quantity green">
                        <span class="num">2</span>
                        <span class="name">모니터</span>
                    </div>
                </li>
                <li>
                    <div class="quantity purple">
                        <span class="num">1</span>
                        <span class="name">공용</span>
                    </div>
                </li>
                <li>
                    <div class="quantity gray">
                        <span class="num">3</span>
                        <span class="name">개인</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="title-box" style="margin-top:30px;">
            <div class="title">
                <h3 class="important">요소 리스트2</h3>
            </div>
        </div>
        <div class="list-box">
            <ul class="quantity-list">
                <li>
                    <div class="quantity yellow">
                        <span class="title">서비스상태</span>
                    </div>
                </li>
                <li>
                    <div class="quantity blue">
                        <span class="num">2</span>
                        <span class="name">신청</span>
                    </div>
                </li>
                <li>
                    <div class="quantity green">
                        <span class="num">2</span>
                        <span class="name">접수</span>
                    </div>
                </li>
                <li>
                    <div class="quantity purple">
                        <span class="num">1</span>
                        <span class="name">조치중</span>
                    </div>
                </li>
                <li>
                    <div class="quantity gray">
                        <span class="num">3</span>
                        <span class="name">완료</span>
                    </div>
                </li>
                <li>
                    <div class="quantity purple">
                        <span class="num">1</span>
                        <span class="name">보류</span>
                    </div>
                </li>
                <li>
                    <div class="quantity lightOrange">
                        <span class="num">3</span>
                        <span class="name">수리중</span>
                    </div>
                </li>
                <li>
                    <div class="quantity">
                        <span class="num">3</span>
                        <span class="name">전체</span>
                    </div>
                </li>
            </ul>
        </div>
        <!-- // contents -->

        <!-- footer 푸터는 js에서 append -->
        <footer>
            <div class="contact">
                <ul>
                    <li>IT 자산관련 문의 : 555-XXXX</li>
                    <li>기타 자산관련 문의 : 555-XXXX</li>
                    <li>서비스데스크 : 555-XXXX</li>
                </ul>
            </div>
            <div class="logos">
                <img src="../resources/img/h_logo.png" alt="logo">
            </div>
        </footer>
        <!-- footer -->
    </div>
</div>
<!-- // contents -->

<!-- 팝업 -->
<div id="gridPop_user" class="popup grid no">
    <div class="pop-box">
        <div class="pop-head">
            <h3>사용자 검색</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="input-list">
                <span class="input-title">검색</span>
                <label class="input search">
                    <input type="text">
                    <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </label>
            </div>
            <div id="popup_grid_user" class="grid-box"></div>
        </div>
    </div>
</div>
<!-- // 팝업 -->


<script type="text/javascript">
/* AUIGrid */
/* 1. AUIGrid 생성 후 반환 ID */
let myGridID;
let popup_grid_user;

/* 2. AUIGrid 그리드 생성 + 데이터 요청 : document ready (jQuery 의 $(document).ready(function() {}); 과 같은 역할을 합니다. */
function documentReady() {
    /* 그리드 생성 */
    createAUIGrid();
    createPopupAUIGrid2();

    /* 그리드 삽입 */
    requestData();// 데이터 요청 후 상단 그리드 삽입
    requestData2();
}

/* 3. AUIGrid 그리드 옵션 */
function createAUIGrid() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
    {
        dataField: "checkbox",
        dataType: "boolean",
        width: 80,
        headerText: "", // 텍스트 표시 안하고 체크박스만 나오게 함.
        headerStyle : "my-check-column", // 여기 주석 제거하면 큰 체크박스가 보임. 상단의 style 확인바람.
        headerRenderer: { // 헤더 렌더러
            type: "CheckBoxHeaderRenderer",
            // renderer 의 체크박스에 상호 의존적인 모드로 설정 (기본값 : false)
            dependentMode: true // dependentMode 는 renderer 의 type 으로 CheckBoxEditRenderer 를 정의할 때만 활성화됨.
        },
        renderer: {
            type: "CheckBoxEditRenderer",
            editable: true
        }
    }, {
        dataField: "category_product_name",
        headerText: "물품명",
        width: 160,
    }, {
        dataField: "category_asset_num",
        headerText: "자산번호",
        width: 180
    }, {
        dataField: "category_model_name",
        headerText: "모델명",
        width: 280
    }, {
        dataField: "category_user",
        headerText: "사용자",
        width: 160
    }, {
        dataField: "category_usage1",
        headerText: "용도1",
        width: 160
    }, {
        dataField: "category_usage2",
        headerText: "용도2",
        width: 160
    }, {
        dataField: "category_application_type",
        headerText: "신청구분",
        width: 160
    }, {
        dataField: "category_application_content",
        headerText: "신청내용",
        width: 160
    }, {
        dataField: "category_place",
        headerText: "사용장소",
        width: 160
    }, {
        dataField: "category_asset_status",
        headerText: "자산상태",
        width: 160
    }, {
        dataField: "category_note",
        headerText: "비고",
        width: 160
    }]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        selectionMode: "multipleCells",
        /*enableDrag: true,*/ // 드래깅 행 이동 가능 여부 (기본값 : false)
        /*enableMultipleDrag: true,*/ // 다수의 행을 한번에 이동 가능 여부(기본값 : true)
        /*enableDragByCellDrag: true,*/ // 셀에서 바로  드래깅 해 이동 가능 여부 (기본값 : false) - enableDrag=true 설정이 선행
        /*enableDrop: true,*/ // 드랍 가능 여부 (기본값 : true)
        /*editable: true,*/
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        /*pageRowCount: 10,*/ // 한 화면에 출력되는 행 개수 30개로 지정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        /* autoGridHeight : true */
    }

    /* 그리드 생성 */
    myGridID = AUIGrid.create("#grid_wrap", columnLayout, gridPros);
}
function createPopupAUIGrid2(){
    /* 팝업 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout2 = [
        {
            dataField: "category_user_name",
            headerText: "사용자명",
            width: 180
        }, {
            dataField: "category_department",
            headerText: "부서",
            width: 160
        }]
    /* 2. 그리드 속성 설정 */
    let gridPros2 = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        pageRowCount: 12, // 한 화면에 출력되는 행 개수 30개로 지정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        fillColumnSizeMode: true, // 가로 스크롤 없이 현재 그리드 영역에 채우기 모드
    }

    /* 그리드 생성 */
    popup_grid_user = AUIGrid.create("#popup_grid_user", columnLayout2, gridPros2);
}

/* 4. 데이터 불러오기 */
function requestData() {
    $.get("../resources/lib/aui-grid/data/sample-datas.json", function (data) {
        AUIGrid.setGridData(myGridID, data);
    });
}
function requestData2() {
    $.get("../resources/lib/aui-grid/data/sample-datas2.json", function (data) {
        AUIGrid.setGridData(popup_grid_user, data);
    });
}

/* 5. AUIGrid 그리드 윈도우 리사이징 이벤트 */
window.onresize = function () {
    if (typeof myGridID !== "undefined") {
        AUIGrid.resize(myGridID);
    } else if (typeof popup_grid_user !== "undefined"){
        AUIGrid.resize(popup_grid_user);
    }
}
</script>
</body>
</html>
