 <!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>부서 사용자별 자산조회</title>

    <!-- jQuery -->
    <script src="../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <link rel="stylesheet" href="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">

    <!-- AUI grid -->
    <script src="../resources/lib/aui-grid/js/AUIGridLicense.js"></script>
    <script src="../resources/lib/aui-grid/js/AUIGrid.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/ajax.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/common.js"></script>

    <link rel="stylesheet" href="../resources/lib/aui-grid/css/AUIGrid_style.css">

    <!--font-awesome -->
    <link rel="stylesheet" href="../resources/lib/font-awesome/css/all.min.css">

    <!-- 개별 소스 -->
    <link rel="stylesheet" href="../resources/css/main.css">
    <script src="../resources/js/main.js"></script>
    <script src="../resources/js/grid.js"></script>
    <style>
        .aui-grid-button-renderer{width:95px;}
    </style>
</head>
<body>

<!-- contents -->
<div id="wrapper">

    <div class="contents active">
        <div class="page-indicator">
            <ul>
                <li><i class="fa-solid fa-house"></i></li>
                <li>자산현황</li>
                <li>부서 사용자별 자산조회</li>
            </ul>
        </div>
        <div class="title-box">
            <div class="title">
                <h3>부서 사용자별</h3>
            </div>
        </div>
        <div class="input-wrap">
            <div class="input-lists">
                <div class="input-list">
                    <span class="input-title">부서명</span>
                    <label class="input search">
                        <input type="text" value="IT운영">
                        <button type="button" data-label="readonly" onclick="hide_open();createUserAssetManagementStatusGrid();"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </label>
                </div>
            </div>
        </div>

        <div class="title-box hide-ver">
            <div class="title">
                <h3>부서 사용자별 자산 현황</h3>
            </div>
        </div>
        <div id="userAssetManagementStatusGrid_ID" class="grid-box grid-10"></div>

        <div class="title-box hide-ver2">
            <div class="title">
                <h3>세부 관리 자산 내역</h3>
            </div>
            <div class="btn-wrap">
                <a href="#" download="test.txt" class="btn excel">엑셀다운로드</a>
            </div>
        </div>
        <div id="assetDetailGrid_ID" class="grid-box grid-12tw"></div>

        <!-- 간이 버튼 모음 주석처리 -->
        <!--
        <div class="btn-wrap">
            <button type="button" class="btn" onclick="lp_open('gridPop_detail','자산정보',1250,500);">자산정보</button>
        </div>
        -->
    </div>
</div>
<!-- // contents -->

<!-- 팝업 -->
<!-- 부서 검색 -->
<div id="gridPop_department" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div class="input-wrap">
                <div class="input-list">
                    <span class="input-title">부서</span>
                    <label class="input search">
                        <input type="text">
                        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </label>
                </div>
            </div>
            <div id="popup_grid_department" class="grid-box"></div>
        </div>
    </div>
</div>
<!-- 자산 정보 -->
<div id="gridPop_detail" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div class="custom-table">
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center">물품종류</div></div>
                    <div class="td"><div class="td-wrap">모니터</div></div>
                    <div class="th"><div class="th-wrap center">품목</div></div>
                    <div class="td"><div class="td-wrap">27인치</div></div>
                    <div class="th"><div class="th-wrap center">자산번호</div></div>
                    <div class="td"><div class="td-wrap">4763728</div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>자산상태</p></div></div>
                    <div class="td"><div class="td-wrap"><p>운영</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>모델</p></div></div>
                    <div class="td"><div class="td-wrap"><p>LG-MO-27MD</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>규격#1</p></div></div>
                    <div class="td"><div class="td-wrap"><p></p></div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>규격#2</p></div></div>
                    <div class="td"><div class="td-wrap"><p></p></div></div>
                    <div class="th"><div class="th-wrap center"><p>규격#3</p></div></div>
                    <div class="td"><div class="td-wrap"><p></p></div></div>
                    <div class="th"><div class="th-wrap center"><p>규격#4</p></div></div>
                    <div class="td"><div class="td-wrap"><p></p></div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>규격#5</p></div></div>
                    <div class="td"><div class="td-wrap"><p></p></div></div>
                    <div class="th"><div class="th-wrap center"><p>공용</p></div></div>
                    <div class="td">
                        <div class="td-wrap">
                            <label class="check">
                                <input type="checkbox">
                                <span>(공용이라면 체크)</span>
                            </label>
                        </div>
                    </div>
                    <div class="th"><div class="th-wrap center"><p>도입일</p></div></div>
                    <div class="td"><div class="td-wrap"><p>2022-06-17</p></div></div>
                </div>
                <div class="row con-2">
                    <div class="th"><div class="th-wrap center"><p>자산위치</p></div></div>
                    <div class="td">
                        <div class="td-wrap">
                            <label class="select medium">
                                <select>
                                    <option value="">행정동</option>
                                    <option value="">행정동</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="th"><div class="th-wrap center"><p>상세위치</p></div></div>
                    <div class="td">
                        <div class="td-wrap">
                            <label class="input">
                                <input type="text" value="1층 IT 운영부">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="title-box">
                <div class="title">
                    <h3>사용자정보</h3>
                </div>
            </div>
            <div class="custom-table">
                <div class="row con-2">
                    <div class="th"><div class="th-wrap center"><p>사용자</p></div></div>
                    <div class="td"><div class="td-wrap"><p>홍길동</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>부서</p></div></div>
                    <div class="td"><div class="td-wrap"><p>IT운영</p></div></div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap center"><p>사번</p></div></div>
                    <div class="td"><div class="td-wrap"><p>756398</p></div></div>
                </div>
            </div>

            <div class="btn-wrap">
                <button type="button" class="btn save">저장</button>
                <button type="button" class="btn"onclick="lp_close('gridPop_detail')">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- // 팝업 -->
<script>
/* AUIGrid */
/* 1. AUIGrid 생성 후 반환 ID */
let userAssetManagementStatusGrid_ID;
let assetDetailGrid_ID;

/* 2. AUIGrid 그리드 생성 + 데이터 요청 */

/* 3. AUIGrid 그리드 옵션 */
/* [현황] */
let count = 0;
function createUserAssetManagementStatusGrid() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [];

    columnLayout[0] = {
        dataField: "id",
        headerText: "아이디",
        visible:false
    }
    columnLayout[1] = {
        dataField: "category_user_name",
        headerText: "사용자명",
        width: 160,
    }
    columnLayout[2] = {
        dataField: "category_product_desktop",
        headerText: "데스크탑",
        width: 160,
    }
    columnLayout[3] = {
        dataField: "category_product_laptop",
        headerText: "노트북",
        width: 160,
    }
    columnLayout[4] = {
        dataField: "category_product_monitor",
        headerText: "모니터",
        width: 160,
    }
    columnLayout[5] = {
        dataField: "category_product_printer",
        headerText: "프린터",
        width: 160,
    }

    /* 1-2. 푸터 설정 */
    let footerLayout = [{
        labelText: "전체",
        positionField: "category_user_name"
    }, {
        dataField: "category_product_desktop",
        positionField: "category_product_desktop",
        operation: "SUM",
        style: "aui-grid-my-column",
        formatString: "#,##0"
    }, {
        dataField: "category_product_laptop",
        positionField: "category_product_laptop",
        operation: "SUM",
        style: "aui-grid-my-column",
        formatString: "#,##0"
    }, {
        dataField: "category_product_monitor",
        positionField: "category_product_monitor",
        operation: "SUM",
        style: "aui-grid-my-column",
        formatString: "#,##0"
    }, {
        dataField: "category_product_printer",
        positionField: "category_product_printer",
        operation: "SUM",
        style: "aui-grid-my-column",
        formatString: "#,##0"
    }, {
        dataField: "category_product_count",
        positionField: "category_product_count",
        operation: "SUM",
        style: "aui-grid-my-column",
        formatString: "#,##0",
    }];
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        rowIdField: "id",
        selectionMode: "multipleCells",
        showFooter: true,
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        fillColumnSizeMode: true,
        pageRowCount: 10, // 한 화면에 출력되는 행 개수 30개로 지정
        // autoGridHeight : true
    }

    /* 총 수량 */
    columnLayout.push({
        headerText: "총 보유자산",
        dataField: "category_product_count",  // 임의로 지정하십시오. expFunction 에서 반환된 값이 여기에 보관됩니다.
        formatString: "#,##0",
        width: 120,
        expFunction: function (rowIndex, columnIndex, item) { // 여기서 실제로 출력할 값을 계산해서 리턴시킴.
            // 1~4 분기 합을 계산하여 반환
            // expFunction 의 리턴형은 항상 Number 여야 합니다.(즉, 수식만 가능)
            return (item.category_product_desktop + item.category_product_laptop + item.category_product_monitor + item.category_product_printer);
        },
        renderer: {
            type: "ButtonRenderer",
            onClick: function (event) {
                if(count === 0) {
                    count++;
                    hide_open2();
                    createAssetDetailGrid();
                    requestAssetDetailGridData();
                    setTimeout(function(){
                        let currentName = event.item.category_user_name;
                        let comparisonObj = AUIGrid.getOrgGridData(assetDetailGrid_ID);

                        AUIGrid.clearFilterAll(assetDetailGrid_ID);

                        comparisonObj.forEach((i) => {
                            if(currentName === i.category_user){
                                AUIGrid.setFilterByValues(assetDetailGrid_ID, "category_user", i.category_user);
                            }
                        });
                    },150);
                }
                let currentName = event.item.category_user_name;
                let comparisonObj = AUIGrid.getOrgGridData(assetDetailGrid_ID);

                AUIGrid.clearFilterAll(assetDetailGrid_ID);

                comparisonObj.forEach((i) => {
                    if(currentName === i.category_user){
                        AUIGrid.setFilterByValues(assetDetailGrid_ID, "category_user", i.category_user);
                    }
                });

            },
        }

    });

    /* 그리드 생성 */
    userAssetManagementStatusGrid_ID = AUIGrid.create("#userAssetManagementStatusGrid_ID", columnLayout, gridPros);
    // 푸터 레이아웃 세팅
    AUIGrid.setFooter(userAssetManagementStatusGrid_ID, footerLayout);
    requestUserAssetManagementStatusGridData();

    AUIGrid.bind(userAssetManagementStatusGrid_ID, "footerClick", function (event) {
        if(event.footerIndex === 6){
            AUIGrid.clearFilterAll(userAssetManagementStatusGrid_ID);
        }
    });
}
function createAssetDetailGrid() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
       {
            dataField: "category_product_name",
            headerText: "물품명",
            width: 160,
           filter: {
               showIcon: true,
           }
        }, {
            dataField: "category_asset_num",
            headerText: "자산번호",
            width: 180,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_model_name",
            headerText: "모델명",
            width: 280,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_user",
            headerText: "사용자",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_usage1",
            headerText: "용도1",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_usage2",
            headerText: "용도2",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_application_type",
            headerText: "신청구분",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_application_content",
            headerText: "신청내용",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_place",
            headerText: "사용장소",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_asset_status",
            headerText: "자산상태",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_note",
            headerText: "비고",
            width: 160,
            filter: {
                showIcon: true,
            }
        }]
    /* 20231016 : 2. 그리드 속성 설정 */
    let gridPros = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        /* 사이즈 지정 */
        headerHeight : 30, // 기본 헤더 높이 지정
        /* 페이지네이션 */
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        pageRowCount: 12, // 한 화면에 출력되는 행 개수 30개로 지정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        /* 그리드 복사 */
        copyDisplayValue: true, //그리드 데이터 복사 가능
        /* 필터 */
        enableFilter: true, // 필터 true 설정
    }

    /* 그리드 생성 */
    assetDetailGrid_ID = AUIGrid.create("#assetDetailGrid_ID", columnLayout, gridPros);

    /* 20231016 : 더블 클릭시 팝업 */
    AUIGrid.bind(assetDetailGrid_ID, "cellDoubleClick", function(event) {
        lp_open("gridPop_detail","자산정보",1250,450);
    });

}

/* 4. 데이터 불러오기 */
function requestUserAssetManagementStatusGridData() {
    $.get("../resources/lib/aui-grid/data/sample-datas20.json", function (data) {
        AUIGrid.setGridData(userAssetManagementStatusGrid_ID, data);
    });
}
function requestAssetDetailGridData() {
    $.get("../resources/lib/aui-grid/data/sample-datas.json", function (data) {
        AUIGrid.setGridData(assetDetailGrid_ID, data);
    });
}
/* 5. AUIGrid 그리드 윈도우 리사이징 이벤트 */
window.onresize = function () {
    if (typeof assetDetailGrid_ID !== "undefined") {
        AUIGrid.resize(assetDetailGrid_ID);
    }
    if (typeof userAssetManagementStatusGrid_ID !== "undefined"){
        AUIGrid.resize(userAssetManagementStatusGrid_ID);
    }
}

/* 6. 함수 관련 모음 */
/* 메뉴 버튼 클릭시 (반응형) */
$(document).on("click",".menu-btn",function(){
    let innerWidth = $(".contents").innerWidth() - 40;
    if($(".contents").hasClass("active")){
        innerWidth = innerWidth + 260;
        setTimeout(function(){
            AUIGrid.resize(userAssetManagementStatusGrid_ID, innerWidth);
            AUIGrid.resize(assetDetailGrid_ID, innerWidth);
        },20);

    } else{
        innerWidth = innerWidth - 260;
        setTimeout(function(){
            AUIGrid.resize(userAssetManagementStatusGrid_ID, innerWidth);
            AUIGrid.resize(assetDetailGrid_ID, innerWidth);
        },20);
    }
});
</script>
</body>
</html>
