<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>장애신고</title>

    <!-- jQuery -->
    <script src="../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <link rel="stylesheet" href="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">

    <!-- AUI grid -->
    <script src="../resources/lib/aui-grid/js/AUIGridLicense.js"></script>
    <script src="../resources/lib/aui-grid/js/AUIGrid.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/ajax.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/common.js"></script>

    <link rel="stylesheet" href="../resources/lib/aui-grid/css/AUIGrid_style.css">

    <!--font-awesome -->
    <link rel="stylesheet" href="../resources/lib/font-awesome/css/all.min.css">

    <!-- 개별 소스 -->
    <link rel="stylesheet" href="../resources/css/main.css">
    <script src="../resources/js/main.js"></script>
    <script src="../resources/js/grid.js"></script>
</head>
<body id="guide">

<!-- contents -->
<div id="wrapper">

    <div class="contents active">
        <div class="page-indicator">
            <ul>
                <li><i class="fa-solid fa-house"></i></li>
                <li>장애신고</li>
                <li>장애신고</li>
            </ul>
        </div>
        <div class="title-box">
            <div class="title">
                <h3>신청자정보</h3>
            </div>
        </div>
        <div class="custom-table">
            <div class="row con-4">
                <div class="th"><div class="th-wrap center">신청자</div></div>
                <div class="td">
                    <div class="td-wrap">홍길동</div>
                </div>
                <div class="th"><div class="th-wrap center">사번</div></div>
                <div class="td"><div class="td-wrap">023486</div></div>
                <div class="th"><div class="th-wrap center">부서명</div></div>
                <div class="td"><div class="td-wrap">IT운영</div></div>
                <div class="th"><div class="th-wrap center"><p class="important">내선번호</p></div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="title-box">
            <div class="title">
                <h3>장애 대상 목록</h3>
            </div>
            <div class="btn-wrap">
                <button type="button" class="btn add-column" onclick="lp_open('gridPop_disabledAddRow','장애대상 추가',1230,540);">추가</button>
            </div>
        </div>
        <!-- 장애 대상 목록 그리드 -->
        <div id="grid_wrap" class="grid-box h-small"></div>

        <div class="title-box">
            <div class="title">
                <h3>장애요청내용</h3>
            </div>
        </div>
        <div class="desc-box">
            <label class="input">
                <textarea rows="6"></textarea>
            </label>
        </div>

        <div class="btn-wrap form">
            <button type="button" class="btn save">저장</button>
            <button type="button" class="btn primary send" data-popup="submit_pop">상신</button>
        </div>

        <div class="btn-wrap">
            <button type="button" class="btn" onclick="lp_open('gridPop_user','사용자 검색',505,530)">사용자 검색</button>
            <button type="button" class="btn asset" onclick="lp_open('gridPop_disabledAddRow','장애대상 추가',1230,540);">장애대상 추가</button>
        </div>

        <div class="btn-wrap" style="margin-top:10px;">
            <button type="button" class="btn" onclick="lp_open('submit_pop','결재상신 화면',900,860)">결재상신 화면</button>
            <button type="button" class="btn" onclick="lp_open('submitSearch_pop','Search Employee',800,860)">상신 > 검색조건 팝업</button>
            <button type="button" class="btn" onclick="lp_open('submitApprovalChange_pop','Search Employee',800,530)">상신 > 결재선 변경 팝업</button>
            <button type="button" class="btn" onclick="openWindowPop('../views/previewApproval.html','미리보기')">상신 > 미리보기</button>
        </div>
    </div>
</div>
<!-- // contents -->

<!-- 팝업 -->

<!--[팝업] 장애대상 추가 -->
<div id="gridPop_disabledAddRow" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div id="popup_grid_disabledAddRow" class="grid-box l-grid"></div>
            <div class="btn-wrap">
                <button type="button" class="btn save" onclick="lp_close('gridPop_disabledAddRow')">저장</button>
            </div>
        </div>
    </div>
</div>

<!-- 상신 -->
<div id="submit_pop" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div class="custom-table design-ver">
                <div class="row">
                    <div class="th"><div class="th-wrap">상신제목</div></div>
                    <div class="td"><div class="td-wrap">[정보자산관리시스템]신규신청</div></div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap">결재경로</div></div>
                    <div class="td">
                        <div class="td-wrap column">
                            <ul class="submit-list">
                                <li>
                                    <p>결재</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>협조결재</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>결재참조</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>병렬결재</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>병렬협조결재</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>참조</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>수신</p>
                                    <span>[07]</span>
                                </li>
                            </ul>
                            <div class="btn-wrap end">
                                <button type="button" class="btn" onclick="moveRowsToDown()";><i class="fa-solid fa-chevron-down"></i></button>
                                <button type="button" class="btn" onclick="moveRowsToUp();"><i class="fa-solid fa-chevron-up"></i></button>
                                <button type="button" class="btn" onclick="lp_open('submitSearch_pop','Search Employee',800,860)">결재선추가</button>
                            </div>
                            <div id="popup_grid_submitList" class="grid-box"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap">첨부파일</div></div>
                    <div class="td">
                        <div class="td-wrap column">
                            <div class="title-box end ">
                                <div class="btn-wrap add-file-wrap">
                                    <label class="file">
                                        <input type="file">
                                        <span class="btn add-file">파일추가</span>
                                    </label>
                                    <button type="button" class="btn trash">선택 삭제</button>
                                </div>
                            </div>
                            <div class="table">
                                <table>
                                    <colgroup>
                                        <col style="width:50px">
                                        <col style="width:calc(100% - 50px);">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="th-wrap center">
                                                <label class="check no-text">
                                                    <input type="checkbox">
                                                    <span></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th><p>자산분류</p></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="td-wrap center">
                                                <label class="check no-text">
                                                    <input type="checkbox">
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="td-wrap">
                                                <div class="file-box long">
                                                    <label class="file">
                                                        <input type="file" class="fileUpload">
                                                        <span class="btn">파일선택</span>
                                                    </label>
                                                    <span>선택된 파일 없음</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap">상신의견</div></div>
                    <div class="td">
                        <div class="td-wrap column">
                            <label class="input textarea">
                                <textarea rows="3"></textarea>
                            </label>
                            <span class="count-words"><span>0</span> / 500</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-wrap">
                <button type="button" class="btn" onclick="openWindowPop('../views/previewApproval.html','미리보기')">미리보기</button>
                <button type="button" class="btn primary send">상신</button>
            </div>
        </div>
    </div>
</div>
<div id="submitSearch_pop" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>검색조건</h4>
                    </div>
                    <div class="btn-wrap">
                        <button type="button" class="btn search">조회</button>
                    </div>
                </div>
                <div class="input-wrap search-ver">
                    <div class="input-list">
                        <span class="input-title">성명</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">Circle ID</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">부서명</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list whole">
                        <span class="input-title">결재종류</span>
                        <div class="check-wrap">
                            <label class="check">
                                <input type="radio" name="a">
                                <span>결재</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>협조결재</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>결재참조</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>병렬협조결재</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>결재참조</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>참조</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>수신</span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>검색한 임직원</h4>
                    </div>
                </div>
                <div class="box-wrap">
                    <div id="popup_subGrid_searchExecutives" class="grid-box h-small"></div>
                </div>
            </div>
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>결재라인에 추가할 임직원</h4>
                    </div>
                </div>
                <div class="box-wrap">
                    <div id="popup_subGrid_addExecutives" class="grid-box h-small"></div>
                </div>
            </div>
            <div class="btn-wrap">
                <button type="button" class="btn">추가</button>
            </div>
        </div>
    </div>
</div>
<div id="submitApprovalChange_pop" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>검색조건</h4>
                    </div>
                    <div class="btn-wrap">
                        <button type="button" class="btn search">조회</button>
                    </div>
                </div>
                <div class="input-wrap search-ver">
                    <div class="input-list">
                        <span class="input-title">성명</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">Circle ID</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">부서명</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>검색한 임직원</h4>
                    </div>
                </div>
                <div class="box-wrap">
                    <div id="popup_subGrid_approvalChange" class="grid-box h-small"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // 팝업 -->

<script>
/* AUIGrid */
/* 1. AUIGrid 생성 후 반환 ID */
let disabledList_ID; // 장애 대상 목록

/* 2. AUIGrid 그리드 생성 + 데이터 요청 */
createDisabledListGrid(); // 장애 대상 목록

requestDisabledData();

/* 3. AUIGrid 그리드 옵션 */
function createDisabledListGrid() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {
            dataField: "id",
            headerText: "아이디",
            visible:false
        }, {
            dataField: "category_product_name",
            headerText: "물품명",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_asset_num",
            headerText: "자산번호",
            width: 180,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_item_name",
            headerText: "모델명",
            width: 280,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_user_name",
            headerText: "발생자",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_use_type",
            headerText: "용도1",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_use_type2",
            headerText: "용도2",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_order",
            headerText: "신청구분",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_description",
            headerText: "신청내용",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_place",
            headerText: "사용장소",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_asset_state",
            headerText: "자산상태",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_note",
            headerText: "비고",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_del_btn", // 임의의 고유값
            headerText: "",
            renderer: {
                type: "IconRenderer",
                iconWidth:12, // icon 사이즈, 지정하지 않으면 rowHeight에 맞게 기본값 적용됨
                iconHeight:16,
                iconPosition: "aisleCenter",
                iconTableRef: { // icon 값 참조할 테이블 레퍼런스
                    "default": "../resources/img/icon/icon_delete.svg" // default
                },
                onClick: function (event) {
                    AUIGrid.removeRow(disabledList_ID, "selectedIndex");

                    let row = AUIGrid.getSelectedRows(disabledList_ID);
                    AUIGrid.addRow(popup_grid_disabledAddRow, row, "last");
                }
            }
        },]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        rowIdField: "id",
        showRowCheckColumn: false,// 엑스트라 체크박스 표시 설정
        enableRowCheckShiftKey: true,
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        autoGridHeight : true,
        fillColumnSizeMode:true,
        softRemoveRowMode: false,// 소프트 제거 모드 사용 안함
        copyDisplayValue: true, //그리드 데이터 복사 가능
        editable: false, // 수정가능여부, 그리드 데이터 수정 가능
        enableFilter: true, // 필터 true 설정
    }

    /* 그리드 생성 */
    disabledList_ID = AUIGrid.create("#grid_wrap", columnLayout, gridPros);

    $('.menu-btn').on('click',function(){
        AUIGrid.destroy('#grid_wrap');
        setTimeout(function(){
            AUIGrid.create("#grid_wrap", columnLayout, gridPros);
            requestDisabledData();
        },200);
    })
}

/* 4. 데이터 불러오기 */
function requestDisabledData() {
    $.get("../resources/lib/aui-grid/data/sample-datas13.json", function (data) {
        AUIGrid.setGridData(disabledList_ID, data);
    });
}

/* 5. AUIGrid 그리드 윈도우 리사이징 이벤트 */
window.onresize = function () {
    if (typeof disabledList_ID !== "undefined") {
        AUIGrid.resize(disabledList_ID);
    }
}

/* 6. 함수 관련 */
/* 행 추가 */
let cnt = 0;
function addRow() {
    var item = new Object();
    item.id = "grid_ID_1" + (++cnt),
        item.category_product = '',
        item.category_item = '',
        item.category_amount = '',

        // parameter
        // item : 삽입하고자 하는 아이템 Object 또는 배열(배열인 경우 다수가 삽입됨)
        // rowPos : rowIndex 인 경우 해당 index 에 삽입, first : 최상단, last : 최하단, selectionUp : 선택된 곳 위, selectionDown : 선택된 곳 아래
        AUIGrid.addRow(disabledList_ID, item, "first");
};

/* 저장 클릭시 GRID1로 행 추가 */
$("#gridPop_disabledAddRow .btn.save").on("click", function(){
    let rows = AUIGrid.getCheckedRowItems(popup_grid_disabledAddRow);
    if(rows.length < 1){
        alert("체크된 데이터가 없습니다.");
        return;
    }

    for(let i=0; i < rows.length; i++){
        AUIGrid.addRow(disabledList_ID, rows[i].item, "last");
        AUIGrid.removeCheckedRows(popup_grid_disabledAddRow);
    }

    $("#gridPop_disabledAddRow").removeClass("open");
})

</script>
</body>
</html>
