<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>자산실사</title>

    <!-- jQuery -->
    <script src="../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <link rel="stylesheet" href="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">

    <!-- AUI grid -->
    <script src="../resources/lib/aui-grid/js/AUIGridLicense.js"></script>
    <script src="../resources/lib/aui-grid/js/AUIGrid.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/ajax.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/common.js"></script>

    <link rel="stylesheet" href="../resources/lib/aui-grid/css/AUIGrid_style.css">

    <!--font-awesome -->
    <link rel="stylesheet" href="../resources/lib/font-awesome/css/all.min.css">

    <!-- 개별 소스 -->
    <link rel="stylesheet" href="../resources/css/main.css">
    <script src="../resources/js/main.js"></script>
</head>
<body id="guide">

<!-- contents -->
<div id="wrapper">

    <div class="contents active">
        <div class="page-indicator">
            <ul>
                <li><i class="fa-solid fa-house"></i></li>
                <li>자산실사</li>
                <li>자산실사</li>
            </ul>
        </div>
        <div class="input-wrap a-end">
            <div class="input-lists">
                <div class="input-list">
                    <span class="input-title">부서</span>
                    <label class="input search">
                        <input type="text">
                        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </label>
                </div>
                <div class="input-list medium">
                    <span class="input-title">기간</span>
                    <div class="date-wrap">
                        <label class="date">
                            <input type="text">
                        </label>
                        <span>~</span>
                        <label class="date">
                            <input type="text">
                        </label>
                    </div>
                </div>
                <div class="input-list medium">
                    <span class="input-title">조사결과</span>
                    <label class="select">
                        <select>
                            <option value="">존재</option>
                            <option value="">미존재</option>
                            <option value="">미확인</option>
                        </select>
                    </label>
                </div>
            </div>
            <button type="button" class="btn search">검색</button>
        </div>

        <div class="list-box only">
            <ul class="quantity-list">
                <li>
                    <button type="button">
                        <span class="quantity orange">
                            <span class="num">4</span>
                            <span class="name">총수량</span>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="quantity blue">
                            <span class="num">2</span>
                            <span class="name">PC</span>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="quantity green">
                            <span class="num">2</span>
                            <span class="name">모니터</span>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="quantity purple">
                            <span class="num">1</span>
                            <span class="name">마우스</span>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="quantity gray">
                            <span class="num">3</span>
                            <span class="name">스피커</span>
                        </span>
                    </button>
                </li>
            </ul>
        </div>

        <div class="title-box end">
            <div class="btn-wrap">
                <button type="button" class="btn add-column" onclick="addRow()">추가</button>
                <a href="#" download="test.txt" class="btn excel">엑셀다운로드</a>
            </div>
        </div>
        <div id="dueDiglienceGrid_ID" class="grid-box h-medium"></div>
    </div>
</div>
<!-- // contents -->

<style>
    .my-cell-style {
        background: #fff;
        font-weight: bold;
        color: #FF007F;
    }
    .my-column-style {
        background: #eeeeee;
        color: #005500;
        font-weight: bold;
    }
</style>

<script>
/* AUIGrid */
/* 1. AUIGrid 생성 후 반환 ID */
let dueDiglienceGrid_ID;

/* 1-2. dropdown menu 리스트 */
let groupList = ["존재", "미존재"]; //-- 드랍다운리스트에 출력할 리스트들...서버 사이드(PHP, JSP, ASP 등)에서 해당 리스트를 매핑하십시오.

/* 2. AUIGrid 그리드 생성 + 데이터 요청 */
function documentReady() {
    /* 그리드 생성 */
    createDueDiglienceGrid();

    /* 그리드 삽입 */
    requestDueDiglienceGridData();

}

/* 3. AUIGrid 그리드 옵션 */
function createDueDiglienceGrid() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {
            dataField: "id",
            headerText: "아이디",
            visible:false
        }, {
            dataField: "category_asset_num",
            headerText: "자산번호",
            width: 180,
            filter: {
                showIcon: true,
            },
        }, {
            dataField: "category_product_name",
            headerText: "물품명",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_item_name",
            headerText: "품목명",
            width: 280,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_department",
            headerText: "부서명",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_user_name",
            headerText: "사용자명",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_before_change",
            headerText: "변경전",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_after_change",
            headerText: "변경후",
            width: 160,
            filter: {
                showIcon: true,
            },
            renderer: {
                type: "DropDownListRenderer",
                list: groupList,
            },
        }, {
            dataField: "category_reason_non_existence",
            headerText: "미존재 사유",
            width: 160,
            filter: {
                showIcon: true,
            },
        }, {
            dataField: "category_investigate_date",
            headerText: "조사일",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_investigator",
            headerText: "조사자",
            width: 160,
            filter: {
                showIcon: true,
            }
        }]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        rowIdField: "id",
        showRowCheckColumn: false,// 엑스트라 체크박스 표시 설정
        enableRowCheckShiftKey: true,
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        simplifySelectionEvent: true,
        copyDisplayValue: true, //그리드 데이터 복사 가능
        editable: true, // 수정가능여부, 그리드 데이터 수정 가능
        enableFilter: true, // 필터 true 설정
    }

    /* 그리드 생성 */
    dueDiglienceGrid_ID = AUIGrid.create("#dueDiglienceGrid_ID", columnLayout, gridPros);

    $('.menu-btn').on('click',function(){
        AUIGrid.destroy('#dueDiglienceGrid_ID');
        setTimeout(function(){
            AUIGrid.create("#dueDiglienceGrid_ID", columnLayout, gridPros);
            requestDueDiglienceGridData();
        },200);
    });
}

/* 4. 데이터 불러오기 */
function requestDueDiglienceGridData() {
    $.get("../resources/lib/aui-grid/data/sample-datas5.json", function (data) {
        AUIGrid.setGridData(dueDiglienceGrid_ID, data);
    });
}

/* 5. AUIGrid 그리드 윈도우 리사이징 이벤트 */
window.onresize = function () {
    if (typeof dueDiglienceGrid_ID !== "undefined") {
        AUIGrid.resize(dueDiglienceGrid_ID);
    }
}

/* 6. 함수 관련 */

/* 행 추가 */
let cnt = 0;
function addRow() {
    var item = new Object();

    function formatDate(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        const hours = String(date.getHours()).padStart(2, '0');
        const minutes = String(date.getMinutes()).padStart(2, '0');
        const seconds = String(date.getSeconds()).padStart(2, '0');

        return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
    }

// 사용 예시:
    const now = new Date();
    const formattedDate = formatDate(now);

    item.id = "grid_ID_1" + (++cnt),
        item.category_asset_num = '',
        item.category_product_name = '',
        item.category_item_name = '',
        item.category_department = '',
        item.category_user_name = '',
        item.category_before_change = '추가',
        item.category_after_change = '존재',
        item.category_reason_non_existence = '',
        item.category_investigate_date = formattedDate,
        item.category_investigator = '',


        // parameter
        // item : 삽입하고자 하는 아이템 Object 또는 배열(배열인 경우 다수가 삽입됨)
        // rowPos : rowIndex 인 경우 해당 index 에 삽입, first : 최상단, last : 최하단, selectionUp : 선택된 곳 위, selectionDown : 선택된 곳 아래
        AUIGrid.addRow(dueDiglienceGrid_ID, item, "last");
};

/* 필수 입력 값이 입력되었는지 검사 */
// 필수로 설정해야 하는 필드들의 값이 모두 입력되었는지 검사
function validateGridData() {

    // name 과 country 는 필수로 입력되어야 하는 필드임. 이것을 검사
    var isValid = AUIGrid.validateGridData(dueDiglienceGrid_ID, "category_asset_num", "자산 번호는 반드시 입력해야 합니다.");

    // 다른 JS 에서 제공하는 toast 나 alert 으로 경고문을 띄우고자 하는 경우 다음처럼 message 파라메터 생략.
    // AUIGrid.validateGridData(myGridID, ["name", "country"]);

    if (isValid) {
        alert("저장되었습니다");
    }
};

/* 서비스상태 버튼을 눌렀을 때, 그리드 필터링 이벤트 함수 */
$(".quantity-list li button").each(function(){
    $(this).on("click",function(){
        let name = $(this).find('.name').text();
        let comparisonObj = AUIGrid.getOrgGridData(dueDiglienceGrid_ID);

        AUIGrid.clearFilterAll(dueDiglienceGrid_ID);

        comparisonObj.forEach((i) => {
            if(name === i.category_product_name){
                AUIGrid.setFilterByValues(dueDiglienceGrid_ID, "category_product_name", i.category_product_name);
            }
        })
    })
})

</script>
</body>
</html>
