<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>자산실사현황</title>

    <!-- jQuery -->
    <script src="../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <link rel="stylesheet" href="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">

    <!-- AUI grid -->
    <script src="../resources/lib/aui-grid/js/AUIGridLicense.js"></script>
    <script src="../resources/lib/aui-grid/js/AUIGrid.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/ajax.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/common.js"></script>

    <link rel="stylesheet" href="../resources/lib/aui-grid/css/AUIGrid_style.css">

    <!--font-awesome -->
    <link rel="stylesheet" href="../resources/lib/font-awesome/css/all.min.css">

    <!-- 개별 소스 -->
    <link rel="stylesheet" href="../resources/css/main.css">
    <script src="../resources/js/main.js"></script>
    <script src="../resources/js/grid.js"></script>
</head>
<body>

<!-- contents -->
<div id="wrapper">

    <div class="contents active">
        <div class="page-indicator">
            <ul>
                <li><i class="fa-solid fa-house"></i></li>
                <li>자산실사</li>
                <li>자산실사현황</li>
            </ul>
        </div>
        <div class="input-wrap a-end">
            <div class="input-lists">
                <div class="input-list">
                    <span class="input-title">부서</span>
                    <label class="input search" data-place="department_search" onclick="lp_open('gridPop_department','부서 검색',505,530,this)">
                        <input type="text" data-label="department">
                        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </label>
                </div>
                <div class="input-list medium">
                    <span class="input-title">기간</span>
                    <div class="date-wrap">
                        <label class="date">
                            <input type="text">
                        </label>
                        <span>~</span>
                        <label class="date">
                            <input type="text">
                        </label>
                    </div>
                </div>
            </div>
            <button type="button" class="btn search">검색</button>
        </div>

        <div class="list-box">
            <div class="multiple-grid-wrap">
                <div class="multiple-grid-box">
                    <div class="title-box">
                        <div class="title">
                            <h3 class="list-title"><span>사용자별 현황</span></h3>
                        </div>
                    </div>
                    <div id="userStatusGrid_ID" class="grid-box h-small2"></div>
                </div>
                <div class="multiple-grid-box">
                    <div class="title-box">
                        <div class="title">
                            <h3 class="list-title"><span>자산별 현황</span></h3>
                        </div>
                        <div class="btn-wrap">
                            <button type="button" class="btn primary send" data-popup="submit_pop">결재</button>
                        </div>
                    </div>
                    <div id="assetStatusGrid_ID" class="grid-box h-small2"></div>
                </div>
            </div>
        </div>

        <div class="title-box end">
            <div class="btn-wrap">
                <button type="button" class="btn save">저장</button>
                <button type="button" class="btn add-column" onclick="addRow();">추가</button>
                <a href="#" download="test.txt" class="btn excel">엑셀다운로드</a>
            </div>
        </div>
        <div id="dueDiglienceGrid_ID" class="grid-box h-medium"></div>

        <div class="btn-wrap" style="margin-top:10px;">
            <button type="button" class="btn" onclick="lp_open('submit_pop','결재상신 화면',900,860)">결재상신 화면</button>
            <button type="button" class="btn" onclick="lp_open('submitSearch_pop','Search Employee',800,860)">상신 > 검색조건 팝업</button>
            <button type="button" class="btn" onclick="lp_open('submitApprovalChange_pop','Search Employee',800,530)">상신 > 결재선 변경 팝업</button>
            <button type="button" class="btn" onclick="openWindowPop('../views/previewApproval.html','미리보기')">상신 > 미리보기</button>
            <button type="button" class="btn" onclick="lp_open('not_complete_pop','',550, 170)">조정완료안됨</button>
        </div>
    </div>
</div>
<!-- // contents -->

<!-- 팝업 -->
<!-- 부서 검색 -->
<div id="gridPop_department" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div class="input-wrap">
                <div class="input-list">
                    <span class="input-title">부서</span>
                    <label class="input search">
                        <input type="text">
                        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </label>
                </div>
            </div>
            <div id="popup_grid_department" class="grid-box"></div>
        </div>
    </div>
</div>

<!-- 상신 -->
<div id="submit_pop" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div class="custom-table design-ver">
                <div class="row">
                    <div class="th"><div class="th-wrap">상신제목</div></div>
                    <div class="td"><div class="td-wrap">[정보자산관리시스템]신규신청</div></div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap">결재경로</div></div>
                    <div class="td">
                        <div class="td-wrap column">
                            <ul class="submit-list">
                                <li>
                                    <p>결재</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>협조결재</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>결재참조</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>병렬결재</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>병렬협조결재</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>참조</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>수신</p>
                                    <span>[07]</span>
                                </li>
                            </ul>
                            <div class="btn-wrap end">
                                <button type="button" class="btn" onclick="moveRowsToDown()";><i class="fa-solid fa-chevron-down"></i></button>
                                <button type="button" class="btn" onclick="moveRowsToUp();"><i class="fa-solid fa-chevron-up"></i></button>
                                <button type="button" class="btn" onclick="lp_open('submitSearch_pop','Search Employee',800,860)">결재선추가</button>
                            </div>
                            <div id="popup_grid_submitList" class="grid-box"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap">첨부파일</div></div>
                    <div class="td">
                        <div class="td-wrap column">
                            <div class="title-box end ">
                                <div class="btn-wrap add-file-wrap">
                                    <button type="button" class="btn add-file">파일 추가</button>
                                    <button type="button" class="btn trash">선택 삭제</button>
                                </div>
                            </div>
                            <div class="table">
                                <table>
                                    <colgroup>
                                        <col style="width:50px">
                                        <col style="width:calc(100% - 50px);">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="th-wrap center">
                                                <label class="check no-text">
                                                    <input type="checkbox">
                                                    <span></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th><p>자산분류</p></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="td-wrap center">
                                                <label class="check no-text">
                                                    <input type="checkbox">
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="td-wrap">
                                                <div class="file-box long">
                                                    <label class="file">
                                                        <input type="file" class="fileUpload">
                                                        <span class="btn">파일선택</span>
                                                    </label>
                                                    <span>선택된 파일 없음</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap">상신의견</div></div>
                    <div class="td">
                        <div class="td-wrap column">
                            <label class="input textarea">
                                <textarea rows="3"></textarea>
                            </label>
                            <span class="count-words"><span>0</span> / 500</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-wrap">
                <button type="button" class="btn" onclick="openWindowPop('../views/previewApproval.html','미리보기')">미리보기</button>
                <button type="button" class="btn primary send">상신</button>
            </div>
        </div>
    </div>
</div>
<div id="submitSearch_pop" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>검색조건</h4>
                    </div>
                    <div class="btn-wrap">
                        <button type="button" class="btn search">조회</button>
                    </div>
                </div>
                <div class="input-wrap search-ver">
                    <div class="input-list">
                        <span class="input-title">성명</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">Circle ID</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">부서명</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list whole">
                        <span class="input-title">결재종류</span>
                        <div class="check-wrap">
                            <label class="check">
                                <input type="radio" name="a">
                                <span>결재</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>협조결재</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>결재참조</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>병렬협조결재</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>병렬결재</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>참조</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>수신</span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>검색한 임직원</h4>
                    </div>
                </div>
                <div class="box-wrap">
                    <div id="popup_subGrid_searchExecutives" class="grid-box h-small"></div>
                </div>
            </div>
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>결재라인에 추가할 임직원</h4>
                    </div>
                </div>
                <div class="box-wrap">
                    <div id="popup_subGrid_addExecutives" class="grid-box h-small"></div>
                </div>
            </div>
            <div class="btn-wrap">
                <button type="button" class="btn" onclick="addingResult();">추가</button>
            </div>
        </div>
    </div>
</div>
<div id="submitApprovalChange_pop" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>검색조건</h4>
                    </div>
                    <div class="btn-wrap">
                        <button type="button" class="btn search">조회</button>
                    </div>
                </div>
                <div class="input-wrap search-ver">
                    <div class="input-list">
                        <span class="input-title">성명</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">Circle ID</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">부서명</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>검색한 임직원</h4>
                    </div>
                </div>
                <div class="box-wrap">
                    <div id="popup_subGrid_approvalChange" class="grid-box h-small"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- 상신 > 조정안됨 -->
<div id="not_complete_pop" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <p class="center">조정이 완료되지 않았습니다.</p>

            <div class="btn-wrap">
                <button type="button" class="btn" onclick="lp_close('not_complete_pop')">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- // 팝업 -->
<!--------추가----------------->
<style>
    .myField3{background-color:#ebaf88;}
    .my-custom-style *{color:red;}
    .my-custom-style3{background-color:#ebaf88;font-weight:700}
    .input-design{position:relative;}
    .input-design::after{content:'';width:calc(100% - 10px);height:calc(100% - 6px);position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);border-radius:2px;border:1px solid #aca8a8;}

</style>
<!--------추가----------------->
<script>
/* AUIGrid */
/* 1. AUIGrid 생성 후 반환 ID */
let userStatusGrid_ID; // 사용자별 현황
let assetStatusGrid_ID; // 자산별 현황
let dueDiglienceGrid_ID;

/* 1-2. dropdown menu 리스트 */
let groupList = ["선택","존재", "미존재"]; //-- 드랍다운리스트에 출력할 리스트들...서버 사이드(PHP, JSP, ASP 등)에서 해당 리스트를 매핑하십시오.
/*---------------추가----------------*/
let groupList2 = ["행정동","성수동","한남동"]
/*---------------추가----------------*/

/* 2. AUIGrid 그리드 생성 + 데이터 요청 */
createUserStatusGrid(); // 사용자별 현황
createAssetStatusGrid(); // 자산별 현황
createDueDiglienceGrid();

requestUserStatusGridData();
requestAssetStatusGridData();
requestDueDiglienceGridData();

/* 3. AUIGrid 그리드 옵션 */
/* [현황] : 사용자별 현황 */
function createUserStatusGrid() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout =[
        {
            dataField: "id",
            headerText: "아이디",
            visible:false
        }, {
            dataField: "category_user_name",
            headerText: "사용자",
            filter: {
                showIcon: true,
            },
            /* -----------추가------------*/
            headerStyle: "myField3",
            style: "my-custom-style3",
            /* -----------추가------------*/
        }, {
            dataField: "category_existence",
            headerText: "존재",
            filter: {
                showIcon: true,
            },
            /* -----------추가------------*/
            headerStyle: "myField3",
            /* -----------추가------------*/
        }, {
            dataField: "category_non_existence",
            headerText: "미존재",
            filter: {
                showIcon: true,
            },
            /* -----------추가------------*/
            headerStyle: "myField3",
            /* -----------추가------------*/
        }, {
            dataField: "category_add",
            headerText: "추가",
            filter: {
                showIcon: true,
            },
            /* -----------추가------------*/
            headerStyle: "myField3",
            /* -----------추가------------*/
        }, {
            dataField: "category_adjustment",
            headerText: "조정",
            filter: {
                showIcon: true,
            },
            /* -----------추가------------*/
            headerStyle: "myField3",
            /* -----------추가------------*/
        }, {
            dataField: "category_have_asset",
            headerText: "보유자산",
            filter: {
                showIcon: true,
            },
            /* -----------추가------------*/
            headerStyle: "myField3",
            /* -----------추가------------*/
        }, {
            dataField: "category_realtime_confirm",
            headerText: "실시확인 일자",
            filter: {
                showIcon: true,
            },
            /* -----------추가------------*/
            headerStyle: "myField3",
            /* -----------추가------------*/
        }];

    /* 1-2. 푸터 설정 */
    let footerLayout = [{
        labelText: "전체",
        positionField: "category_user_name"
    }, {
        dataField: "category_existence",
        positionField: "category_existence",
        operation: "SUM",
        style: "aui-grid-my-column",
        formatString: "#,##0"
    }, {
        dataField: "category_non_existence",
        positionField: "category_non_existence",
        operation: "SUM",
        style: "aui-grid-my-column",
        formatString: "#,##0"
    }, {
        dataField: "category_add",
        positionField: "category_add",
        operation: "SUM",
        style: "aui-grid-my-column",
        formatString: "#,##0"
    }, {
        dataField: "category_adjustment",
        positionField: "category_adjustment",
        operation: "SUM",
        style: "aui-grid-my-column",
        formatString: "#,##0"
    },{
        dataField: "category_have_asset",
        positionField: "category_have_asset",
        operation: "SUM",
        style: "aui-grid-my-column",
        formatString: "#,##0"
    }];

    /* 2. 그리드 속성 설정 */
    let gridPros = {
        /*---------추가 ------------*/
        showRowNumColumn: false, /* 앞에 표시되는 숫자 삭제*/
        /*---------추가 ------------*/
        rowIdField: "id",
        showRowCheckColumn: false,// 엑스트라 체크박스 표시 설정
        enableRowCheckShiftKey: true,
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        simplifySelectionEvent: true,
        fillColumnSizeMode: true,
        showFooter: true,
        copyDisplayValue: true, //그리드 데이터 복사 가능
        editable: false, // 수정가능여부, 그리드 데이터 수정 가능
        enableFilter: true, // 필터 true 설정
    }

    /* 그리드 생성 */
    userStatusGrid_ID = AUIGrid.create("#userStatusGrid_ID", columnLayout, gridPros);

    AUIGrid.bind(userStatusGrid_ID, "cellClick", function(event) {
        let name = AUIGrid.getOrgGridData(dueDiglienceGrid_ID);
        AUIGrid.clearFilterAll(dueDiglienceGrid_ID);
        name.forEach((i) => {
            if(event.item.category_user_name === i.category_user_name){
                AUIGrid.setFilterByValues(dueDiglienceGrid_ID, "category_user_name", i.category_user_name)
            }
        })
    });


    /* 푸터 레이아웃 생성 */
    AUIGrid.setFooter(userStatusGrid_ID, footerLayout);
}

/* [현황] : 자산별 현황 */
function createAssetStatusGrid() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [];
    columnLayout[0] = {
        dataField: "id",
        headerText: "아이디",
        visible:false
    }
    columnLayout[1] = {
        dataField: "category_item_name",
        headerText: "품목명",
        width: 160,
        filter: {
            showIcon: true,
        },
        /* -----------추가------------*/
        headerStyle: "myField3",
        style: "my-custom-style3",
        /* -----------추가------------*/
    }
    columnLayout[2] = {
        dataField: "category_existence",
        headerText: "존재",
        filter: {
            showIcon: true,
        },
        /* -----------추가------------*/
        headerStyle: "myField3",
        /* -----------추가------------*/
    }
    columnLayout[3] = {
        dataField: "category_non_existence",
        headerText: "미존재",
        filter: {
            showIcon: true,
        },
        /* -----------추가------------*/
        headerStyle: "myField3",
        /* -----------추가------------*/
    }
    columnLayout[4] = {
        dataField: "category_add",
        headerText: "추가",
        filter: {
            showIcon: true,
        },
        /* -----------추가------------*/
        headerStyle: "myField3",
        /* -----------추가------------*/
    }
    columnLayout[5] = {
        dataField: "category_adjustment",
        headerText: "조정",
        filter: {
            showIcon: true,
        },
        /* -----------추가------------*/
        headerStyle: "myField3",
        /* -----------추가------------*/

    }

    /* 1-2. 푸터 설정 */
    let footerLayout = [{
        labelText: "전체",
        positionField: "category_item_name"
    }, {
        dataField: "category_existence",
        positionField: "category_existence",
        operation: "SUM",
        style: "aui-grid-my-column",
        formatString: "#,##0"
    }, {
        dataField: "category_non_existence",
        positionField: "category_non_existence",
        operation: "SUM",
        style: "aui-grid-my-column",
        formatString: "#,##0"
    }, {
        dataField: "category_add",
        positionField: "category_add",
        operation: "SUM",
        style: "aui-grid-my-column",
        formatString: "#,##0"
    }, {
        dataField: "category_adjustment",
        positionField: "category_adjustment",
        operation: "SUM",
        style: "aui-grid-my-column",
        formatString: "#,##0"
    }, {
        dataField: "category_product_count",
        positionField: "category_product_count",
        operation: "SUM",
        style: "aui-grid-my-column",
        formatString: "#,##0"
    }];

    /* 2. 그리드 속성 설정 */
    let gridPros = {
        /*---------추가 ------------*/
        showRowNumColumn: false, /* 앞에 표시되는 숫자 삭제*/
        /*---------추가 ------------*/
        rowIdField: "id",
        showRowCheckColumn: false,// 엑스트라 체크박스 표시 설정
        enableRowCheckShiftKey: true,
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        simplifySelectionEvent: true,
        showFooter: true,
        copyDisplayValue: true, //그리드 데이터 복사 가능
        editable: false, // 수정가능여부, 그리드 데이터 수정 가능
        enableFilter: true, // 필터 true 설정
    }

    /* 총 수량 */
    columnLayout.push({
        headerText: "총 보유자산",
        dataField: "category_product_count",  // 임의로 지정하십시오. expFunction 에서 반환된 값이 여기에 보관됩니다.
        formatString: "#,##0",
        width: 120,
        expFunction: function (rowIndex, columnIndex, item) { // 여기서 실제로 출력할 값을 계산해서 리턴시킴.
            // 1~4 분기 합을 계산하여 반환
            // expFunction 의 리턴형은 항상 Number 여야 합니다.(즉, 수식만 가능)
            return (item.category_existence + item.category_non_existence + item.category_add + item.category_adjustment);
        },
        /* -----------추가------------*/
        headerStyle: "myField3",
        /* -----------추가------------*/
    });

    /* 그리드 생성 */
    assetStatusGrid_ID = AUIGrid.create("#assetStatusGrid_ID", columnLayout, gridPros);

    /* 셀 클릭 이벤트 */
    AUIGrid.bind(assetStatusGrid_ID, "cellClick", function(event) {
        let name = AUIGrid.getOrgGridData(dueDiglienceGrid_ID);
        AUIGrid.clearFilterAll(dueDiglienceGrid_ID);
        name.forEach((i) => {
            if(event.item.category_item_name === i.category_item_name){
                AUIGrid.setFilterByValues(dueDiglienceGrid_ID, "category_item_name", i.category_item_name)
            }
        })
    });

    /* 푸터 레이아웃 생성 */
    AUIGrid.setFooter(assetStatusGrid_ID, footerLayout);
}

function createDueDiglienceGrid() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {
            dataField: "id",
            headerText: "아이디",
            visible:false
        }, {
            dataField: "category_asset_num",
            headerText: "자산번호",
            width: 180,
            filter: {
                showIcon: true,
            },
            /*----------추가------------*/

            /*----------추가------------*/
        }, {
            dataField: "category_product_name",
            headerText: "물품명",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_item_name",
            headerText: "품목명",
            width: 280,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_department",
            headerText: "부서명",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_user_name",
            headerText: "사용자명",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_before_change",
            headerText: "변경전",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_after_change",
            headerText: "변경후",
            width: 160,
            filter: {
                showIcon: true,
            },
            renderer: {
                type: "DropDownListRenderer",
                list: groupList,

            },
        }, {
            dataField: "category_reason_non_existence",
            headerText: "미존재 사유",
            width: 160,
            filter: {
                showIcon: true,
            },
            /*------------추가------------- */
            style:"input-design",
            /*------------추가------------- */
        }, {
            dataField: "category_investigate-date",
            headerText: "조사일",
            width: 160,
            filter: {
                showIcon: true,
            }
        }, {
            dataField: "category_investigator",
            headerText: "조사자",
            width: 160,
            filter: {
                showIcon: true,
            }
        },
        /*---------------추가---------------------*/
        {
            dataField: "category_use_place",
            headerText: "사용장소",
            width: 160,
            filter: {
                showIcon: true,
            },
            headerStyle: "aui-grid-important-header",
            renderer: {
                type: "DropDownListRenderer",
                list: groupList2
            }

        },
        {
            dataField: "category_detail_place",
            headerText: "상세위치",
            width: 160,
            filter: {
                showIcon: true,
            },
            headerStyle: "aui-grid-important-header",
            style:"input-design"
        },
        {
            dataField: "category_note",
            headerText: "비고",
            width: 160,
            filter: {
                showIcon: true,
            },
            style:"input-design"
        }
        /*---------------추가---------------------*/
    ]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        rowIdField: "id",
        showRowCheckColumn: false,// 엑스트라 체크박스 표시 설정
        enableRowCheckShiftKey: true,
        /*-----------추가(주석처리)-------------*/
        /* selectionMode: "multipleCells",*/
        /*-----------추가(주석처리)-------------*/

        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        simplifySelectionEvent: true,
        copyDisplayValue: true, //그리드 데이터 복사 가능
        editable: true, // 수정가능여부, 그리드 데이터 수정 가능
        enableFilter: true, // 필터 true 설정,
        rowStyleFunction: function (rowIndex, item) {
            if (item.category_after_change == "미존재") {
                return "my-custom-style";
            }
            return "";
        }
    }

    /* 그리드 생성 */
    dueDiglienceGrid_ID = AUIGrid.create("#dueDiglienceGrid_ID", columnLayout, gridPros);
}

/* 4. 데이터 불러오기 */
function requestUserStatusGridData() {
    $.get("../resources/lib/aui-grid/data/sample-datas5.json", function (data) {
        AUIGrid.setGridData(userStatusGrid_ID, data);
    });
}
function requestAssetStatusGridData() {
    $.get("../resources/lib/aui-grid/data/sample-datas5.json", function (data) {
        AUIGrid.setGridData(assetStatusGrid_ID, data);
    });
}
function requestDueDiglienceGridData() {
    $.get("../resources/lib/aui-grid/data/sample-datas5.json", function (data) {
        AUIGrid.setGridData(dueDiglienceGrid_ID, data);
    });
}


/* 5. AUIGrid 그리드 윈도우 리사이징 이벤트 */
window.onresize = function () {
    if (typeof userStatusGrid_ID !== "undefined") {
        AUIGrid.resize(userStatusGrid_ID);
    }
    if (typeof assetStatusGrid_ID !== "undefined") {
        AUIGrid.resize(assetStatusGrid_ID);
    }
    if (typeof dueDiglienceGrid_ID !== "undefined") {
        AUIGrid.resize(dueDiglienceGrid_ID);
    }
}

/* 6. 함수관련 */
/* 행 추가 */
let cnt2 = 0;
function addRow() {
    var item = new Object();
    item.id = "grid_ID_1" + (++cnt2),
        item.category_asset_num = '',
        item.category_product_name = '',
        item.category_item_name = '',
        item.category_department = '',
        item.category_user_name = '',
        item.category_before_change = '',
        item.category_after_change = '선택',
        item.category_reason_non_existence = '',
        item.category_investigate = '',
        item.category_use_place = '',
        item.category_detail_place = '',
        item.category_note = '',

        // parameter
        // item : 삽입하고자 하는 아이템 Object 또는 배열(배열인 경우 다수가 삽입됨)
        // rowPos : rowIndex 인 경우 해당 index 에 삽입, first : 최상단, last : 최하단, selectionUp : 선택된 곳 위, selectionDown : 선택된 곳 아래
        AUIGrid.addRow(dueDiglienceGrid_ID, item, "first");
};
/* 상신버튼 눌렀을떄 validation */
$("[data-popup ='submit_pop']").on("click",function(){
    let userTotalNum = AUIGrid.getFooterValueByDataField(userStatusGrid_ID, "category_adjustment");
    let userExistNum = AUIGrid.getFooterValueByDataField(userStatusGrid_ID, "category_non_existence");
    let assetTotalNum = AUIGrid.getFooterValueByDataField(userStatusGrid_ID, "category_adjustment");
    let assetExistNum = AUIGrid.getFooterValueByDataField(userStatusGrid_ID, "category_non_existence");

    if(userTotalNum === userExistNum && assetTotalNum === assetExistNum){
        lp_open("submit_pop");
    } else {
        lp_open('not_complete_pop','',550, 170);
    }
});

/* 메뉴버튼 클릭시(반응형) */
$(document).on("click",".menu-btn",function(){
    let innerWidth = $(".contents").innerWidth() - 38;
    let halfWidth = ($(".contents").innerWidth() - 82)/2;

    if($(".contents").hasClass("active")){
        innerWidth = innerWidth + 260;
        halfWidth = halfWidth + 130;
        setTimeout(function(){
            AUIGrid.resize(userStatusGrid_ID, halfWidth);
            AUIGrid.resize(assetStatusGrid_ID, halfWidth);
            AUIGrid.resize(dueDiglienceGrid_ID, innerWidth);
        },20)

    } else{
        innerWidth = innerWidth - 260;
        halfWidth = halfWidth - 130;
        setTimeout(function(){
            AUIGrid.resize(userStatusGrid_ID, halfWidth);
            AUIGrid.resize(assetStatusGrid_ID, halfWidth);
            AUIGrid.resize(dueDiglienceGrid_ID, innerWidth);
        },20)
    }
});
</script>
</body>
</html>
