<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>대여신청</title>

    <!-- jQuery -->
    <script src="../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <link rel="stylesheet" href="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">

    <!-- AUI grid -->
    <script src="../resources/lib/aui-grid/js/AUIGridLicense.js"></script>
    <script src="../resources/lib/aui-grid/js/AUIGrid.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/ajax.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/common.js"></script>

    <link rel="stylesheet" href="../resources/lib/aui-grid/css/AUIGrid_style.css">

    <!--font-awesome -->
    <link rel="stylesheet" href="../resources/lib/font-awesome/css/all.min.css">

    <!-- 개별 소스 -->
    <link rel="stylesheet" href="../resources/css/main.css">
    <script src="../resources/js/main.js"></script>
</head>
<body id="guide">

<!-- contents -->
<div id="wrapper">

    <div class="contents active">
        <div class="page-indicator">
            <ul>
                <li><i class="fa-solid fa-house"></i></li>
                <li>자산신청</li>
                <li>대여신청</li>
            </ul>
        </div>
        <div class="title-box">
            <div class="title">
                <h3>신청자정보</h3>
            </div>
        </div>
        <div class="custom-table">
            <div class="row con-2">
                <div class="th"><div class="th-wrap center">신청부서</div></div>
                <div class="td"><div class="td-wrap">IT 운영</div></div>
                <div class="th"><div class="th-wrap center">신청자</div></div>
                <div class="td"><div class="td-wrap">홍길동</div></div>
            </div>
        </div>
        <div class="title-box">
            <div class="title">
                <h3>신청정보</h3>
            </div>
        </div>
        <div class="custom-table">
            <div class="row con-3">
                <div class="th"><div class="th-wrap center">신청자</div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="input search">
                            <input type="text" placeholder="홍길동" disabled>
                        </label>
                    </div>
                </div>
                <div class="th"><div class="th-wrap center"><p class="important">대여자명</p></div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="input search">
                            <input type="text" placeholder="양현모" disabled id="userID">
                            <button type="button" data-popup="gridPop_user"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </label>
                    </div>
                </div>
                <div class="th"><div class="th-wrap center">대여 부서</div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="input">
                            <input type="text" value="IT운영" disabled id="userPart">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row con-3">
                <div class="th"><div class="th-wrap center"><p class="important">사용장소</p></div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="select whole">
                            <select>
                                <option value="">선택</option>
                                <option value="">선택</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="th"><div class="th-wrap center">상세위치</div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                </div>
                <div class="th"><div class="th-wrap center">설치 요청일</div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="date">
                            <input type="text">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row con-3">
                <div class="th"><div class="th-wrap center"><p class="important">대여기간</p></div></div>
                <div class="td whole">
                    <div class="td-wrap">
                        <div class="date-wrap">
                            <label class="date limit">
                                <input type="text">
                            </label>
                            <span>~</span>
                            <label class="date limit">
                                <input type="text">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row con-3">
                <div class="th"><div class="th-wrap center"><p class="important">신청구분</p></div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="select whole">
                            <select>
                                <option value="">신규충원</option>
                                <option value="">업무편의</option>
                                <option value="">기타사유</option>
                                <option value="">드럼사유</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="th"><div class="th-wrap center"><p class="important">신청사유</p></div></div>
                <div class="td medium">
                    <div class="td-wrap">
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="title-box">
            <div class="title">
                <h3 class="important">신청내역</h3>
            </div>
            <div class="btn-wrap">
                <button type="button" class="btn model" data-popup="model_pop">모델정보</button>
                <button type="button" class="btn add-column" onclick="addRow()">추가</button>
            </div>
        </div>
        <div id="grid_wrap" class="grid-box h-small"></div>

        <div class="btn-wrap form">
            <button type="button" class="btn save">저장</button>
            <button type="button" class="btn primary send" data-popup="submit_pop">상신</button>
        </div>

        <div class="btn-wrap">
            <button type="button" class="btn" data-popup="gridPop_user">사용자 검색</button>
            <button type="button" class="btn" data-popup="gridPop_department">부서 검색</button>
            <button type="button" class="btn model" data-popup="model_pop">모델 정보</button>
        </div>
        <div class="btn-wrap" style="margin-top:10px;">
            <button type="button" class="btn" data-popup="submit_pop">상신 팝업</button>
            <button type="button" class="btn" data-popup="submitSearch_pop">상신 > 검색조건 팝업</button>
            <button type="button" class="btn" data-popup="submitApprovalChange_pop">상신 > 결재선 변경 팝업</button>
            <button type="button" class="btn" onclick="openWindowPop('../views/previewApproval.html','미리보기')">상신 > 미리보기</button>
        </div>
    </div>
</div>
<!-- // contents -->

<!-- 팝업 -->
<!-- 사용자 검색 -->
<div id="gridPop_user" class="popup grid no">
    <div class="pop-box">
        <div class="pop-head">
            <h3>사용자 검색</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="input-wrap">
                <div class="input-list">
                    <span class="input-title">사용자</span>
                    <label class="input search">
                        <input type="text">
                        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </label>
                </div>
            </div>
            <div id="popup_grid_user" class="grid-box"></div>
        </div>
    </div>
</div>

<!-- 부서 검색 -->
<div id="gridPop_department" class="popup grid no">
    <div class="pop-box">
        <div class="pop-head">
            <h3>부서 검색</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="input-wrap">
                <div class="input-list">
                    <span class="input-title">부서</span>
                    <label class="input search">
                        <input type="text">
                        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </label>
                </div>
            </div>
            <div id="popup_grid_department" class="grid-box"></div>
        </div>
    </div>
</div>

<!-- 교체자산 정보 -->
<div id="gridPop_rental_info" class="popup grid no big">
    <div class="pop-box">
        <div class="pop-head">
            <h3>교체자산정보</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="title-box end">
                <div class="btn-wrap">
                    <button type="button" class="btn model">모델 정보</button>
                </div>
            </div>
            <div id="popup_grid_rental_info" class="grid-box"></div>
            <div class="btn-wrap">
                <button type="button" class="btn save">저장</button>
                <button type="button" class="btn" data-btn="cancel">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- 모델 정보 -->
<div id="model_pop" class="popup no">
    <div class="pop-box">
        <div class="pop-head">
            <h3>모델 정보</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="tab-box">
                <div class="tab-title"><h4>데스크탑</h4></div>
                <div class="tab-wrap">
                    <ul>
                        <li class="on"><button type="button" class="popBtn">표준 PC</button></li>
                        <li><button type="button" class="popBtn">고성능 PC</button></li>
                        <li><button type="button" class="popBtn">삼성 PC</button></li>
                        <li><button type="button" class="popBtn">DESKI7</button></li>
                        <li><button type="button" class="popBtn">DESK-XXX</button></li>
                    </ul>
                </div>
                <div class="tabs on"><img src="../resources/img/sample_desktop.png" alt=""></div>
                <div class="tabs"><img src="" alt="2"></div>
                <div class="tabs"><img src="" alt="3"></div>
                <div class="tabs"><img src="" alt="4"></div>
                <div class="tabs"><img src="" alt="5"></div>
            </div>
            <div class="tab-box">
                <div class="tab-title"><h4>노트북</h4></div>
                <div class="tab-wrap">
                    <ul>
                        <li class="on"><button type="button" class="popBtn">표준 노트북</button></li>
                        <li><button type="button" class="popBtn">LG 그램</button></li>
                        <li><button type="button" class="popBtn">삼성 갤럭시</button></li>
                        <li><button type="button" class="popBtn">HP 표준</button></li>
                        <li><button type="button" class="popBtn">씽크패드</button></li>
                    </ul>
                </div>
                <div class="tabs on"><img src="../resources/img/sample_notebook.jpeg" alt=""></div>
                <div class="tabs"><img src="" alt="2"></div>
                <div class="tabs"><img src="" alt="3"></div>
                <div class="tabs"><img src="" alt="4"></div>
                <div class="tabs"><img src="" alt="5"></div>
            </div>
            <div class="tab-box">
                <div class="tab-title"><h4>프린터</h4></div>
                <div class="tab-wrap">
                    <ul>
                        <li class="on"><button type="button" class="popBtn">잉크젯</button></li>
                        <li><button type="button" class="popBtn">레이저</button></li>
                        <li><button type="button" class="popBtn">칼라레이저</button></li>
                        <li><button type="button" class="popBtn">복합기</button></li>
                        <li><button type="button" class="popBtn">칼라복합기</button></li>
                    </ul>
                </div>
                <div class="tabs on"><img src="../resources/img/sample_printer.jpeg" alt=""></div>
                <div class="tabs"><img src="" alt="2"></div>
                <div class="tabs"><img src="" alt="3"></div>
                <div class="tabs"><img src="" alt="4"></div>
                <div class="tabs"><img src="" alt="5"></div>
            </div>

            <div class="btn-wrap">
                <button type="button" class="btn" data-btn="cancel">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- 상신 -->
<div id="submit_pop" class="popup no regular">
    <div class="pop-box">
        <div class="pop-head">
            <h3>결재상신 화면</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="custom-table design-ver">
                <div class="row">
                    <div class="th"><div class="th-wrap">상신제목</div></div>
                    <div class="td"><div class="td-wrap">[정보자산관리시스템]신규신청</div></div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap">결재경로</div></div>
                    <div class="td">
                        <div class="td-wrap column">
                            <ul class="submit-list">
                                <li>
                                    <p>결재</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>협조결재</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>결재참조</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>병렬결재</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>병렬협조결재</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>참조</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>수신</p>
                                    <span>[07]</span>
                                </li>
                            </ul>
                            <div class="btn-wrap end">
                                <button type="button" class="btn" onclick="moveRowsToDown()";><i class="fa-solid fa-chevron-down"></i></button>
                                <button type="button" class="btn" onclick="moveRowsToUp();"><i class="fa-solid fa-chevron-up"></i></button>
                                <button type="button" class="btn" data-popup="submitSearch_pop">결재선추가</button>
                            </div>
                            <div id="popup_grid_submitList" class="grid-box"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap">상신의견</div></div>
                    <div class="td">
                        <div class="td-wrap column">
                            <label class="input textarea">
                                <textarea rows="3"></textarea>
                            </label>
                            <span class="count-words"><span>0</span> / 500</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-wrap">
                <button type="button" class="btn" onclick="openWindowPop('../views/previewApproval.html','미리보기')">미리보기</button>
                <button type="button" class="btn primary send">상신</button>
            </div>
        </div>
    </div>
</div>
<div id="submitSearch_pop" class="popup no regular">
    <div class="pop-box">
        <div class="pop-head">
            <h3>Search Employee (<span>Employee No.</span>)</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>검색조건</h4>
                    </div>
                    <div class="btn-wrap">
                        <button type="button" class="btn search">조회</button>
                    </div>
                </div>
                <div class="input-wrap search-ver">
                    <div class="input-list">
                        <span class="input-title">성명</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">Circle ID</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">부서명</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list whole">
                        <span class="input-title">결재종류</span>
                        <div class="check-wrap">
                            <label class="check">
                                <input type="radio" name="a">
                                <span>결재</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>협조결재</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>결재참조</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>병렬협조결재</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>결재참조</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>참조</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>수신</span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>검색한 임직원</h4>
                    </div>
                </div>
                <div class="box-wrap">
                    <div id="popup_subGrid_searchExecutives" class="grid-box h-small"></div>
                </div>
            </div>
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>결재라인에 추가할 임직원</h4>
                    </div>
                </div>
                <div class="box-wrap">
                    <div id="popup_subGrid_addExecutives" class="grid-box h-small"></div>
                </div>
            </div>
            <div class="btn-wrap">
                <button type="button" class="btn">미리보기</button>
                <button type="button" class="btn primary send">상신</button>
            </div>
        </div>
    </div>
</div>
<div id="submitApprovalChange_pop" class="popup no regular">
    <div class="pop-box">
        <div class="pop-head">
            <h3>Search Employee (<span>Employee No.</span>)</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>검색조건</h4>
                    </div>
                    <div class="btn-wrap">
                        <button type="button" class="btn search">조회</button>
                    </div>
                </div>
                <div class="input-wrap search-ver">
                    <div class="input-list">
                        <span class="input-title">성명</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">Circle ID</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">부서명</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>검색한 임직원</h4>
                    </div>
                </div>
                <div class="box-wrap">
                    <div id="popup_subGrid_approvalChange" class="grid-box h-small"></div>
                </div>
            </div>
            <div class="btn-wrap">
                <button type="button" class="btn" data-btn="cancel">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- // 팝업 -->

<script>
/* AUIGrid */
/* 1. AUIGrid 생성 후 반환 ID */
let myGridID;
let popup_grid_user; // 사용자 검색
let popup_grid_department; // 부서 검색
let popup_grid_submitList; // 상신
let popup_subGrid_searchExecutives; // 상신 > 검색한 임직원
let popup_subGrid_addExecutives; // 상신 > 결재라인에 추가할 임직원
let popup_subGrid_approvalChange; // 상신 > 결재선변경

/* 1-2. dropdown menu 리스트 */
let groupList1 = ["데스크탑", "모니터"];
let groupList2 = ["표준PC", "노트북", "고성능 PC", "프린터", "모니터"];


/* 2. AUIGrid 그리드 생성 + 데이터 요청 */
function documentReady() {
    /* 그리드 생성 */
    createAUIGrid();

    popupUserSearch(); // 사용자 검색
    popupDepartmentSearch(); // 부서검색
    popupSubmitList(); // 상신
    subPopupSearchExecutives(); // 상신 > 검색한 임직원
    subPopupAddExecutives(); // 상신 > 결재라인에 추가할 임직원
    subPopupApprovalChange(); // 상신 > 결재선변경

    /* 그리드 삽입 */
    requestData();// 데이터 요청 후 상단 그리드 삽입
    requestData2();
    requestData3();
    requestData4();
    requestData5();
    requestData6();
}

/* 3. AUIGrid 그리드 옵션 */
/* 보유자산 그리드 */
function createAUIGrid() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {
            dataField: "id",
            headerText: "아이디",
            visible:false
        }, {
            dataField: "category_product",
            headerText: "물품종류",
            renderer: {
                type: "DropDownListRenderer",
                list: groupList1
            }
        }, {
            dataField: "category_item",
            headerText: "품목",
            renderer: {
                type: "DropDownListRenderer",
                list: groupList2
            }
        }, {
            dataField: "category_amount",
            headerText: "신청수량",
            renderer: {
                type: "NumberStepRenderer",
                min: 0,
                max: 50,
                step: 1,
                inputHeight: 28, // input 높이 지정
                textEditable: false
            }
        }, {
            dataField: "category_del_btn", //임의의 고유값
            headerText: "",
            renderer: {
                type: "IconRenderer",
                iconWidth:12,
                iconHeight:16,
                iconPosition:"aisleCenter",
                iconTableRef:{
                    "default":"../resources/img/icon/icon_delete.svg"
                },
                onClick: function(){
                    AUIGrid.removeRow(myGridID, "selectedIndex");
                }
            },
            width:100,
        }]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        rowIdField: "id",
        enableRowCheckShiftKey: true,
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        fillColumnSizeMode:true,
        softRemoveRowMode: false,
    }

    /* 그리드 생성 */
    myGridID = AUIGrid.create("#grid_wrap", columnLayout, gridPros);

    $('.menu-btn').on('click',function(){
        AUIGrid.destroy('#grid_wrap');
        setTimeout(function(){
            AUIGrid.create("#grid_wrap", columnLayout, gridPros);
            requestData();
        },200);
    })
}

/* [팝업] 사용자검색 */
function popupUserSearch(){
    /* 팝업 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout2 = [
        {
            dataField: "category_employeeID",
            headerText: "사번",
            width: 180
        },
        {
            dataField: "category_user_name",
            headerText: "사용자명",
            width: 180
        }, {
            dataField: "category_department",
            headerText: "부서",
            width: 160
        }]
    /* 2. 그리드 속성 설정 */
    let gridPros2 = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        pageRowCount: 12, // 한 화면에 출력되는 행 개수 30개로 지정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        fillColumnSizeMode: true, // 가로 스크롤 없이 현재 그리드 영역에 채우기 모드
    }

    /* 그리드 생성 */
    popup_grid_user = AUIGrid.create("#popup_grid_user", columnLayout2, gridPros2);

    /* 사용자 팝업에서 더블클릭 시, 사용자 input과 부서 input에 자동입력 */
    AUIGrid.bind(popup_grid_user, "cellDoubleClick", function(event) {
        $("#gridPop_user").removeClass("open");

        let clickItem = AUIGrid.getSelectedRows(popup_grid_user)[0];
        $("#userID").attr("value",clickItem.category_user_name);
        $("#userPart").attr("value",clickItem.category_department);
    });

}

/* [팝업] 부서 검색 */
function popupDepartmentSearch(){
    /* 팝업 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout3 = [
        {
            dataField: "category_department",
            headerText: "부서명",
            width: 180
        },
        {
            dataField: "category_depart_code",
            headerText: "부서명",
            width: 180
        }
    ]
    /* 2. 그리드 속성 설정 */
    let gridPros3 = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        pageRowCount: 12, // 한 화면에 출력되는 행 개수 30개로 지정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        fillColumnSizeMode: true, // 가로 스크롤 X
    }

    /* 그리드 생성 */
    popup_grid_department = AUIGrid.create("#popup_grid_department", columnLayout3, gridPros3);
}
/* [팝업] 상신 */
function popupSubmitList(){
    /* 팝업 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {
            dataField: "id",
            headerText: "아이디",
            visible:false
        },
        {
            dataField: "category_submit",
            headerText: "결재내용",
            width: 180,
            renderer: {
                type: "DropDownListRenderer",
                list: groupList1
            }
        },
        {
            dataField: "category_submit_person",
            headerText: "결재자",
            width: 180,
        },
        {
            dataField: "category_submit_change",
            headerText: "결재선 변경",
            width: 160,
            renderer: {
                type: "ButtonRenderer",
                onClick: function (event) {
                    $("#submitApprovalChange_pop").addClass("open");
                },
            }
        },
        {
            dataField: "category_submit_delete",
            headerText: "결재선 삭제",
            width: 120,
            renderer: {
                type: "ButtonRenderer",
                onClick: function (event) {
                    AUIGrid.removeRow(event.pid, event.rowIndex);
                },
            }
        }
    ]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        showHeader : false,
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        pageRowCount: 12, // 한 화면에 출력되는 행 개수 30개로 지정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        softRemoveRowMode:false,
    }

    /* 그리드 생성 */
    popup_grid_submitList = AUIGrid.create("#popup_grid_submitList", columnLayout, gridPros);

}

/* [팝업] 상신 > 검색한 임직원 */
function subPopupSearchExecutives(){
    /* 팝업 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {
            dataField: "id",
            headerText: "아이디",
            visible:false
        },
        {
            dataField: "category_kinds",
            headerText: "유형",
            width: 180,
        },
        {
            dataField: "category_name",
            headerText: "성명",
            width: 180,
        },
        {
            dataField: "category_employeeID",
            headerText: "사번",
            width: 180,
        },
        {
            dataField: "category_ID",
            headerText: "ID",
            width: 180,
        },
        {
            dataField: "category_status",
            headerText: "직급",
            width: 180,
        },
        {
            dataField: "category_department",
            headerText: "부서",
            width: 180,
        }
    ]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        pageRowCount: 12, // 한 화면에 출력되는 행 개수 30개로 지정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        softRemoveRowMode: false // 소프트 제거 모드 사용 안함
    }

    // gridPros.showHeader = false;
    /* 그리드 생성 */
    popup_subGrid_searchExecutives = AUIGrid.create("#popup_subGrid_searchExecutives", columnLayout, gridPros);

    // 셀클릭 이벤트 바인딩
    AUIGrid.bind(popup_subGrid_searchExecutives, "cellClick",function(){
        /* 선택한 행들 얻기 */
        let rows = AUIGrid.getSelectedRows(popup_subGrid_searchExecutives);

        if (rows.length <= 0) {
            alert('상단 그리드에서 체크된 행이 없습니다.');
            return;
        }
        // 얻은 행을 하단 그리드에 추가하기
        AUIGrid.addRow( popup_subGrid_addExecutives, rows, "last");

        // 선택한 상단 그리드 행들 삭제
        AUIGrid.removeRow(popup_subGrid_searchExecutives, "selectedIndex");
    });
}

/* [팝업] 상신 > 결재라인에 추가할 임직원 */
function subPopupAddExecutives(){
    /* 팝업 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {
            dataField: "id",
            headerText: "아이디",
            visible:false
        },
        {
            dataField: "category_del_btn", // 임의의 고유값
            headerText: "Del ",
            renderer: {
                type: "IconRenderer",
                iconWidth:12, // icon 사이즈, 지정하지 않으면 rowHeight에 맞게 기본값 적용됨
                iconHeight:16,
                iconPosition: "aisleCenter",
                iconTableRef: { // icon 값 참조할 테이블 레퍼런스
                    "default": "../resources/img/icon/icon_delete.svg" // default
                },
                onClick: function (event) {
                    /* 선택한 행들 얻기 */
                    let rows = AUIGrid.getSelectedRows(popup_subGrid_addExecutives);

                    if (rows.length <= 0) {
                        alert('상단 그리드에서 체크된 행이 없습니다.');
                        return;
                    }
                    // 얻은 행을 하단 그리드에 추가하기
                    AUIGrid.addRow( popup_subGrid_searchExecutives, rows, "last");

                    // 선택한 상단 그리드 행들 삭제
                    AUIGrid.removeRow(popup_subGrid_addExecutives, "selectedIndex");
                }
            }
        },
        {
            dataField: "category_kinds",
            headerText: "유형",
            width: 180,
        },
        {
            dataField: "category_name",
            headerText: "성명",
            width: 180,
        },
        {
            dataField: "category_employeeID",
            headerText: "사번",
            width: 180,
        },
        {
            dataField: "category_ID",
            headerText: "ID",
            width: 180,
        },
        {
            dataField: "category_status",
            headerText: "직급",
            width: 180,
        },
        {
            dataField: "category_department",
            headerText: "부서",
            width: 180,
        }
    ]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        pageRowCount: 12, // 한 화면에 출력되는 행 개수 30개로 지정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        softRemoveRowMode: false// 소프트 제거 모드 사용 안함

    }
    // 그리드 헤더를 표시하지 않습니다.
    // gridPros.showHeader = false;
    /* 그리드 생성 */
    popup_subGrid_addExecutives = AUIGrid.create("#popup_subGrid_addExecutives", columnLayout, gridPros);
}

/* [팝업] 상신 > 결재선변경 */
function subPopupApprovalChange(){
    /* 팝업 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {
            dataField: "id",
            headerText: "아이디",
            visible:false
        },
        {
            dataField: "category_kinds",
            headerText: "유형",
            width: 180,
        },
        {
            dataField: "category_name",
            headerText: "성명",
            width: 180,
        },
        {
            dataField: "category_employeeID",
            headerText: "사번",
            width: 180,
        },
        {
            dataField: "category_ID",
            headerText: "ID",
            width: 180,
        },
        {
            dataField: "category_status",
            headerText: "직급",
            width: 180,
        },
        {
            dataField: "category_department",
            headerText: "부서",
            width: 180,
        }
    ]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        pageRowCount: 12, // 한 화면에 출력되는 행 개수 30개로 지정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        softRemoveRowMode: false// 소프트 제거 모드 사용 안함

    }
    // 그리드 헤더를 표시하지 않습니다.
    // gridPros.showHeader = false;
    /* 그리드 생성 */
    popup_subGrid_approvalChange = AUIGrid.create("#popup_subGrid_approvalChange", columnLayout, gridPros);
}
/* 4. 데이터 불러오기 */
function requestData() {
    $.get("../resources/lib/aui-grid/data/sample-datas8.json", function (data) {
        AUIGrid.setGridData(myGridID, data);
    });
}
function requestData2() {
    $.get("../resources/lib/aui-grid/data/sample-datas4.json", function (data) {
        AUIGrid.setGridData(popup_grid_user, data);
    });
}

function requestData3() {
    $.get("../resources/lib/aui-grid/data/sample-datas3.json", function (data) {
        AUIGrid.setGridData(popup_grid_department, data);
    });
}
function requestData4() {
    $.get("../resources/lib/aui-grid/data/submitList-datas1.json", function (data) {
        AUIGrid.setGridData(popup_grid_submitList, data);
    });
}

function requestData5() {
    $.get("../resources/lib/aui-grid/data/submitList-datas2.json", function (data) {
        AUIGrid.setGridData(popup_subGrid_searchExecutives, data);
    });
}
function requestData6() {
    $.get("../resources/lib/aui-grid/data/submitList-datas2.json", function (data) {
        AUIGrid.setGridData(popup_subGrid_approvalChange, data);
    });
}

/* 5. AUIGrid 그리드 윈도우 리사이징 이벤트 */
window.onresize = function () {
    if (typeof myGridID !== "undefined") {
        AUIGrid.resize(myGridID);
    }
}

/* 6. 관련 함수 */
/* 행 삭제 */
function deleteRowGrid(){
    AUIGrid.removeCheckedRows(myGridID); // 체크된 행 삭제 처리
    let removedRows = AUIGrid.getRemovedItems(myGridID, true); // 삭제 처리된 아이템 있는지 보기
    if (removedRows.length <= 0) {
        alert("삭제 처리되어 마크된 행이 없습니다.")
        return;
    }
    AUIGrid.removeSoftRows(myGridID); // softRemoveRowMode 가 true 일 때 삭제를 하면 그리드 상에 마크가 되는데, 이를 실제로 그리드에서 삭제 함.
}

/* 행 추가 */
let cnt = 0;
function addRow() {
    var item = new Object();
    item.id = "grid_ID_1" + (++cnt),
        item.category_product = '',
        item.category_item = '',
        item.category_amount = '',

        // parameter
        // item : 삽입하고자 하는 아이템 Object 또는 배열(배열인 경우 다수가 삽입됨)
        // rowPos : rowIndex 인 경우 해당 index 에 삽입, first : 최상단, last : 최하단, selectionUp : 선택된 곳 위, selectionDown : 선택된 곳 아래
        AUIGrid.addRow(myGridID, item, "first");
};
/* [윈도우 팝업] 미리보기 */
function openWindowPop(url, name){
    var options = 'top=10, left=10, width=1000, height=600, status=no, menubar=no, toolbar=no, resizable=no';
    window.open(url, name, options);
}

/* 선택 행들 위로 한 단계 올림 */
function moveRowsToUp() {
    AUIGrid.moveRowsToUp(popup_grid_submitList);
};

/* 선택 행들 아래로 한 단계 올림 */
function moveRowsToDown() {
    AUIGrid.moveRowsToDown(popup_grid_submitList);
};

/* 모델정보 더블클릭 시 행추가 */
$(".popBtn").on("dblclick", function(){
    let itemName = $(this).text();
    let productName = $(this).closest(".tab-box").find(".tab-title").children("h4").text();

    let insertObj = {
        category_product: productName,
        category_item: itemName,
        category_amount: 1,
    }
    AUIGrid.addRow(myGridID, insertObj, "last");
    $(this).closest("#model_pop").removeClass("open");
})

</script>
</body>
</html>
