<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>서비스 신청</title>

    <!-- jQuery -->
    <script src="../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <link rel="stylesheet" href="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">

    <!-- AUI grid -->
    <script src="../resources/lib/aui-grid/js/AUIGridLicense.js"></script>
    <script src="../resources/lib/aui-grid/js/AUIGrid.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/ajax.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/common.js"></script>

    <link rel="stylesheet" href="../resources/lib/aui-grid/css/AUIGrid_style.css">

    <!--font-awesome -->
    <link rel="stylesheet" href="../resources/lib/font-awesome/css/all.min.css">

    <!-- 개별 소스 -->
    <link rel="stylesheet" href="../resources/css/main.css">
    <script src="../resources/js/main.js"></script>
    <script src="../resources/js/grid.js"></script>
</head>
<body>

<!-- contents -->
<div id="wrapper">

    <div class="contents active">
        <div class="page-indicator">
            <ul>
                <li><i class="fa-solid fa-house"></i></li>
                <li>서비스데스크</li>
                <li>서비스 신청</li>
            </ul>
        </div>
        <div class="title-box">
            <div class="title">
                <h3 class="important">신청자정보</h3>
            </div>
        </div>
        <div class="custom-table">
            <div class="row con-2">
                <div class="th"><div class="th-wrap center">신청부서</div></div>
                <div class="td"><div class="td-wrap">IT 운영</div></div>
                <div class="th"><div class="th-wrap center">신청자</div></div>
                <div class="td"><div class="td-wrap">홍길동</div></div>
            </div>
        </div>

        <div class="title-box">
            <div class="title">
                <h3 class="important">신청 정보</h3>
            </div>
        </div>
        <div class="custom-table">
            <div class="row con-3">
                <div class="th"><div class="th-wrap center"><p class="important">신청자</p></div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="input search">
                            <input type="text" placeholder="홍길동" disabled>
                        </label>
                    </div>
                </div>
                <div class="th"><div class="th-wrap center"><p class="important">사용자</p></div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="input search" data-place="user_search" onclick="lp_open('gridPop_user','사용자 검색',505,530,this);">
                            <input type="text" data-label="user" readonly>
                            <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row con-3">
                <div class="th"><div class="th-wrap center">서비스 구분</div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="select">
                            <select>
                                <option value="">S/W 사용 신청</option>
                            </select>
                        </label>
                        <label class="select">
                            <select id="software_value">
                                <option value="정의된값1">정의된값1</option>
                                <option value="정의된값2">정의된값2</option>
                                <option value="정의된값3">정의된값3</option>
                                <option value="정의된값4">정의된값4</option>
                                <option value="정의된값5">정의된값5</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="th"><div class="th-wrap center"><p class="important">수량</p></div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="input">
                            <input type="text" id="quantity">
                        </label>
                    </div>
                </div>
                <div class="th"><div class="th-wrap center"><p class="important">자산번호</p></div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="input search" data-place="asset_search" onclick="lp_open('assetSearch_pop', '자산검색', 800,350,this)">
                            <input type="text" data-label="asset_num" readonly>
                            <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="th"><div class="th-wrap center"><p class="important">사용기간</p></div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="date">
                            <input type="text" id="date-prev">
                        </label>
                        <span>~</span>
                        <label class="date">
                            <input type="text" id="date-next">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="th"><div class="th-wrap center"><p class="important">요청내용</p></div></div>
                <div class="td">
                    <div class="td-wrap">
                        <label class="input">
                            <input type="text" id="order_text">
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="title-box">
            <div class="title">
                <h3 class="important">신청내역</h3>
            </div>
            <div class="btn-wrap">
                <button type="button" class="btn add-column" onclick="addRow()">추가</button>
            </div>
        </div>
        <div id="serviceApplication_ID" class="grid-box"></div>

        <div class="btn-wrap form">
            <button type="button" class="btn save">저장</button>
            <button type="button" class="btn primary send" data-popup="submit_pop">상신</button>
        </div>

        <div class="btn-wrap">
            <button type="button" class="btn" onclick="lp_open('gridPop_user','사용자 검색',505,530)">사용자 검색</button>
            <button type="button" class="btn" onclick="lp_open('assetSearch_pop', '자산검색', 800,350)">자산검색</button>
        </div>
        <div class="btn-wrap" style="margin-top:10px;">
            <button type="button" class="btn" onclick="lp_open('submit_pop','결재상신 화면',900,860)">결재상신 화면</button>
            <button type="button" class="btn" onclick="lp_open('submitSearch_pop','Search Employee',800,860)">상신 > 검색조건 팝업</button>
            <button type="button" class="btn" onclick="lp_open('submitApprovalChange_pop','Search Employee',800,530)">상신 > 결재선 변경 팝업</button>
            <button type="button" class="btn" onclick="openWindowPop('../views/previewApproval.html','미리보기')">상신 > 미리보기</button>
        </div>
    </div>
</div>
<!-- // contents -->
<!-- 팝업 -->
<!-- 사용자 검색 -->
<div id="gridPop_user" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div class="input-wrap">
                <div class="input-list">
                    <span class="input-title">사용자</span>
                    <label class="input search">
                        <input type="text">
                        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </label>
                </div>
            </div>
            <div id="popup_grid_user" class="grid-box"></div>
        </div>
    </div>
</div>

<!-- 팝업내 > 자산검색 -->
<div id="assetSearch_pop" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div class="input-wrap search-ver con-3">
                <div class="input-lists">
                    <div class="input-list">
                        <span class="input-title">자산분류</span>
                        <label class="input">
                            <input type="text" readonly data-label="product">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">품목</span>
                        <label class="input">
                            <input type="text" readonly data-label="item">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">자산번호</span>
                        <label class="input">
                            <input type="text" data-label="assetNumber">
                        </label>
                    </div>
                </div>
                <button type="button" class="btn search">검색</button>
            </div>
            <div id="popup_subGrid_assetSearch" class="grid-box h-small"></div>
        </div>
    </div>
</div>

<!-- 상신 -->
<div id="submit_pop" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div class="custom-table design-ver">
                <div class="row">
                    <div class="th"><div class="th-wrap">상신제목</div></div>
                    <div class="td"><div class="td-wrap">[정보자산관리시스템]신규신청</div></div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap">결재경로</div></div>
                    <div class="td">
                        <div class="td-wrap column">
                            <ul class="submit-list">
                                <li>
                                    <p>결재</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>협조결재</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>결재참조</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>병렬결재</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>병렬협조결재</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>참조</p>
                                    <span>[01]</span>
                                </li>
                                <li>
                                    <p>수신</p>
                                    <span>[07]</span>
                                </li>
                            </ul>
                            <div class="btn-wrap end">
                                <button type="button" class="btn" onclick="moveRowsToDown()";><i class="fa-solid fa-chevron-down"></i></button>
                                <button type="button" class="btn" onclick="moveRowsToUp();"><i class="fa-solid fa-chevron-up"></i></button>
                                <button type="button" class="btn" onclick="lp_open('submitSearch_pop','Search Employee',800,860)">결재선추가</button>
                            </div>
                            <div id="popup_grid_submitList" class="grid-box"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap">첨부파일</div></div>
                    <div class="td">
                        <div class="td-wrap column">
                            <div class="title-box end ">
                                <div class="btn-wrap add-file-wrap">
                                    <button type="button" class="btn add-file">파일 추가</button>
                                    <button type="button" class="btn trash">선택 삭제</button>
                                </div>
                            </div>
                            <div class="table">
                                <table>
                                    <colgroup>
                                        <col style="width:50px">
                                        <col style="width:calc(100% - 50px);">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="th-wrap center">
                                                <label class="check no-text">
                                                    <input type="checkbox">
                                                    <span></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th><p>자산분류</p></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="td-wrap center">
                                                <label class="check no-text">
                                                    <input type="checkbox">
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="td-wrap">
                                                <div class="file-box long">
                                                    <label class="file">
                                                        <input type="file" class="fileUpload">
                                                        <span class="btn">파일선택</span>
                                                    </label>
                                                    <span>선택된 파일 없음</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap">상신의견</div></div>
                    <div class="td">
                        <div class="td-wrap column">
                            <label class="input textarea">
                                <textarea rows="3"></textarea>
                            </label>
                            <span class="count-words"><span>0</span> / 500</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-wrap">
                <button type="button" class="btn" onclick="openWindowPop('../views/previewApproval.html','미리보기')">미리보기</button>
                <button type="button" class="btn primary send">상신</button>
            </div>
        </div>
    </div>
</div>
<div id="submitSearch_pop" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>검색조건</h4>
                    </div>
                    <div class="btn-wrap">
                        <button type="button" class="btn search">조회</button>
                    </div>
                </div>
                <div class="input-wrap search-ver">
                    <div class="input-list">
                        <span class="input-title">성명</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">Circle ID</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">부서명</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list whole">
                        <span class="input-title">결재종류</span>
                        <div class="check-wrap">
                            <label class="check">
                                <input type="radio" name="a">
                                <span>결재</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>협조결재</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>결재참조</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>병렬협조결재</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>병렬결재</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>참조</span>
                            </label>
                            <label class="check">
                                <input type="radio" name="a">
                                <span>수신</span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>검색한 임직원</h4>
                    </div>
                </div>
                <div class="box-wrap">
                    <div id="popup_subGrid_searchExecutives" class="grid-box h-small"></div>
                </div>
            </div>
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>결재라인에 추가할 임직원</h4>
                    </div>
                </div>
                <div class="box-wrap">
                    <div id="popup_subGrid_addExecutives" class="grid-box h-small"></div>
                </div>
            </div>
            <div class="btn-wrap">
                <button type="button" class="btn" onclick="addingResult()">추가</button>
            </div>
        </div>
    </div>
</div>
<div id="submitApprovalChange_pop" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>검색조건</h4>
                    </div>
                    <div class="btn-wrap">
                        <button type="button" class="btn search">조회</button>
                    </div>
                </div>
                <div class="input-wrap search-ver">
                    <div class="input-list">
                        <span class="input-title">성명</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">Circle ID</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                    <div class="input-list">
                        <span class="input-title">부서명</span>
                        <label class="input">
                            <input type="text">
                        </label>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="title-box">
                    <div class="title">
                        <h4>검색한 임직원</h4>
                    </div>
                </div>
                <div class="box-wrap">
                    <div id="popup_subGrid_approvalChange" class="grid-box h-small"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // 팝업 -->
<script>
/* AUIGrid */
let serviceApplication_ID;

createServiceApplicationGrid();


function createServiceApplicationGrid() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {
            dataField: "id",
            headerText: "아이디",
            visible:false
        },
        {
            dataField: "category_user_name",
            headerText: "사용자명",
        },{
            dataField: "category_department",
            headerText: "부서",
        }, {
            dataField: "category_usage",
            headerText: "용도",
        }, {
            dataField: "category_asset_num",
            headerText: "자산번호",
        }, {
            dataField: "category_use_date",
            headerText: "사용기간",
        }, {
            dataField: "category_software_name",
            headerText: "소프트웨어명",
        }, {
            dataField: "category_quantity",
            headerText: "수량",
        }, {
            dataField: "category_cost",
            headerText: "소요비용",
        }, {
            dataField: "category_order_text",
            headerText: "요청내용",
        }]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        rowIdField: "id",
        showRowCheckColumn: false,// 엑스트라 체크박스 표시 설정
        enableRowCheckShiftKey: true,
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        fillColumnSizeMode:true,
        copyDisplayValue: true, //그리드 데이터 복사 가능
        editable: false, // 수정가능여부, 그리드 데이터 수정 가능
        enableFilter: true, // 필터 true 설정
    }

    /* 그리드 생성 */
    serviceApplication_ID = AUIGrid.create("#serviceApplication_ID", columnLayout, gridPros);
    requestServiceApplicationData();
}

function requestServiceApplicationData(){
    $.get("../resources/lib/aui-grid/data/sample-datas27.json", function (data) {
        AUIGrid.setGridData(serviceApplication_ID, data);
    });
}

/* 5. AUIGrid 그리드 윈도우 리사이징 이벤트 */
window.onresize = function () {
    if (typeof serviceApplication_ID !== "undefined"){
        AUIGrid.resize(serviceApplication_ID);
    }
}

/* 메뉴버튼 클릭시(반응형) */
$(document).on("click",".menu-btn",function(){
    let innerWidth = $(".contents").innerWidth() - 38;
    if($(".contents").hasClass("active")){
        innerWidth = innerWidth + 260;
        setTimeout(function(){
            AUIGrid.resize(serviceApplication_ID, innerWidth);
        },20)

    } else{
        innerWidth = innerWidth - 260;
        setTimeout(function(){
            AUIGrid.resize(serviceApplication_ID, innerWidth);
        },20)
    }
});

/* 행 추가 */
let cnt2 = 0;
function addRow() {
    var item = new Object();
    let user = $("input[data-label='user']").val();
    let swVal = $("#software_value").val();
    let quantity = $("#quantity").val();
    let assetNum = $("input[data-label='asset_num']").val();
    let date = $("#date-prev").val() + "~" + $("#date-next").val();
    let orderText = $("#order_text").val();



    item.id = "grid_ID_1" + (++cnt2),
        item.category_user_name = user,
        item.category_software_name = swVal,
        item.category_quantity = quantity,
        item.category_asset_num = assetNum,
        item.category_use_date = date,
        item.category_order_text = orderText,

        // parameter
        // item : 삽입하고자 하는 아이템 Object 또는 배열(배열인 경우 다수가 삽입됨)
        // rowPos : rowIndex 인 경우 해당 index 에 삽입, first : 최상단, last : 최하단, selectionUp : 선택된 곳 위, selectionDown : 선택된 곳 아래
        AUIGrid.addRow(serviceApplication_ID, item, "last");
};

</script>
</body>
</html>
