<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>서비스 신청현황</title>

    <!-- jQuery -->
    <script src="../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <link rel="stylesheet" href="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">

    <!-- AUI grid -->
    <script src="../resources/lib/aui-grid/js/AUIGridLicense.js"></script>
    <script src="../resources/lib/aui-grid/js/AUIGrid.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/ajax.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/common.js"></script>

    <link rel="stylesheet" href="../resources/lib/aui-grid/css/AUIGrid_style.css">

    <!--font-awesome -->
    <link rel="stylesheet" href="../resources/lib/font-awesome/css/all.min.css">

    <!-- 개별 소스 -->
    <link rel="stylesheet" href="../resources/css/main.css">
    <script src="../resources/js/main.js"></script>
</head>
<body id="guide">

<!-- contents -->
<div id="wrapper">

    <div class="contents active">
        <div class="page-indicator">
            <ul>
                <li><i class="fa-solid fa-house"></i></li>
                <li>서비스데스크</li>
                <li>서비스 신청현황</li>
            </ul>
        </div>
        <div class="input-wrap">
            <div class="input-lists">
                <div class="input-list">
                    <span class="input-title">서비스 구분</span>
                    <label class="select">
                        <select>
                            <option value="">네트워크 신청</option>
                            <option value="">PC 부품신청</option>
                            <option value="">키보드/마우스 신청</option>
                        </select>
                    </label>
                </div>
                <div class="input-list">
                    <span class="input-title">서비스 상태</span>
                    <label class="select">
                        <select>
                            <option value="">완료</option>
                            <option value="">상신</option>
                            <option value="">반려</option>
                        </select>
                    </label>
                </div>
                <div class="input-list">
                    <span class="input-title">요청내용</span>
                    <label class="input">
                        <input type="text">
                    </label>
                </div>
                <div class="input-list small">
                    <span class="input-title">기간</span>
                    <div class="date-wrap">
                        <label class="date">
                            <input type="text">
                        </label>
                        <span>~</span>
                        <label class="date">
                            <input type="text">
                        </label>
                    </div>
                </div>
            </div>
            <button type="button" class="btn search">검색</button>
        </div>

        <div class="list-box only">
            <ul class="quantity-list">
                <li>
                    <button type="button">
                        <span class="quantity yellow">
                            <span class="title">서비스상태</span>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="quantity blue">
                            <span class="num">2</span>
                            <span class="name">신청</span>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="quantity green">
                            <span class="num">2</span>
                            <span class="name">접수</span>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="quantity purple">
                            <span class="num">1</span>
                            <span class="name">조치중</span>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="quantity lightOrange">
                            <span class="num">3</span>
                            <span class="name">완료</span>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="quantity gray">
                            <span class="num">3</span>
                            <span class="name">수리중</span>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="quantity">
                            <span class="num">15</span>
                            <span class="name">전체</span>
                        </span>
                    </button>
                </li>
            </ul>
        </div>

        <div class="title-box end">
            <div class="btn-wrap">
                <a href="#" download="test.txt" class="btn excel">엑셀다운로드</a>
            </div>
        </div>
        <div id="grid_wrap" class="grid-box"></div>

        <div class="btn-wrap">
            <button type="button" class="btn" data-popup="gridPop_detail">서비스데스크 신청 현황</button>
        </div>
    </div>
</div>
<!-- // contents -->
<!-- 팝업 -->
<!-- 서비스 신청 현황 -->
<div id="gridPop_detail" class="popup grid big no">
    <div class="pop-box">
        <div class="pop-head">
            <h3>서비스데스크 신청 현황</h3>
            <button type="button" class="close-btn"></button>
        </div>
        <div class="pop-body">
            <div class="custom-table">
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center">신청번호</div></div>
                    <div class="td"><div class="td-wrap">122141</div></div>
                    <div class="th"><div class="th-wrap center">신청구분</div></div>
                    <div class="td"><div class="td-wrap">PC부품</div></div>
                    <div class="th"><div class="th-wrap center">상태</div></div>
                    <div class="td"><div class="td-wrap">조치중</div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>신청자</p></div></div>
                    <div class="td"><div class="td-wrap"><p>홍길동</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>사용자</p></div></div>
                    <div class="td"><div class="td-wrap"><p>김종민</p></div></div>
                    <div class="th"><div class="th-wrap center"><p>사용부서</p></div></div>
                    <div class="td"><div class="td-wrap"><p>IT운영</p></div></div>
                </div>
                <div class="row con-3">
                    <div class="th"><div class="th-wrap center"><p>사용장소</p></div></div>
                    <div class="td">
                        <div class="td-wrap">
                            <label class="select whole">
                                <select>
                                    <option value="">행정동</option>
                                    <option value="">행정동</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="th"><div class="th-wrap center"><p>상세위치</p></div></div>
                    <div class="td"><div class="td-wrap"><p>6층 604호</p></div></div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap center"><p>등록시간</p></div></div>
                    <div class="td"><div class="td-wrap"><p>2023-07-05 15:54:12</p></div></div>
                </div>
                <div class="row">
                    <div class="th"><div class="th-wrap center"><p>요청내용</p></div></div>
                    <div class="td"><div class="td-wrap"><p>해당 사유로 PC부품을 요청합니다.</p></div></div>
                </div>
            </div>

            <div class="title-box">
                <div class="title">
                    <h3>처리이력</h3>
                </div>
            </div>
            <div id="popup_grid_history" class="grid-box h-small"></div>

            <div class="title-box">
                <div class="title">
                    <h3>첨부파일</h3>
                </div>
            </div>
            <div class="table">
                <table>
                    <colgroup>
                        <col style="width:50px">
                        <col style="width:calc(100% - 50px);">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                            <div class="th-wrap center">
                                <label class="check no-text">
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </th>
                        <th><p>파일명</p></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="td-wrap center">
                                <label class="check no-text">
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                <div class="file-box long">
                                    <label class="file">
                                        <input type="file" class="fileUpload">
                                        <span class="btn">파일선택</span>
                                    </label>
                                    <span>선택된 파일 없음</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="btn-wrap">
                <button type="button" class="btn" data-btn="cancel">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- // 팝업 -->
<script>
/* AUIGrid */
/* 1. AUIGrid 생성 후 반환 ID */
let myGridID;

let popup_grid_assetInfo; // 자산정보
let popup_grid_history; // 처리이력

/* 2. AUIGrid 그리드 생성 + 데이터 요청 */
function documentReady() {
    /* 그리드 생성 */
    createAUIGrid();
    popupDetail(); // 처리이력

    /* 그리드 삽입 */
    requestData();
    requestData3();
}

/* 3. AUIGrid 그리드 옵션 */
function createAUIGrid() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {
            dataField: "id",
            headerText: "아이디",
            visible:false
        }, {
            dataField: "category_application_num",
            headerText: "신청번호",
            width: 160,
        }, {
            dataField: "category_service_division",
            headerText: "서비스 구분",
            width: 180
        }, {
            dataField: "category_request",
            headerText: "요청내용",
            width: 280
        }, {
            dataField: "category_applicant",
            headerText: "신청자",
            width: 160
        }, {
            dataField: "category_application_date",
            headerText: "신청일시",
            width: 160
        }, {
            dataField: "category_person_charge",
            headerText: "조치자",
            width: 160
        }, {
            dataField: "category_service_status",
            headerText: "서비스상태",
            width: 180
        }, {
            dataField: "category_finish_date",
            headerText: "완료일시",
            width: 180
        }, {
            dataField: "category_note",
            headerText: "비고",
            width: 200
        }]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        rowIdField: "id",
        showRowCheckColumn: false,// 엑스트라 체크박스 표시 설정
        enableRowCheckShiftKey: true,
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        usePaging: true, // 페이징 사용
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
        fillColumnSizeMode:true,
    }

    /* 그리드 생성 */
    myGridID = AUIGrid.create("#grid_wrap", columnLayout, gridPros);

    AUIGrid.bind(myGridID, "cellDoubleClick",function(){
        $("#gridPop_detail").addClass("open");
    });

    $('.menu-btn').on('click',function(){
        AUIGrid.destroy('#grid_wrap');
        setTimeout(function(){
            AUIGrid.create("#grid_wrap", columnLayout, gridPros);
            requestData();
        },200);
    })
}


/* [팝업] 서비스데스크 신청 현황 > 처리이력 */
function popupDetail() {
    /* 기본 그리드(예시) */
    /* 1. AUIGrid 칼럼 설정 */
    let columnLayout = [
        {
            dataField: "id",
            headerText: "아이디",
            visible:false
        },
        {
            dataField: "category_history_desc",
            headerText: "처리내용",
        },{
            dataField: "category_manager",
            headerText: "조치자",
        }, {
            dataField: "category_date",
            headerText: "처리일시",
        }, {
            dataField: "category_state",
            headerText: "상태",
        }]
    /* 2. 그리드 속성 설정 */
    let gridPros = {
        selectionMode: "multipleCells",
        enableSorting: true, // 소팅
        noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
        headerHeight : 30, // 기본 헤더 높이 지정
        pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
        autoGridHeight : true,
        fillColumnSizeMode:true,
    }

    /* 그리드 생성 */
    popup_grid_history = AUIGrid.create("#popup_grid_history", columnLayout, gridPros);
}

/* 4. 데이터 불러오기 */
function requestData() {
    $.get("../resources/lib/aui-grid/data/sample-datas12.json", function (data) {
        AUIGrid.setGridData(myGridID, data);
    });
}

function requestData3() {
    $.get("../resources/lib/aui-grid/data/sample-datas16.json", function (data) {
        AUIGrid.setGridData(popup_grid_history, data);
    });
}

/* 5. AUIGrid 그리드 윈도우 리사이징 이벤트 */
window.onresize = function () {
    if (typeof myGridID !== "undefined") {
        AUIGrid.resize(myGridID);
    }
}
</script>
</body>
</html>
