<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>S/W 조회</title>

    <!-- jQuery -->
    <script src="../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <link rel="stylesheet" href="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">

    <!-- AUI grid -->
    <script src="../resources/lib/aui-grid/js/AUIGridLicense.js"></script>
    <script src="../resources/lib/aui-grid/js/AUIGrid.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/ajax.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/common.js"></script>

    <link rel="stylesheet" href="../resources/lib/aui-grid/css/AUIGrid_style.css">

    <!--font-awesome -->
    <link rel="stylesheet" href="../resources/lib/font-awesome/css/all.min.css">

    <!-- 개별 소스 -->
    <link rel="stylesheet" href="../resources/css/main.css">
    <script src="../resources/js/main.js"></script>
    <script src="../resources/js/grid.js"></script>
</head>
<body>

<!-- contents -->
<div id="wrapper">

    <div class="contents active">
        <div class="page-indicator">
            <ul>
                <li><i class="fa-solid fa-house"></i></li>
                <li>자산신청</li>
                <li>S/W 조회</li>
            </ul>
        </div>

        <div class="title-box column">
            <div class="title">
                <h3>사용자</h3>
            </div>
        </div>
        <div class="input-wrap">
            <div class="input-lists">
                <div class="input-list">
                    <span class="input-title">사용자명</span>
                    <label class="input search"  data-place="user_search" onclick="lp_open('gridPop_user','사용자 검색',505,530,this);">
                        <input type="text" data-label="user" readonly>
                        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </label>
                </div>
                <div class="input-list">
                    <span class="input-title">사번</span>
                    <label class="input search">
                        <input type="text" data-label="employee" readonly>
                    </label>
                </div>
                <div class="input-list">
                    <span class="input-title">부서</span>
                    <label class="input search" data-place="department_search" onclick="lp_open('gridPop_department','부서 검색',505,530,this)">
                        <input type="text" data-label="department" readonly>
                        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </label>
                </div>
            </div>
            <button type="button" class="btn search">검색</button>
        </div>

        <div class="title-box">
            <div class="title">
                <h3 class="important">S/W 설치현황</h3>
            </div>
        </div>
        <div id="softwareCurrentGrid_ID" class="grid-box h-small"></div>

        <div class="title-box">
            <div class="title">
                <h3 class="important">S/W 설치내역</h3>
            </div>
        </div>
        <div id="softwareHistoryGrid_ID" class="grid-box h-small"></div>

        <div class="btn-wrap">
            <button type="button" class="btn" onclick="lp_open('gridPop_user','사용자 검색',505,530)">사용자 검색</button>
        </div>
    </div>
</div>

<!-- // contents -->

<!-- 팝업 -->
<!-- 사용자 검색 -->
<div id="gridPop_user" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div class="input-wrap">
                <div class="input-list">
                    <span class="input-title">사용자</span>
                    <label class="input search">
                        <input type="text">
                        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </label>
                </div>
            </div>
            <div id="popup_grid_user" class="grid-box"></div>
        </div>
    </div>
</div>

<!-- 부서 검색 -->
<div id="gridPop_department" class="popup">
    <div class="pop-box">
        <div class="pop-body">
            <div class="input-wrap">
                <div class="input-list">
                    <span class="input-title">부서</span>
                    <label class="input search">
                        <input type="text">
                        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </label>
                </div>
            </div>
            <div id="popup_grid_department" class="grid-box"></div>
        </div>
    </div>
</div>

<!-- // 팝업 -->

<script>
    /* AUIGrid */
    /* 1. AUIGrid 생성 후 반환 ID */
    let softwareCurrentGrid_ID;
    let softwareHistoryGrid_ID;


    /* 2. AUIGrid 그리드 생성 + 데이터 요청 */
    createSoftwareCurrentGrid();
    createSoftwareHistoryGrid();

    requestSoftwareCurrentData();
    requestSoftwareHistoryData();

    /* 3. AUIGrid 그리드 옵션 */
    function createSoftwareCurrentGrid() {
        /* 기본 그리드(예시) */
        /* 1. AUIGrid 칼럼 설정 */
        let columnLayout = [
            {
                dataField: "id",
                headerText: "아이디",
                visible:false
            },
            {
                dataField: "category_software_name",
                headerText: "소프트웨어명",
                width: 180,
                filter: {
                    showIcon: true,
                }
            },
            {
                dataField: "category_software_version",
                headerText: "버전",
                width: 180,
                filter: {
                    showIcon: true,
                }
            },
            {
                dataField: "category_usage",
                headerText: "용도",
                width: 160,
                filter: {
                    showIcon: true,
                }
            },
            {
                dataField: "category_installed_quantity",
                headerText: "설치수량",
                width: 160,
                filter: {
                    showIcon: true,
                }
            },
            {
                dataField: "category_approved_quantity",
                headerText: "인가수량",
                width: 160,
                filter: {
                    showIcon: true,
                }
            },
            {
                dataField: "category_unauthorized_quantity",
                headerText: "비인가수량",
                width: 160,
                filter: {
                    showIcon: true,
                }
            }
        ]
        /* 2. 그리드 속성 설정 */
        let gridPros = {
            rowIdField: "id",
            showRowCheckColumn: true,// 엑스트라 체크박스 표시 설정
            enableRowCheckShiftKey: true,
            selectionMode: "multipleCells",
            enableSorting: true, // 소팅
            noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
            headerHeight : 30, // 기본 헤더 높이 지정
            usePaging: true, // 페이징 사용
            pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
            pageRowCount: 12, // 한 화면에 출력되는 행 개수 30개로 지정
            showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
            fillColumnSizeMode:true,
            softRemoveRowMode:false,
            copyDisplayValue: true, //그리드 데이터 복사 가능
            enableFilter: true, // 필터 true 설정
        }

        /* 그리드 생성 */
        softwareCurrentGrid_ID = AUIGrid.create("#softwareCurrentGrid_ID", columnLayout, gridPros);
    }
    function createSoftwareHistoryGrid() {
        /* 기본 그리드(예시) */
        /* 1. AUIGrid 칼럼 설정 */
        let columnLayout = [
            {
                dataField: "id",
                headerText: "아이디",
                visible:false
            },
            {
                dataField: "category_software_name",
                headerText: "소프트웨어명",
                filter: {
                    showIcon: true,
                }
            },
            {
                dataField: "category_software_version",
                headerText: "버전",
                filter: {
                    showIcon: true,
                }
            },
            {
                dataField: "category_department",
                headerText: "부서",
                filter: {
                    showIcon: true,
                }
            },
            {
                dataField: "category_user_name",
                headerText: "사용자",
                filter: {
                    showIcon: true,
                }
            },
            {
                dataField: "category_asset_num",
                headerText: "자산번호",
                filter: {
                    showIcon: true,
                }
            },
            {
                dataField: "category_approved_check",
                headerText: "인가여부",
                filter: {
                    showIcon: true,
                }
            },
            {
                dataField: "category_installed_date",
                headerText: "설치일자",
                filter: {
                    showIcon: true,
                }
            }
        ]
        /* 2. 그리드 속성 설정 */
        let gridPros = {
            rowIdField: "id",
            enableRowCheckShiftKey: true,
            selectionMode: "multipleCells",
            enableSorting: true, // 소팅
            noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
            headerHeight : 30, // 기본 헤더 높이 지정
            usePaging: true, // 페이징 사용
            pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
            pageRowCount: 12, // 한 화면에 출력되는 행 개수 30개로 지정
            showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
            fillColumnSizeMode:true,
            copyDisplayValue: true, //그리드 데이터 복사 가능
            enableFilter: true, // 필터 true 설정
        }

        /* 그리드 생성 */
        softwareHistoryGrid_ID = AUIGrid.create("#softwareHistoryGrid_ID", columnLayout, gridPros);
    }

    /* 4. 데이터 불러오기 */
    function requestSoftwareCurrentData() {
        $.get("../resources/lib/aui-grid/data/sample-datas26.json", function (data) {
            AUIGrid.setGridData(softwareCurrentGrid_ID, data);
        });
    }
    function requestSoftwareHistoryData() {
        $.get("../resources/lib/aui-grid/data/sample-datas26.json", function (data) {
            AUIGrid.setGridData(softwareHistoryGrid_ID, data);
        });
    }

    /* 5. AUIGrid 그리드 윈도우 리사이징 이벤트 */
    window.onresize = function () {
        if (typeof holdingAssetGrid_ID !== "undefined") {
            AUIGrid.resize(holdingAssetGrid_ID);
        }
        if (typeof enrollGrid_ID !== "undefined"){
            AUIGrid.resize(enrollGrid_ID);
        }
    }
    /* 6. 함수 관련 */
    /* 행 삭제 */
    function deleteRowGrid(){
        AUIGrid.removeCheckedRows(enrollGrid_ID); // 체크된 행 삭제 처리
        let removedRows = AUIGrid.getRemovedItems(enrollGrid_ID, true); // 삭제 처리된 아이템 있는지 보기
        if (removedRows.length <= 0) {
            alert("삭제 처리되어 마크된 행이 없습니다.")
            return;
        }
        AUIGrid.removeSoftRows(enrollGrid_ID); // softRemoveRowMode 가 true 일 때 삭제를 하면 그리드 상에 마크가 되는데, 이를 실제로 그리드에서 삭제 함.
    }

    /* 인수인계신청 > 선택한 날짜 그리드 삽입 */
    $(".btn.check").on("click",function(){
        // 상단 그리드의 체크된 행들 얻기
        let rows = AUIGrid.getCheckedRowItemsAll(holdingAssetGrid_ID);
        console.log(rows[0].id)
        if (rows.length <= 0) {
            alert('상단 그리드에서 체크된 행이 없습니다.');
            return;
        }
        /* 얻은 행을 하단 그리드에 추가하기 */
        AUIGrid.addRow(enrollGrid_ID, rows, "last");

        /* 선택한 상단 그리드 행들 삭제 */
        AUIGrid.removeCheckedRows(holdingAssetGrid_ID);

        /* 다른 그리드의 해당 컬럼명의 값에 추가 */
        AUIGrid.updateRowsById(enrollGrid_ID, str)
    });

    /* 메뉴버튼 클릭시(반응형) */
    $(document).on("click",".menu-btn",function(){
        let innerWidth = $(".contents").innerWidth() - 38;
        if($(".contents").hasClass("active")){
            innerWidth = innerWidth + 260;
            setTimeout(function(){
                AUIGrid.resize(holdingAssetGrid_ID, innerWidth - 10);
                AUIGrid.resize(enrollGrid_ID, innerWidth);
            },20)

        } else{
            innerWidth = innerWidth - 260;
            setTimeout(function(){
                AUIGrid.resize(holdingAssetGrid_ID, innerWidth - 10);
                AUIGrid.resize(enrollGrid_ID, innerWidth);
            },20)
        }
    });

    /* 서비스상태 버튼을 눌렀을 때, 그리드 필터링 이벤트 함수 */
    $(".quantity-list li button").each(function(){
        $(this).on("click",function(){
            let name = $(this).find('.name').text();
            let comparisonObj = AUIGrid.getOrgGridData(holdingAssetGrid_ID);

            AUIGrid.clearFilterAll(holdingAssetGrid_ID);

            comparisonObj.forEach((i) => {
                if(name === i.category_product_name){
                    AUIGrid.setFilterByValues(holdingAssetGrid_ID, "category_product_name", i.category_product_name);
                }
            });
        });
    });
</script>
</body>
</html>
