<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>사용자 메인 화면</title>

    <!-- jQuery -->
    <script src="../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <link rel="stylesheet" href="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">

    <!-- echarts  -->
    <script src="../resources/lib/echarts/echarts.min.js"></script>


    <!-- AUI grid -->
    <script src="../resources/lib/aui-grid/js/AUIGridLicense.js"></script>
    <script src="../resources/lib/aui-grid/js/AUIGrid.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/ajax.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/common.js"></script>

    <link rel="stylesheet" href="../resources/lib/aui-grid/css/AUIGrid_style.css">

    <!--font-awesome -->
    <link rel="stylesheet" href="../resources/lib/font-awesome/css/all.min.css">

    <!-- 개별 소스 -->
    <link rel="stylesheet" href="../resources/css/main.css">
    <script src="../resources/js/main.js"></script>
</head>
<body class="user-main-page">

<!-- contents -->
<div id="wrapper">
    <div class="contents">
        <div class="top">
            <div class="bg">
                <img src="../resources/img/h_bg.svg" alt="">
            </div>
            <div class="preview-list">
                <div class="menu-box">
                    <div class="mtitle-box">
                        <h3>자산 신청현황</h3>
                    </div>
                    <ul class="badge-list">
                        <li><a href="#"><img src="../resources/img/badge1.svg" alt=""><span>신규 신청</span></a></li>
                        <li><a href="#"><img src="../resources/img/badge2.svg" alt=""><span>교체 신청</span></a></li>
                        <li><a href="#"><img src="../resources/img/badge3.svg" alt=""><span>반납 신청</span></a></li>
                    </ul>

                    <ul class="badge-list">
                        <li><a href="#"><img src="../resources/img/badge4.svg" alt=""><span>대여 신청</span></a></li>
                        <li><a href="#"><img src="../resources/img/badge5.svg" alt=""><span>대여 연장</span></a></li>
                        <li><a href="#"><img src="../resources/img/badge6.svg" alt=""><span>인수 인계</span></a></li>
                    </ul>
                </div>
                <div class="menu-wrap">
                    <div class="menu-small">
                        <div class="mtitle-box">
                            <h3>자산관리</h3>
                        </div>
                        <ul class="badge-list">
                            <li><a href="#"><img src="../resources/img/badge7.svg" alt=""><span>내 자산 조회</span></a></li>
                            <li><a href="#"><img src="../resources/img/badge8.svg" alt=""><span>자산실사</span></a></li>
                            <li><a href="#"><img src="../resources/img/badge9.svg" alt=""><span>정기교체</span></a></li>
                        </ul>
                    </div>
                    <div class="menu-small">
                        <div class="mtitle-box">
                            <h3>서비스데스크</h3>
                        </div>
                        <ul class="badge-list">
                            <li><a href="#"><img src="../resources/img/badge10.svg" alt=""><span>부품 신청</span></a></li>
                            <li><a href="#"><img src="../resources/img/badge11.svg" alt=""><span>SW 신청</span></a></li>
                            <li><a href="#"><img src="../resources/img/badge12.svg" alt=""><span>장애 신고</span></a></li>
                        </ul>
                    </div>
                </div>

                <ul class="help-list">
                    <li>
                        <img src="../resources/img/icon/icon_phone.svg" alt="">
                        <span>IT 헬프데스크</span>
                    </li>
                    <li>공장 6293</li>
                    <li>서울 9282</li>
                </ul>
            </div>
            <div class="myinfo-wrap">
                <div class="myinfo">
                    <div class="user-box">
                        <p>박선옥 님</p>
                        <button type="button" class="btn">새로고침</button>
                    </div>
                    <div class="info">
                        <p>개인알림영역</p>
                        <ul>
                            <li>
                                <span class="info-tit">반납예정일</span>
                                <span class="info-date">2023.10.30</span>
                            </li>
                            <li>
                                <span class="info-tit">자산실사기간</span>
                                <span class="info-date">2023.10.30
                            <br>~2023.11.12
                            </span>
                            </li>
                            <li>
                                <span class="info-tit">정기교체기간</span>
                                <span class="info-date">2023.10.30
                            <br>~2023.11.12
                            </span>
                            </li>
                            <li>
                                <span class="info-tit">정기교체기간</span>
                                <span class="info-date">2023.10.30
                            <br>~2023.11.12
                            </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="link-wrap">
                    <a href="#"><img src="../resources/img/icon/icon_lightbulb.svg" alt="">자체 해결 가이드</a>
                    <a href="#"><img src="../resources/img/icon/icon_dns.svg" alt="">정보자산 관리기준 한눈에 보기</a>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="g-box">
                <div class="g-title">
                    <h3>부서자산 보유 현황</h3>
                </div>
                <div id="departmentAsset_ID" class="grid-box main-grid-5"></div>
            </div>
            <div class="g-box">
                <div class="g-title">
                    <h3>나의신청현황(올해)</h3>
                </div>
                <div id="mineAsset_ID" class="grid-box main-grid-5"></div>
            </div>
        </div>
    </div>

    <footer>
        <div class="logos">
            <img src="../resources/img/h_logo.svg" alt="한화 로고 토탈 에너지 로고">
            <p>Copyright ⓒ 2016 Hanwha TotalEnergies Petrochemical Co., Ltd All rights reserved.</p>
        </div>
    </footer>

</div>

<!-- // contents -->
<style>
    /* aui-grid 높이 */
    .main-grid-5{height:305px;}
    .aui-grid-header-panel .aui-grid-default-header.aui-grid-user-custom-header:hover span {color:#000!important;}
    .aui-grid-default-header,
    .aui-grid-user-custom-header{background-color:#414141;color:#FFFFFF;}
    .aui-grid{border:0;}
    .aui-grid-row-background{background-color:#fff;}
    .aui-grid-alternative-row-background{background-color:#f9f9f9}
    .aui-grid-header-panel .aui-grid-table tr td{border:0;}
    .aui-grid-default-header *{color:#fff;font-size:16px;font-family:"Noto Sans", sans-serif;font-weight:400}
    .aui-grid-body-panel .aui-grid-table tr td{border-bottom:0;}

    /* aui-grid > footer */
    .aui-grid-default-footer{background-color:#EEEEEE;}
    .aui-grid-footer-division-line{border-top:1px solid #B6B6B6!important;}
    .aui-grid-paging-panel{border-top:0;}
</style>
<script>
    /* AUIGrid */
    /* 1. AUIGrid 생성 후 반환 ID */
    let departmentAsset_ID; // 보유자산
    let mineAsset_ID; // 신청자산


    /* 2. AUIGrid 그리드 생성 + 데이터 요청 */
    /* 그리드 생성 */
    createHoldingAssetGrid(); // 보유자산 정보
    createEnrollAssetGrid(); // 신청자산 정보

    /* 그리드 삽입 */
    requestHoldingAssetData();
    requestApplicationStatusData()

    /* 3. AUIGrid 그리드 옵션 */
    /* 보유자산 그리드 */
    function createHoldingAssetGrid() {
        /* 기본 그리드(예시) */
        /* 1. AUIGrid 칼럼 설정 */
        let columnLayout = [
            {
                dataField: "id",
                headerText: "아이디",
                visible:false
            }, {
                dataField: "category_product_name",
                headerText: "물품종류",
                headerStyle : "aui-grid-user-custom-header",
            }, {
                dataField: "category_personal",
                headerText: "개인",
                headerStyle : "aui-grid-user-custom-header",
            }, {
                dataField: "category_public",
                headerText: "공용",
                headerStyle : "aui-grid-user-custom-header",
            }];

        /* 1-2. 푸터 설정 */
        let footerLayout = [{
            labelText : "합계",
            dataField: "category_product_name",
            positionField: "category_product_name",
        }, {
            dataField: "category_personal",
            positionField: "category_personal",
            operation: "SUM",
            style: "aui-grid-my-column",
            formatString: "#,##0"
        }, {
            dataField: "category_public",
            positionField: "category_public",
            operation: "SUM",
            style: "aui-grid-my-column",
            formatString: "#,##0"
        }];


        /* 20231016 : 2. 그리드 속성 설정 */
        let gridPros = {
            rowIdField: "id",
            selectionMode: "multipleCells",
            enableSorting: true, // 소팅
            softRemoveRowMode: true, // 소프트 제거 모드 사용 안함
            noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
            /* 사이즈 지정 */
            headerHeight : 38, // 기본 헤더 높이 지정
            rowHeight : 38, // 기본 헤더 높이 지정
            fillColumnSizeMode: true,
            /* 페이지네이션 */
            usePaging: true, // 페이징 사용
            pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
            showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
            pageRowCount:5, // 페이지에 출력되는 row 개수
            /* 그리드 복사 */
            copyDisplayValue: true, //그리드 데이터 복사 가능
            /* 푸터 */
            showFooter : true,
            footerHeight:38,
        }

        /* 그리드 생성 */
        departmentAsset_ID = AUIGrid.create("#departmentAsset_ID", columnLayout, gridPros);
        AUIGrid.setFooter(departmentAsset_ID, footerLayout);
    }

    /* 신청자산정보 그리드*/
    function createEnrollAssetGrid() {
        /* 기본 그리드(예시) */
        /* 1. AUIGrid 칼럼 설정 */
        let columnLayout = [
            {
                dataField: "id",
                headerText: "아이디",
                visible:false
            }, {
                dataField: "category_application",
                headerText: "신청구분",
                headerStyle : "aui-grid-user-custom-header",
                filter: {
                    showIcon: true,
                }
            }, {
                dataField: "category_num_cases_process",
                headerText: "처리건수",
                headerStyle : "aui-grid-user-custom-header",
                filter: {
                    showIcon: true,
                }
            }, {
                dataField: "category_complete",
                headerText: "완료",
                headerStyle : "aui-grid-user-custom-header",
                filter: {
                    showIcon: true,
                }
            }];

        /* 1-2. 푸터 설정 */
        let footerLayout = [{
            labelText : "합계",
            dataField: "category_application",
            positionField: "category_application",
        }, {
            dataField: "category_num_cases_process",
            positionField: "category_num_cases_process",
            operation: "SUM",
            style: "aui-grid-my-column",
            formatString: "#,##0"
        }, {
            dataField: "category_complete",
            positionField: "category_complete",
            operation: "SUM",
            style: "aui-grid-my-column",
            formatString: "#,##0"
        }];

        /* 20231016 : 2. 그리드 속성 설정 */
        let gridPros = {
            rowIdField: "id",
            selectionMode: "multipleCells",
            enableSorting: true, // 소팅
            noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
            /* 사이즈 지정 */
            headerHeight : 38, // 기본 헤더 높이 지정
            rowHeight : 38, // 기본 헤더 높이 지정
            fillColumnSizeMode: true,
            /* 페이지네이션 */
            usePaging: true, // 페이징 사용
            pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
            showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
            pageRowCount:5, // 페이지에 출력되는 row 개수
            /* 그리드 복사 */
            copyDisplayValue: true, //그리드 데이터 복사 가능
            /* 푸터 */
            showFooter : true,
            footerHeight:42,
        }
        /* 그리드 생성 */
        mineAsset_ID = AUIGrid.create("#mineAsset_ID", columnLayout, gridPros);
        AUIGrid.setFooter(mineAsset_ID, footerLayout);
    }

    /* 4. 데이터 불러오기 */
    function requestHoldingAssetData() {
        $.get("../resources/lib/aui-grid/data/sample-datas6.json", function (data) {
            AUIGrid.setGridData(departmentAsset_ID, data);
        });
    }

    function requestApplicationStatusData() {
        $.get("../resources/lib/aui-grid/data/sample-datas-id.json", function (data) {
            AUIGrid.setGridData(mineAsset_ID, data);
        });
    }

    /* 5. AUIGrid 그리드 윈도우 리사이징 이벤트 */
    window.onresize = function () {
        if (typeof departmentAsset_ID !== "undefined") {
            AUIGrid.resize(departmentAsset_ID);
        }
        if (typeof mineAsset_ID !== "undefined"){
            AUIGrid.resize(mineAsset_ID);
        }
    }

    /* 6. 관련 함수 */
    /* 메뉴버튼 클릭시(반응형) */
    $(document).on("click",".menu-btn",function(){
        let windowWidth = $(window).innerWidth();
        let innerWidth = $(".g-box").innerWidth() ;

        if($(".contents").hasClass("active")) {
            if (windowWidth >= 1240) {
                innerWidth = innerWidth + 70;
                setTimeout(function () {
                    AUIGrid.resize(mineAsset_ID, innerWidth);
                    AUIGrid.resize(departmentAsset_ID, innerWidth);
                }, 20);
            } else if(windowWidth >= 484 && windowWidth <1240) {

                windowWidth = windowWidth - 100;
                setTimeout(function () {
                    AUIGrid.resize(mineAsset_ID, windowWidth);
                    AUIGrid.resize(departmentAsset_ID, windowWidth);
                }, 20);
            } else{
                windowWidth = $(".contents").innerWidth() - 96;
                setTimeout(function () {
                    AUIGrid.resize(mineAsset_ID, windowWidth);
                    AUIGrid.resize(departmentAsset_ID, windowWidth);
                }, 20);
            }
        }else{
            if (windowWidth >= 1240) {
                innerWidth = innerWidth - 186;
                setTimeout(function(){
                    AUIGrid.resize(mineAsset_ID, innerWidth);
                    AUIGrid.resize(departmentAsset_ID, innerWidth);
                },20);
            } else if(windowWidth >= 484 && windowWidth <1240) {

                windowWidth = windowWidth - 360;
                setTimeout(function () {
                    AUIGrid.resize(mineAsset_ID, windowWidth);
                    AUIGrid.resize(departmentAsset_ID, windowWidth);
                }, 20);
            }else{
                console.log("ddd")
                windowWidth = $(".user-main-page").innerWidth() - 98;
                setTimeout(function () {
                    AUIGrid.resize(mineAsset_ID, windowWidth);
                    AUIGrid.resize(departmentAsset_ID, windowWidth);
                }, 20);
            }
        }
    });
</script>
</body>
</html>
