<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>사용자 메인 화면(수정)</title>

    <!-- jQuery -->
    <script src="../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <link rel="stylesheet" href="../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">

    <!-- echarts  -->
    <script src="../resources/lib/echarts/echarts.min.js"></script>


    <!-- AUI grid -->
    <script src="../resources/lib/aui-grid/js/AUIGridLicense.js"></script>
    <script src="../resources/lib/aui-grid/js/AUIGrid.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/ajax.js"></script>
    <script type="text/javascript" src="../resources/lib/aui-grid/js/common.js"></script>

    <link rel="stylesheet" href="../resources/lib/aui-grid/css/AUIGrid_style.css">

    <!--font-awesome -->
    <link rel="stylesheet" href="../resources/lib/font-awesome/css/all.min.css">

    <!-- 개별 소스 -->
    <link rel="stylesheet" href="../resources/css/main.css">
    <script src="../resources/js/main.js"></script>
</head>
<body class="main-page">

<!-- contents -->
<div id="wrapper">

    <div class="contents">
        <div class="dashboard-wrap us">
            <div class="main-image-wrap">
                <div class="image-box">
                    <img src="../resources/img/user-main-img.jpg" alt="메인">
                </div>
                <div class="main-title-box">
                    <span>I</span>T <span>A</span>SSET <span>M</span>ANAGEMENT<br>
                    <span>S</span>YSTEM
                </div>
            </div>
            <div class="main-con-box">
                <div class="preview-list">
                    <div class="preview-card">
                        <div class="card-title">자산 신청현황</div>
                        <ul>
                            <li><a href="#">신규신청</a></li>
                            <li><a href="#">대여신청</a></li>
                            <li><a href="#">교체신청</a></li>
                            <li><a href="#">대여연장</a></li>
                            <li><a href="#">반납신청</a></li>
                            <li><a href="#">인수인계</a></li>
                            <li><a href="#">정기교체</a></li>
                            <li><a href="#">신청현황</a></li>
                        </ul>
                    </div>
                    <div class="preview-card">
                        <div class="card-title">자산관리</div>
                        <ul>
                            <li><a href="#">보유현황</a></li>
                            <li><a href="#">자산실사</a></li>
                            <li><a href="#">자산관리</a></li>
                        </ul>
                    </div>
                    <div class="preview-card">
                        <div class="card-title">서비스 신청</div>
                        <ul>
                            <li><a href="#">부품신청</a></li>
                            <li><a href="#">SW신청</a></li>
                            <li><a href="#">장애신청</a></li>
                        </ul>
                    </div>
                </div>
                <div class="preview-list-wrap">
                    <div class="preview-list grid-ver">
                        <div class="preview-card only">
                            <div class="card-title">자산 보유현황</div>
                            <div id="assetGrid_ID" class="grid-box"></div>
                        </div>
                    </div>
                    <div class="preview-list grid-ver">
                        <div class="preview-card only">
                            <div class="card-title">나의신청현황(올해)</div>
                            <div id="applicationGrid_ID" class="grid-box"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer>
        <div class="contact">
            <ul>
                <li>네트워크 T.</li>
                <li>그룹웨어 T.</li>
                <li>IT 헬프데스크 6293(공장)9289(서울 등)</li>
                <li><a href="#" class="btn">자체 해결 가이드</a></li>
            </ul>
        </div>
        <div class="logos">
            <img src="../resources/img/h_logo.png" alt="logo">
        </div>
    </footer>
</div>

<!-- // contents -->
<script type="text/javascript">
    /* AUIGrid */
    /* 1. AUIGrid 생성 후 반환 ID */
    let assetGrid_ID;
    let applicationGrid_ID;

    /* 2. AUIGrid 그리드 생성 + 데이터 요청 */
    createAssetGrid();
    createApplicationGrid();
    requestAssetData();
    requestApplicationData();

    /* 3. AUIGrid 그리드 옵션 */
    /* 신청정보 */
    function createAssetGrid() {
        /* 기본 그리드(예시) */
        /* 1. AUIGrid 칼럼 설정 */
        let columnLayout = [
            {
                dataField: "id",
                headerText: "아이디",
                visible:false,
            }, {
                dataField: "category_item",
                headerText: "물품종류",
            }, {
                dataField: "category_individual",
                headerText: "개인",
            }, {
                dataField: "category_public",
                headerText: "공용",
            }];

        /* 1-2. 푸터 설정 */
        let footerLayout = [{
            labelText : "합계",
            positionField : "#base"
        },{
            dataField: "category_item",
            positionField: "category_item",
            operation: "SUM",
            style: "aui-grid-my-column",
            formatString: "#,##0"
        }, {
            dataField: "category_individual",
            positionField: "category_individual",
            operation: "SUM",
            style: "aui-grid-my-column",
            formatString: "#,##0"
        }, {
            dataField: "category_public",
            positionField: "category_public",
            operation: "SUM",
            style: "aui-grid-my-column",
            formatString: "#,##0"
        }];

        /* 2. 그리드 속성 설정 */
        let gridPros = {
            rowIdField: "id",
            showRowCheckColumn:false,// 엑스트라 체크박스 표시 설정
            selectionMode: "multipleCells",
            enableSorting: true, // 소팅
            noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
            headerHeight : 30, // 기본 헤더 높이 지정
            usePaging: true, // 페이징 사용
            pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
            showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
            softRemoveRowMode:false,
            showFooter : true,
        }

        /* 그리드 생성 */
        assetGrid_ID = AUIGrid.create("#assetGrid_ID", columnLayout, gridPros);
        AUIGrid.setFooter(assetGrid_ID, footerLayout);
    }

    function createApplicationGrid() {
        /* 기본 그리드(예시) */
        /* 1. AUIGrid 칼럼 설정 */
        let columnLayout = [
            {
                dataField: "id",
                headerText: "아이디",
                visible:false,
            }, {
                dataField: "category_item",
                headerText: "신청구분",
            }, {
                dataField: "category_individual",
                headerText: "처리건수",
            }, {
                dataField: "category_public",
                headerText: "완료건수",
            }];

        /* 1-2. 푸터 설정 */
        let footerLayout = [{
            labelText : "합계",
            positionField : "#base"
        },{
            dataField: "category_item",
            positionField: "category_item",
            operation: "SUM",
            style: "aui-grid-my-column",
            formatString: "#,##0"
        }, {
            dataField: "category_individual",
            positionField: "category_individual",
            operation: "SUM",
            style: "aui-grid-my-column",
            formatString: "#,##0"
        }, {
            dataField: "category_public",
            positionField: "category_public",
            operation: "SUM",
            style: "aui-grid-my-column",
            formatString: "#,##0"
        }];

        /* 2. 그리드 속성 설정 */
        let gridPros = {
            rowIdField: "id",
            showRowCheckColumn:false,// 엑스트라 체크박스 표시 설정
            selectionMode: "multipleCells",
            enableSorting: true, // 소팅
            noDataMessage: "출력할 데이터가 없습니다.", // 데이터 없을 경우
            headerHeight : 30, // 기본 헤더 높이 지정
            usePaging: true, // 페이징 사용
            pagingMode: "simple", // 페이징을 간단한 유형으로 나오도록 설정
            showPageRowSelect: true, // 페이지 행 개수 select UI 출력 여부 (기본값 : false)
            softRemoveRowMode:false,
            showFooter : true
        }


        /* 그리드 생성 */
        applicationGrid_ID = AUIGrid.create("#applicationGrid_ID", columnLayout, gridPros);
        AUIGrid.setFooter(applicationGrid_ID, footerLayout);
    }

    /* 4. 데이터 불러오기 */
    function requestAssetData() {
        $.get("../resources/lib/aui-grid/data/sample-datas11.json", function (data) {
            AUIGrid.setGridData(assetGrid_ID, data);
        });
    }

    function requestApplicationData() {
        $.get("../resources/lib/aui-grid/data/sample-datas11.json", function (data) {
            AUIGrid.setGridData(applicationGrid_ID, data);
        });
    }


    /* 5. AUIGrid 그리드 윈도우 리사이징 이벤트 */
    window.onresize = function () {
        if (typeof assetGrid_ID !== "undefined") {
            AUIGrid.resize(assetGrid_ID);
        }
        if (typeof applicationGrid_ID !== "undefined") {
            AUIGrid.resize(applicationGrid_ID);
        }
    }

    /* 6. 사용하는 함수 */
    /* 그리드 행 선택 삭제 */
    function deleteRowGrid(){
        AUIGrid.removeCheckedRows(applicationGrid_ID); // 체크된 행 삭제 처리
    }

    /* 메뉴버튼 클릭시(반응형) */
    $(document).on("click",".menu-btn",function(){
        let windowWidth = $(window).innerWidth();
        let innerWidth = $(".preview-list.grid-ver").innerWidth() ;

        if($(".contents").hasClass("active")) {
            if (windowWidth >= 1240) {
                innerWidth = innerWidth + 40;
                setTimeout(function () {
                    console.log("3")
                    AUIGrid.resize(assetGrid_ID, innerWidth);
                    AUIGrid.resize(applicationGrid_ID, innerWidth);
                }, 20);
            } else {
                windowWidth = windowWidth - 80;
                setTimeout(function () {
                    console.log("3")
                    AUIGrid.resize(assetGrid_ID, windowWidth);
                    AUIGrid.resize(applicationGrid_ID, windowWidth);
                }, 20)

            }
        }else{
            if (windowWidth >= 1240) {
                innerWidth = innerWidth - 117;
                setTimeout(function(){
                    console.log("5")
                    AUIGrid.resize(assetGrid_ID, innerWidth)
                    AUIGrid.resize(applicationGrid_ID, innerWidth);
                },20)
            } else {
                windowWidth = windowWidth - 340;
                setTimeout(function () {
                    console.log("3")
                    AUIGrid.resize(assetGrid_ID, windowWidth);
                    AUIGrid.resize(applicationGrid_ID, windowWidth);
                }, 20)

            }
        }
    });
</script>
</body>
</html>
