@import "fonts.css";
*{color:inherit;font-family:inherit;font-size:inherit;font-weight:inherit;line-height:1.2;word-break:break-all;padding:0;margin:0;box-sizing:border-box;}
html, body{height:100%;font-family:"Noto Sans", sans-serif;color:#414141;font-size:16px;font-weight:400;}
body{height:auto;overflow-y:auto;}
body.on{overflow-y:hidden;}
ul{list-style:none;}
a{text-decoration:none;}
span{display:inline-block;}
img{max-width:100%;object-fit:cover;}
button{background:none;border:0;cursor:pointer;}
label{cursor:pointer;}

/* layout */
#wrapper{display:flex;}
.contents{flex:1;padding:10px 20px;margin-top:45px;margin-left:0;transition:margin-left 200ms ease-in-out;}
.contents.active,
.contents.active + footer{margin-left:260px;transition:margin-left 200ms ease-in-out;}


:root{
    /* color */
    --color1:#f37321;
    --color2:#f89b6c;
    --color3:#fbb584;
    --color4:#fe7912;
    --color5:#6e6e6e;
    --color6:#414141;
    --color7:#eee;

    --color9:#9f9d9d;
    --color10:#fff;
    --important:red;

    /* table-border */
    --line1:#ddd;

    /* table-background */
    --tableBg1:#f2f4f6;

    /* font weight */
    --bold:700;
    --medium:500;
    --regular:400;
}

/* header */
header{width:100%;height:45px;background:var(--color10);display:flex;justify-content:space-between;align-items:center;border-bottom:1px solid var(--color7);padding:10px 20px;position:fixed;top:0;left:0;z-index:100;}
header .inner{display:flex;align-items:center;gap:10px;}
.account{padding-left:28px;margin-right:40px;position:relative;}
.account:before{content:"";width:24px;height:24px;background:url("../../resources/img/icon/account.png") no-repeat;background-size:100%;position:absolute;top:0;left:0;}

/* sidebar */
.sidebar{width:260px;height:calc(100% - 45px);background:var(--color1);position:fixed;top:45px;left:-260px;z-index:100;transition:left 200ms ease-in-out;overflow-y:auto;}
.sidebar.open{left:0;}
.sidebar .btn{color:var(--color10);position:relative;}
.sidebar .linkBtn{color:var(--color10);position:relative;width:100%;background:#eb6620;display:block;padding:10px 10px 10px 20px;}
.sidebar .linkBtn:hover{background:#d05e22;}
.sidebar .linkBtn.active{background:#d05e22;}
.sidebar button.btn:after{content:"";width:24px;height:24px;background:url("../../resources/img/icon/arrow_down_w.png") no-repeat;background-size:100%;position:absolute;top:50%;right:10px;transform:translateY(-50%);transition:.2s;}
.sidebar .menu > ul > li > .btn{width:100%;background:var(--color4);display:block;font-size:18px;text-align:left;border-bottom:1px solid var(--color7);padding:10px 20px;border-radius:0;}
.sidebar .btn + .depth{height:0;overflow:hidden; transition:height 200ms ease;}
.sidebar .btn.active::after{transform:translateY(-50%) rotate(180deg);}
.sidebar .depth .btn{font-size:16px;}

/* main (사용자) */
.preview-list{display:flex;width:100%;padding:15px 0;background-color:white;border-radius:20px;}
.preview-list .preview-card{width:calc(100% / 3); border-right:1px solid var(--line1);padding:20px;}
.preview-list .preview-card.only{width:100%;}
.preview-list .preview-card:last-child{border-right: none;}
.preview-list .card-title{font-size:20px; font-weight:bold;padding-left:10px;}
.preview-card ul{display:flex;width:100%;flex-wrap:wrap;margin-top:20px;}
.preview-card + .preview-card ul{flex-direction:column;}
.preview-card ul li{width:calc(100% / 2);padding-left:10px;margin-bottom:20px;position:relative;transition:.3s;}
.preview-card ul li::before{content:'';position:absolute;width:4px;height:16px;background-color:var(--color1);left:0;top:50%;transform:translateY(-50%);}
.preview-card ul li:hover{color:var(--color1);}
.preview-card ul li > a{font-size:15px;}
.dashboard-wrap.us > *:first-child{width:40%;gap:20px;}
.dashboard-wrap.us > *:last-child{width:60%;gap:20px;}
.main-image-box{height:100%;background-color:gray}
.main-con-box{display:flex;flex-direction:column;gap:20px;}
.preview-list-wrap{display:flex;gap:20px;}
.preview-list-wrap .grid-box{margin-top:12px;height:300px;background-color:yellow;}

/* main (관리자) */
body.main-page #wrapper{flex-direction:column;}
body.main-page .contents{height:calc(100vh - 192px);min-height:731px;background:#fff3ec;overflow:hidden;}
.dashboard-wrap{height:100%;display:flex;flex-wrap:wrap;}
.ds-wrap{width:100%;height:calc(50% - 10px);display:flex;gap:10px;}
.ds-box{width:calc(50% - 5px);height:100%;min-height:340px;display:flex;justify-content:center;align-items:center;padding:10px;overflow:hidden;border:1px solid var(--line1);border-radius:8px;background-color:var(--color10);}
.ds-box.column{flex-direction:column;align-items:flex-start;justify-content:flex-start;}
.ds-box.column > *{width:100%;}
.ds-box:nth-child(2n){margin-left:10px;}
.ds-content-box{height:280px;overflow-y:auto;display:flex;justify-content:center;align-items:center;border:1px solid var(--line1);border-radius:8px;}
.ds-wrap + .ds-wrap{margin-top:20px;}
.ds-box .quantity-list{width:100%;gap:12px;padding:0 10px;}
.ds-box .quantity-list > li{width:calc(25% - 9px);min-width:120px;}
.ds-box .quantity-list button{width:100%;}
.ds-box .quantity{width:100%;}
.ds-box .quantity .num{height:70px;}
.echarts-wrapper{margin-top:20px;padding:10px 20px;width:100%;height:100%;display:flex;justify-content:center;align-items:center;}

@media(max-width:700px){
    .ds-wrap{flex-direction:column;}
    .ds-box{width:100%;}
    .ds-box:nth-child(2n){margin-left:0;}
    .ds-wrap + .ds-wrap{margin-top:10px;}
}

/* AUI Grid */
.multiple-grid-wrap{display:flex;gap:20px;}
.multiple-grid-wrap.center{display:flex;justify-content:center;gap:20px;}
.multiple-grid-wrap > .grid-box{width:calc(80% - 10px);}
.grid-sub-box{width:calc(20% - 10px);height:380px;display:flex;flex-direction:column;align-items:center;justify-content:space-between;padding:12px;background-color:#fff3ec;border:1px solid #f6dccc;}
.multiple-grid-box{width:50%;}
.multiple-grid-box .title-box {min-height:40px;margin-bottom:8px;}
.multiple-grid-box .title-box .list-title{margin-bottom:0;}
.grid-box{height:380px;}
.grid-box > *{width:100%!important;}
.grid-box.input-grid{height:70px;}
.grid-box.h-small{height:200px;}
.grid-box.h-small2{height:320px;}
.grid-box.h-small3{height:480px;}
.grid-box.h-small4{height:260px;}
.grid-box.h-medium {height:550px;}
#popup_grid_detail{width:1200px;}
.l-grid{width:1200px;}

/* AUI GRID 커스텀 */
.aui-grid{border-color:var(--line1);}
.aui-grid select{padding:0 5px;background:var(--color10);}
.aui-grid-default-header{background:var(--tableBg1);}
.aui-grid-default-header *{font-size:15px;}
.aui-grid-fixed-column-rule{background:var(--line1);}
.aui-grid-renderer-base{font-size:13px;}
.aui-grid-row-background{background:#f9f9f9;}
.aui-grid-cell-edited-marker{border:0;}
.aui-grid-paging-panel{background:var(--tableBg1);}
.aui-grid-header-panel .aui-grid-table tr td{border-color:var(--line1);}
.aui-grid-body-panel .aui-grid-table tr td:hover{background:#e2e2e2;}
.aui-grid-button-renderer{width:80px;background:var(--color1);color:var(--color10);border-radius:4px;text-align:center;position:relative;font-weight:normal;border:none;}
.aui-grid-button-renderer:hover{background:var(--color1);}
.aui-grid-paging-info-text{display:none;}
.aui-grid-important-header{font-weight:bold;}
.aui-grid-important-header .aui-grid-header-renderer span:first-child{position:relative;}
.aui-grid-important-header .aui-grid-header-renderer span:first-child::after{content:'*';position:absolute;color:red;right:-10px;top:50%;transform:translateY(-50%);}
.aui-grid-default-column.aui-grid-selection-bg{color:var(--color1);}
.aui-grid-renderer-base.aui-grid-footer-renderer{color:#010101;}
.aui-grid-renderer-base.aui-grid-footer-renderer.on{color:red;}

/* footer */
footer{transition:margin-left 200ms ease-in-out;}
footer .contact{background:var(--color1);display:flex;justify-content:center;align-items:center;color:var(--color10);padding:20px;}
footer .contact > ul{display:flex;justify-content:center;align-items:center;gap:40px;}
footer .logos{display:flex;justify-content:center;padding:10px 0;}
footer .logos > img{width:314px;}

/* button */
.btn-wrap{display:flex;align-items:center;}
.btn{width:auto;background:var(--color1);display:flex;color:var(--color10);border-radius:4px;padding:10px 16px;position:relative;}
.btn:hover{background:#c16931;}
.btn.primary{background:#2a7efe;}
.btn.primary:hover{background:#2658a4;}
.menu-btn{width:24px;height:24px;background:url("../../resources/img/icon/menu.png") no-repeat;background-size:100%;}
.logout-btn{padding-right:28px;position:relative;}
.logout-btn:before{content:"";width:24px;height:24px;background:url("../../resources/img/icon/logout.png") no-repeat;background-size:100%;position:absolute;top:-1px;right:0;}
.close-btn{width:24px;height:24px;background:url("../../resources/img/icon/close.png") no-repeat;background-size:100%;position:absolute;top:50%;right:10px;transform:translateY(-50%);}
.btn.excel{position:relative;padding-left:36px;}
.btn.excel::before{content:'\f1c3';font-family:"Font Awesome 6 Free";font-weight:var(--bold);position:absolute;left:16px;top:50%;transform:translateY(-50%);}
.btn.model{position:relative;padding-left:45px;}
.btn.model::before{content:'\e4e5';font-family:"Font Awesome 6 Free";font-weight:var(--bold);position:absolute;left:16px;top:50%;transform:translateY(-50%);}
.btn.add-column{position:relative;padding-left:40px;}
.btn.add-column::before{content:'\f055';font-family:"Font Awesome 6 Free";font-weight:var(--bold);position:absolute;left:16px;top:51%;transform:translateY(-50%);}
.btn.trash{position:relative;padding-left:35px;}
.btn.trash::before{content:'\f2ed';font-family:"Font Awesome 6 Free";font-weight:var(--bold);position:absolute;left:16px;top:51%;transform:translateY(-50%);}
.file .btn.add-file{position:relative;padding-left:40px;border-radius:4px;}
.file .btn.add-file::before{content:'\e494';font-family:"Font Awesome 6 Free";font-weight:var(--bold);position:absolute;left:16px;top:51%;transform:translateY(-50%);}
.btn.save{position:relative;padding-left:40px;}
.btn.save::before{content:'\f0c7';font-family:"Font Awesome 6 Free";font-weight:var(--bold);position:absolute;left:16px;top:51%;transform:translateY(-50%);}
.btn.search{position:relative;padding-left:40px;}
.btn.search::before{content:'\f002';font-family:"Font Awesome 6 Free";font-weight:var(--bold);position:absolute;left:16px;top:51%;transform:translateY(-50%);}
.btn.asset{position:relative;padding-left:40px;}
.btn.asset::before{content:'\f51e';font-family:"Font Awesome 6 Free";font-weight:var(--bold);position:absolute;left:16px;top:51%;transform:translateY(-50%);}
.btn.primary.send{position:relative;padding-left:40px;}
.btn.primary.send::before{content:'\f574';font-family:"Font Awesome 6 Free";font-weight:var(--bold);position:absolute;left:16px;top:51%;transform:translateY(-50%);}
.btn.primary.check{position:relative;padding-left:40px;}
.btn.primary.check::before{content:'\f00c';font-family:"Font Awesome 6 Free";font-weight:var(--bold);position:absolute;left:16px;top:51%;transform:translateY(-50%);}
.btn.primary.mail{position:relative;padding-left:40px;}
.btn.primary.mail::before{content:'\f0e0';font-family:"Font Awesome 6 Free";font-weight:700;position:absolute;left:16px;top:51%;transform:translateY(-50%);}
[data-btn=hide]{display:none;}
[data-btn=show]{display:flex;}

/* input */
.input-wrap{display:flex;align-items:center;justify-content:space-between;background-color: #efefef;border-radius:4px;padding:10px;gap:10px;margin-bottom:40px;}
.input-wrap.a-end{align-items:flex-end;}
.input-wrap .btn.search{min-width:90px;}
.input-lists{display:flex;align-items:center;flex-wrap:wrap;gap:10px;min-width:calc(100% - 100px);}
.input-list{display:flex;align-items:center;width:calc(25% - 8px);}
.input-list .input-title{font-weight:var(--bold);padding-left:10px;position:relative;min-width:90px;}
.input-list.small .input-title{min-width:60px;}
.input-list.large{width:calc(100% - 380px);}
.input-list.large .input{max-width:258px;}
.input-list.c-medium{max-width:370px;}
.input-list.regular{width:calc(50% - 8px)}
.input-list.regular .date-wrap label{width:calc(33.3% - 10px);}
.input-list.regular .date-wrap .select{margin-left:8px;}
.input-list.regular-x .date{width:calc(100% - 100px);max-width:none;}
.input-list.medium{width:calc(33.33% - 8px);max-width:none;}
.input-list.medium2{width:calc(50% - 8px);max-width:none;}
.input-list .date-wrap{width:calc(100% - 60px);}
.input-list .date-wrap.whole .date{width:100%;}
.input-list .date-wrap .date{width:calc(50% - 10px);max-width:none;}
.input-list .input,
.input-list .select{width:calc(100% - 100px);}
.input-list .input-title::before{content:'';position:absolute;left:0;top:50%;transform:translateY(-50%);width:4px;height:18px;background-color:var(--color1);}
.inner-input-list{width:100%;display:flex;gap:10px;}
input{width:100%;height:38px;background:none;border:0;padding:8px 12px;outline:none;}
.textarea{width:100%; border: 1px solid var(--line1);border-radius:4px;}
textarea{width:100%;background:none;border:0;padding:8px 12px;resize:none;outline:none;}
.input{background:var(--color10);display:inline-flex;align-items:center;border:1px solid var(--color5);border-radius:4px;}
.input.search{position:relative;padding-right:25px;}
.input.search input{outline:none;}
.input.search button{position:absolute;right:0;top:50%;transform:translateY(-50%);width:30px;height:38px;}

/* search-wrap */
.input-wrap.search-ver{display:flex;background-color:#fff3ec;}
.input-wrap.search-ver .input-list{width:calc(50% - 8px);}
.input-wrap.search-ver .input-list .input-title::before{width:6px;height:6px;border-radius:50%;}
.input-wrap.search-ver .input-title{width:100px;}
.input-wrap.search-ver .input{width:calc(100% - 100px);}
.popup .input-wrap.search-ver{margin-bottom:0;}
.popup .input-wrap.search-ver + *{margin-top:12px;}

/* search-wrap > 사이즈 */
.input-wrap.search-ver .input-list.whole{width:100%;margin-top:4px;}
.input-wrap.search-ver .input-list.medium{width:calc(100% - 186px);}
.input-wrap.search-ver *{font-size:14px;}
.input-wrap.search-ver .check input + span{padding-left:20px;position:relative;}
.input-wrap.search-ver .check input + span:before{width:16px;height:16px;}
.input-wrap.search-ver > .input-lists{width:calc(100% - 100px);}
.input-wrap.search-ver .btn{height:30px;padding-top:7px;padding-bottom:7px;font-size:14px;}
.input-wrap.search-ver.con-3 .input-title{width:80px;}
.input-wrap.search-ver.con-3 .input{width:calc(100% - 80px);}
.input-wrap.search-ver.con-3 .input-list{width:calc(33.3% - 8px);}

.check-wrap{display:flex;gap:8px;flex-wrap:wrap;}
.popup .input-wrap.search-ver{flex-wrap:wrap;}



@media(max-width:1500px) {
    .input-list.large{width:calc(33% - 8px);}
    .input-list.large .input{max-width:none;}
    .input-list.c-medium{width:calc(33.33% - 8px);}

}

@media(max-width:1400px) {
    .input-list{width:calc(50% - 8px);}
    .input-list.regular{width:calc(100% - 7px)}

}

@media(max-width:1230px) {
    .input-list.c-medium,
    .input-list.medium,
    .input-list.large{width:calc(50% - 8px);}
    .input-wrap.search-ver.con-3{flex-direction:column;align-items:flex-end;}
    .input-wrap.search-ver > .input-lists{width:100%;}
    .input-wrap.search-ver .btn{height:30px;padding-top:7px;padding-bottom:7px;font-size:14px;}
    .input-wrap.search-ver.con-3 .input-title{width:80px;}
    .input-wrap.search-ver.con-3 .input{width:calc(100% - 80px);}
    .input-wrap.search-ver.con-3 .input-list{width:100%;}
}

@media(max-width:1200px) {
    .input-list{width:calc(50% - 8px);}
    .input-wrap.search-ver .input-list{width:100%;}
    .check-wrap > *{width:30%;}
    .input-list.medium2{width:100%;}
}

@media(max-width:800px) {
    .input-wrap{flex-direction:column;}
    .input-list.whole {width:100%;}
    .input-list,
    .input-list.c-medium,
    .input-list.medium,
    .input-list.large{width:100%;}
    .input-list.c-medium{max-width:none;}
    .input-list.regular .date-wrap label {width:calc(50% - 10px);}
    .input-list.regular .date-wrap .select{width:100%;margin-left:0;margin-top:8px;}
}
/* date */
.date{max-width:150px;background:var(--color10);display:inline-flex;align-items:center;border:1px solid var(--color5);border-radius:4px;position:relative;}
.date input{width:100%;height:38px;background:none;border:0;padding:8px 12px;}
.date:after{content:'\f133';font-family:"Font Awesome 6 Free";font-weight:700;position:absolute;right:16px;top:51%;transform:translateY(-50%);}
[class*=datepicker] select{background:white;font-weight:500;border:1px solid black;padding:0;appearance:auto;height:auto;min-width:80px;}
[class*=datepicker] select + select{margin-left:20px;}
.ui-datepicker .ui-datepicker-header{display:flex;align-items:center;justify-content:center;height:70px;}
.ui-datepicker .ui-datepicker-title{display:flex;gap:10px;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{border:none;background-color:transparent;}
.ui-datepicker-prev, .ui-datepicker-next{display:flex;justify-content:center;align-items:center;top:18px!important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{padding:5px;}
.ui-datepicker-prev span, .ui-datepicker-next span{display:none!important;}
.ui-datepicker-prev:before{content:"";width:9px;height:12px;background:url("/resources/img/icon/icon_left.svg") no-repeat;background-size:100%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.ui-datepicker-next:before{content:"";width:9px;height:12px;background:url("/resources/img/icon/icon_right.svg") no-repeat;background-size:100%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}

/* date > .btn 버전 */
.date.btn{width:100px;height:38px;border:0;background:#2a7efe;}
.date.btn > input{opacity:0;}
.date.btn > span{width:100%;height:100%;padding:10px 16px 10px 40px;display:flex;justify-content:center;align-items:center;position:absolute;left:0;top:0;color:var(--color10)}
.date.btn::after{display:none;}
.date.btn::before{content:'\f00c';font-family:"Font Awesome 6 Free";font-weight:var(--bold);position:absolute;left:16px;top:51%;transform:translateY(-50%);}

/* select */
select{min-width:100px;width:100%;height:38px;background:none;border:0;padding:8px 40px 8px 12px;appearance:none;}
.select{background:var(--color10);display:inline-flex;align-items:center;border:1px solid var(--color5);border-radius:4px;position:relative;}
.select:after{content:"";width:24px;height:24px;background:url("../../resources/img/icon/arrow_down.png") no-repeat;background-size:100%;position:absolute;top:50%;right:6px;transform:translateY(-50%);}
.input-wrap select{min-width:auto;width:100%;}
.select-wrap {width:100%;}
.select-wrap label + label{margin-left:10px;}

@media (max-width:1200px){
    .select-wrap > label + label{margin-left:10px;margin-top:10px;}
    .select-wrap > label.medium {width:calc(33.3% - 10px);}
}

@media (max-width:700px){
    .select-wrap > label + label{margin-left:0;}
    .select-wrap > label.medium {width:100%;}
}

/* disabled */
label[data-isActive="readonly"]{background:#cacaca;}

/* checkbox & radio */
.check{display:inline-flex;align-items:center;gap:10px;}
.check input{display:none;}
.check input + span{padding-left:28px;position:relative;}
.check input + span:before{content:"";width:20px;height:20px;position:absolute;left:0;}
.check input[type=checkbox] + span:before{background:url("../../resources/img/icon/check_off.png") no-repeat;background-size:100%;}
.check input[type=checkbox]:checked + span:before{background:url("../../resources/img/icon/check_on.png") no-repeat;background-size:100%;}
.check input[type=radio] + span:before{background:url("../../resources/img/icon/radio_off.png") no-repeat;background-size:100%;}
.check input[type=radio]:checked + span:before{background:url("../../resources/img/icon/radio_on.png") no-repeat;background-size:100%;}

.check.no-text{gap:0;}
.check.no-text input + span{width:16px;height:16px;padding-left:0;}
.check.no-text input + span:before{width:16px;height:16px;border:1px solid var(--line1);}

/* file */
.file-box{display:flex;border:1px solid var(--color5);border-radius:4px;overflow:hidden;}
.file{display:inline-flex;align-items:center;}
.file input{display:none;}
.file input + .btn{border:1px solid var(--color1);border-radius:0;}
.file + span{padding:10px 20px;}
.btn-wrap .file .btn.add-file{border-radius:4px;border:none;}

/* file 탐색기 */
.search-file-box{width:calc(100% - 100px);display:flex;justify-content:space-between;align-items:center;padding:6px 12px;background-color:var(--color10);border-radius:4px;border:1px solid var(--color5);}
.search-file-box > .file{width:100%;}
.search-file-box .file > span{width:100%;display:block;}

/* popup */
.popup{display:none;}
.pop-box{min-width:500px;background:var(--color10);border-radius:8px;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.pop-head{padding:10px 36px 10px 14px;position:relative;background-color:var(--tableBg1);border-radius:8px 8px 0 0;}
.pop-head h3{font-size:18px;font-weight:700;}
.pop-body{padding:20px 14px;}
.pop-body .btn-wrap{justify-content:center;margin-top:20px;}
.pop-body .btn-wrap.add-file-wrap{margin-top:0;}
.pop-body .btn-wrap.add-file-wrap > *{width:auto;}

/* 레이어 팝업 */
.ui-dialog{background:var(--color10);border-radius:8px;padding:0;font-family:"Noto Sans", sans-serif;color:#414141;}
.ui-dialog .ui-dialog-content{padding:0;}
.ui-dialog .ui-dialog-titlebar{padding-top:0.6em;padding-bottom:0.6em;}
.ui-widget-header{border-radius:8px 8px 0 0;}
.ui-button:hover .ui-icon,
.ui-button .ui-icon{width:20px;height:20px;background:url("../../resources/img/icon/close.png") center center no-repeat;background-size:100%;}
.ui-button-icon-only .ui-icon{margin-top:-10px;margin-left:-10px;}
.ui-dialog .ui-dialog-titlebar-close{width:30px;height:30px;margin-top: -15px;}
.ui-button-icon-only .ui-icon:active,
.ui-dialog .ui-dialog-titlebar-close:active{background-color:var(--color1);}
.ui-dialog-content.ui-widget-content .pop-box{width:100%;height:100%;}
.popup .custom-table .th p, .popup .custom-table .td .td-wrap p{margin-bottom:0;}



/* popup > title-box */
.pop-body .title-box.small {margin-top:12px;}
.pop-body .title-box .title > *{font-size:16px;}
.pop-body .title-box .title > *::before{height:12px;}
.pop-body .title-box .btn-wrap{margin-top:0;}
.pop-body .center{text-align:center;}

/* popup > select */
.popup select{min-width:auto;}

/* popup > buttons */
.popup  .title-box .btn{height:30px;padding-top:7px;padding-bottom:7px;font-size:14px;}

/* popup >  grid */
.popup .input-wrap{margin-bottom:12px;}
.popup .input-list{width:100%;}
.popup .input-list.only .input-title{margin-right:20px;}
.popup .input-list.only .input-title + *{width:calc(100% - 120px);}
.popup .input-title{font-weight:var(--bold);min-width:60px;}
.popup .input{width:calc(100% - 100px);height:30px;border-color:var(--line1);padding-right:10px;}
.popup .input > input {font-size:14px;}
.popup .input.textarea{height:auto;margin-top:30px;width:100%;}

/* popup > customTable */
.popup .custom-table .th {padding:2px;height:42px;}
.popup .custom-table .th.textarea{height:auto;border-radius:0;border:none;}
.popup .custom-table .td {padding:2px 10px;}
.popup .custom-table .th * , .popup .custom-table .td .td-wrap *{font-size:14px;}
.popup .custom-table .td .aui-grid * {font-size:12px;}
.popup .custom-table .input{width:100%;}
.popup .td-wrap.column > *{width:100%;}
.popup .custom-table .td .td-wrap.date-style{justify-content:flex-start;gap:20px;}

/* popup > customTable.design-ver */
.popup .custom-table.design-ver .th{height:auto;min-height:38px;}
.popup .custom-table.design-ver .th .th-wrap{height:auto;}
.popup .custom-table.design-ver .td{padding:8px;}
.popup .custom-table.design-ver .table th > * , .popup .custom-table.design-ver  .table td > * {font-size:12px;padding:10px 8px;}
.popup .table td{border-right:1px solid var(--line1);}
.popup .table .file-box *{font-size:12px;}
.popup .table .file-box > span{width:100%;display:flex;align-items:center;justify-content:flex-start;}
.popup .table .file-box > label{width:100px;}

/* popup 이미지 */

.popup .tab-box .tabs{display:none;width:100%;overflow:hidden;text-align:center;}
.popup .tab-box .tabs img{width:100%;object-fit:contain;height:inherit;}
.popup .tab-box .tabs.on{display:flex;justify-content:center;align-items:center;height:inherit;}

/* popup 모델정보 */
.popup .tab-header{background-color:var(--color1);color:white;}
.popup .tab-header ul{display:flex;border:1px solid var(--color1);}
.popup .tab-header ul li:nth-child(1){min-width:141px;border-right:1px solid white;text-align:center;line-height:35px;}
.popup .tab-header ul li:nth-child(2){min-width:219px;border-right:1px solid white;text-align:center;line-height:35px;}
.popup .tab-header ul li:nth-child(3){min-width:60px;border-right:1px solid white;text-align:center;}
.popup .tab-header ul li:nth-child(4){width:100%;text-align:center;line-height:35px;}

.popup .tab-box{display:flex;align-items:center;border:1px solid #000;height:200px;overflow:hidden;}
.popup .tab-box + .tab-box{border-top:none;}
.popup .tab-title{min-width:140px;}
.popup .tab-title h4{display:flex;justify-content:center;align-items:center;font-size:20px;}
.popup .tab-wrap{min-width:140px;border: 1px solid #000;border-bottom:none;overflow-y:auto;height:200px;overflow-x:hidden;}
.popup .tab-wrap ul li{border-bottom:1px solid #000;}
.popup .tab-wrap ul li button{padding:10px;font-family:inherit;color:inherit;}
.popup .tab-wrap ul li.on button{text-decoration:underline;}
.popup .tab-wrap ul li:last-child{border-bottom:none;}

.popup .tab-wrap.ver-2{min-width:280px;border: 1px solid #000;border-bottom:none;overflow-y:auto;height:200px;overflow-x:hidden;}
.popup .tab-wrap.ver-2 ul li{border-bottom:1px solid #000;display:flex;align-items:center;justify-content:space-between;}
.popup .tab-wrap.ver-2 ul li button{padding:10px;font-family:inherit;color:inherit;min-width:219px;}
.popup .tab-wrap.ver-2 ul li span{min-width:60px;border-left:1px solid #000;padding:10px;}
.model-wrap{margin-top:24px;}

/* 관리자 자산조회 NetClient 정보 탭메뉴 */
.popup .tab-box.ver1{border:none;}
.popup .tab-box.ver1{display:flex;flex-direction:column;align-items:flex-start;height:auto;}
.popup .tab-box.ver1 .tab-wrap{width:100%;height:auto;border:0;}
.popup .tab-box.ver1 .tab-wrap ul{width:100%;display:flex;justify-content:flex-start;border:none;}
.popup .tab-box.ver1 .tab-wrap ul li{border:1px solid var(--line1);border-bottom:none;}
.popup .tab-box.ver1 .tab-wrap ul li + li{border-left:0;}
.popup .tab-box.ver1 .tab-wrap ul li:first-child{border-top-left-radius:4px;}
.popup .tab-box.ver1 .tab-wrap ul li:last-child{border-top-right-radius:4px;}
.popup .tab-box.ver1 .tab-wrap ul li button{padding-left:20px;padding-right:20px;}
.popup .tab-box.ver1 .tabs{width:100%;height:672px;display:none;border:1px solid var(--line1);overflow-y:auto;}
.popup .tab-box.ver1 .tabs.on{display:block;}

.popup .tab-box.ver1 .tabs-inner-wrap{padding:10px 20px;}
.popup .tab-box.ver1 .tabs .table-title{text-align:center;padding:10px;background-color:var(--color1);color:var(--color7);}

.popup .tab-box.ver1 .custom-table + .grid-box{margin-top:12px;}
.popup .tab-box.ver1 .custom-table .table{border:none;}
.popup .tab-box.ver1 .custom-table .table th{font-size:14px;font-weight:var(--bold);padding:10px 0;}
.popup .tab-box.ver1 .custom-table .table td{font-size:13px;padding:10px 0;text-align:center;border:none;border-right:1px solid var(--line1);}
.popup .tab-box.ver1 .custom-table .table thead tr th:first-child{width:258px;}
.popup .tab-box.ver1 .custom-table .table td:last-child{border-right:none;}
.popup .tab-box.ver1 .custom-table .table table.left tr td{text-align:left;padding-left:10px;}

/* 관리자 사용자 그룹정보 */
.popup .tab-box.ver2{height:auto;}
.tab-box.ver2{}

/* assetCurrent */
[class*=container]{transition:padding .2s;}
[class*=container].open{padding-left:260px;}
.assetCurrent-container{width:100%;padding-top:20px;}


/* 기본 추가 */
.important{display:inline-block;position:relative;padding-right:16px;}
.important::after{content:'*';position:absolute;top:2px;right:0;color:var(--important);}
.title-box{display:flex;justify-content:space-between;align-items:center;margin-bottom:12px;}
.title-box .grid-title{font-size:20px;font-weight:var(--bold);}
.title-box .grid-title h3 span{color:var(--color1);}
.title-box.end{justify-content:flex-end;}
.title-box.column{flex-direction:column;align-items:flex-start;}
.title-box p{font-weight:var(--bold);}
.title-box .title > *{position:relative;padding-left:14px;font-size:20px;font-weight:var(--bold);}
.title-box .title > *::before{content:'';width:4px;height:16px;background-color:var(--color1);position:absolute;left:0;top:50%;transform:translateY(-50%);}
.btn-wrap{gap:8px;}
.btn-wrap.form{justify-content:center;margin-top:38px;}
.btn-wrap.only{margin-top:55px;}
.btn-wrap.center{justify-content:center;margin-top:40px;}
.btn-wrap.end{justify-content:flex-end;margin-bottom:10px;}
.btn-wrap.end .file{width:auto;}
.btn-wrap.end.hide{display:none;}
.btn-wrap.end.hide.open{display:flex;}
.download{width:100%;display:flex;padding:5px 12px;border:1px solid var(--line1);border-radius:4px;}


/* page-indicator */
.page-indicator ul{display:flex;justify-content: flex-end;}
.page-indicator ul li{position:relative;padding:10px 16px;}
.page-indicator ul li:first-child{color:var(--color1);}
.page-indicator ul li:first-child::after{color:#000;}
.page-indicator ul li::after{content:'\f054';font-family:"Font Awesome 6 Free";font-size:12px;font-weight:600;position:absolute;top:53%;transform:translateY(-50%);right:-5px;}
.page-indicator ul li:last-child::after{display:none;}

@media (max-width:697px){
    .title-box{flex-direction:column;align-items:flex-start;gap:8px;}
}

/* 간격 조정 */
.grid-box + .hide-box,
.grid-box + .title-box,
.text-box + .title-box,
.custom-table + .title-box,
.custom-table + .list-box,
.desc-box + .title-box,
.list-box + .title-box,
.multiple-grid-wrap + .title-box,
.table + .title-box,
.table + .table,
.table + .grid-box{margin-top:20px;}
.custom-table + .text-box{margin-top:8px;}
.page-indicator + .list-box,
.page-indicator + .title-box,
.custom-table + .custom-table,
.input-wrap + .title-box {margin-top:24px;}



/* table */
table {width:100%;border-collapse:collapse;border-spacing:0;}
.table{width:100%;border:1px solid var(--line1);}
th{background-color:var(--tableBg1);border-right:1px solid var(--line1);}
th:last-child{border-right:0;}
th > *{text-align:center;padding:10px 5px;font-size:15px;font-weight:var(--bold);}
td:last-child{border-right:0;}
td > *{padding:8px 15px;font-size:13px;}
tbody tr{border-top:1px solid var(--line1);}
tbody tr p{text-align:center;}

/* table 고정 높이 */
.table.fixed-height {height:180px;overflow-y:auto;}

/* table 내의 위치 */
.th-wrap , .td-wrap{display:flex;}
.th-wrap.center , .td-wrap.center{justify-content:center;}
.td-wrap.column{flex-direction:column;width:100%;}

/* table 안의 label태그 */
.table .select , .table .input , .table .file-box{height:30px;border-color:var(--line1);}
.table input, .table select{padding-top:5px;padding-bottom:5px;height:30px;}
.table .file-box > span{padding:5px;}
.table .important{padding-left:8px;}
.table .important::after{top:12px;}
.whole{width:100%;}
.long{width:100%;max-width:700px;}
.medium{max-width:300px;}

/* table 안의 button태그 */
.table .td-wrap.center.inBtn{padding:0;}
.table .td-wrap.center.inBtn button{width:100%;padding:8px 15px;}

/* table 내의 row 존재 1개 이하 */
.table.no-line tbody tr{border-top:0;}

/* custom-table */
.custom-table{border:1px solid var(--line1);}
.custom-table .important{padding-right:12px;}
.row{display:flex;flex-wrap:wrap;--bs-gutter-x:initial;--bs-gutter-y:initial;}
.row + .row{border-top:1px solid var(--line1);}
.row .td > *{width:100%;}
.th{width:120px;padding:10px 5px;font-size:15px;font-weight:var(--bold);background-color:var(--tableBg1);border-right:1px solid var(--line1);}
.th.hidden{display:none;}
.th .th-wrap{align-items:center;height:100%;}
.td .td-wrap{height:100%;align-items:center;}
.td .td-wrap .date{width:calc(100% / 4);}
.td .td-wrap .date.single{width:100%;}
.td + .th{border-left:1px solid var(--line1);}
.td{width:calc(100% - 120px);;padding:10px 15px;font-size:13px;background-color:var(--color10);}
.td.line{border-right:1px solid var(--line1);}

/* custom-table > td 길이 */
.row .td.whole .td-wrap{gap:10px;}
.row.con-2 .td{width:calc(50% - 120px);}
.row.con-3 .td{width:calc(33.3% - 120px);}
.row.con-3 .td.whole{width:calc(100% - 120px);}
.row.con-3 .td.whole .date-wrap{width:100%;}
.row.con-3 .td.half{width:calc(50% - 120px);}
.custom-table .td.whole .date{max-width:200px;}
.row.con-3 .td.medium{width:calc(66.6% - 120px);max-width:none;}
.row.con-3 .td.medium .select + .select{margin-left:8px;}
.row.con-4 .td{width:calc(25% - 120px);}
.row.con-4 .td.medium{width:calc(50% - 120px);max-width:none;}
.row.con-4 .td.medium .select + .select{margin-left:8px;}
.row.con-5 .td{width:calc(20% - 120px);}

/* custom-table > design-ver */
.custom-table.design-ver{border:0;}
.custom-table.design-ver .th{background-color:transparent;border-right:0;}
.custom-table.design-ver .th .th-wrap{position:relative;padding-left:12px;}
.custom-table.design-ver .th .th-wrap::before{content:'';width:4px;height:12px;background-color:#eb6620;position:absolute;left:0;top:50%;transform:translateY(-50%);}
.custom-table.design-ver .row + .row{border-top:0;margin-top:8px;}
.custom-table.design-ver .td{border:1px solid var(--line1);border-radius:4px;}

@media(max-width:1485px){
    .popup .row.con-3 .th , .popup .row.con-3 .th{border-bottom:1px solid var(--line1);}
    .popup .row.con-3 .td.medium,
    .popup .row.con-3 .td {width:calc(100% - 120px);border-bottom:1px solid var(--line1);}
    .popup .row.con-3 .td.medium, .popup .row > .th:nth-last-child(2) , .popup .row > .td:nth-last-child(1) {border-bottom:0}
}

@media(max-width:1220px) {
    .row.con-4 .th , .row.con-5 .th{border-bottom:1px solid var(--line1);}
    .row.con-4 .td + .th , .row.con-5 .td + .th{border-left:0;}
    .row.con-4 .td , .row.con-5 .td {width:calc(100% - 120px);border-bottom:1px solid var(--line1);}
    .row.con-4 > .th:nth-last-child(2) , .row.con-4 > .td:nth-last-child(1) ,
    .row.con-5 > .th:nth-last-child(2) , .row.con-5 > .td:nth-last-child(1){border-bottom:0}
}

@media(max-width:1024px) {
    .th{border-bottom:1px solid var(--line1);}
    .td + .th{border-left:0;}
    .row.con-2 .td,
    .row.con-3 .td.medium,
    .row.con-3 .td {width:calc(100% - 120px);border-bottom:1px solid var(--line1);}
    .row.con-3 .td.medium, .row > .th:nth-last-child(2) , .row > .td:nth-last-child(1) {border-bottom:0}
    .custom-table .td.whole .date{max-width:none;width:calc(50% - 8px);}


}

/* custom-table 의 input */
.custom-table label{width:100%;border-color:var(--line1);}
.custom-table label.check{width:auto;}
.custom-table .date{max-width:none;}
.custom-table .input i,
.custom-table .date:after{color:var(--color9);}
.custom-table select,
.custom-table input,
.custom-table .input button{height:30px;}
.custom-table select{padding-top:5px;padding-bottom:5px;}
.custom-table .aui-grid select{height:auto;padding:0 5px;font-size:1em;}

/*  customTable > table */
.custom-table .table th > *{font-size:13px;}

/* 리스트 */
.list-box{padding:12px 12px 20px;margin-bottom:24px;background-color:#fff3ec;}
.list-box.only{padding:40px 12px;}
.list-box .title-box > .title > *{font-weight:var(--regular);padding-left:0;padding-bottom:4px;border-bottom:2px solid var(--color4);}
.list-box .title-box > .title > *::before{display:none;}
.list-box.only .quantity-list{margin-bottom:0;}
.list-title{padding-bottom:4px;margin-bottom:14px;font-weight:var(--regular);}
.list-title >  span{font-weight:var(--bold);}
.quantity-list{display:flex;justify-content:center;gap:24px;flex-wrap:wrap;margin-bottom:30px;}
.quantity{width:120px;max-height:78px;display:flex;flex-direction:column;align-items:center;border-radius:8px;border:1px solid var(--line1);overflow:hidden;}
.quantity .num{width:100%;height:50px;display:flex;align-items:center;justify-content:center;padding:5px 0;font-size:24px;font-weight:var(--bold);background-color:#f3f3f3;}
.quantity .name{width:100%;display:flex;justify-content:center;font-size:14px;padding:5px 10px;color:var(--color6);background:var(--color10);}
.quantity .title{width:100%;height:78px;display:flex;justify-content:center;align-items:center;font-size:16px;font-weight:var(--bold);color:var(--color6);background-color:#fff38c;}

/* 리스트 색상 */
.quantity.orange .num{background-color:#ffd557;}
.quantity.yellow .num{background-color:#fff38c;}
.quantity.lightOrange .num{background-color:#fbb584;}
.quantity.lightPink .num{background-color:#f9c8fe;}
.quantity.blue .num{background-color:#86bef7;}
.quantity.green .num{background-color:#8bffbf;}
.quantity.purple .num{background-color:#c49aff;}
.quantity.gray .num{background-color:#cdcfd1;}

/* desc-box */
.desc-box,
.desc-box .input{width:100%;border-color:var(--line1);}
.desc-box textarea{width:100%;}

/* 상신 팝업 > .submit-list */
.submit-list{display:flex;flex-wrap:wrap;gap:14px;padding:10px 15px;border:1px solid var(--line1);border-radius:4px;margin-bottom:10px;}
.submit-list > li {display:flex;gap:2px;}
.submit-list > li *{color:var(--color5);font-weight:var(--medium);}
.submit-list + .btn-wrap .btn{height:30px;padding:7px;}
.count-words{display:flex;justify-content:flex-end;margin-top:5px;color:var(--color9);}

/* 상신팝업 > .box */
.box + .box{margin-top:14px;}
.box {border-radius:8px;border:1px solid var(--line1);overflow:hidden;}
.box .title-box{min-height:38px;margin-bottom:0;background-color:var(--tableBg1);border-bottom:1px solid var(--line1);}
.box .title-box .title > *{padding-left:12px;}
.box .title-box .title > *::before{display:none;width:180px;height:2px;bottom:-6px;top:auto;transform:translateY(0);}
.box .title-box .btn{margin-right:4px;}
.box .title-box label{width:auto;}
.box-wrap{padding:8px;}

/* 상신팝업 > .box.design-ver */
.box.design-ver{border:0;border-radius:0;}
.box.design-ver .title-box{background:none;border-width:3px;margin-bottom:12px;position:relative;}
.box.design-ver .title-box::before{content:'';width:180px;height:3px;position:absolute;left:0;bottom:-3px;background-color:var(--color1);}

@media (max-width:1200px){
    .box .title-box{flex-direction:row;align-items:center;}
}

/* 상신팝업  > 새창 */
.inner-wrap{padding:0 20px 20px;}
.preview-title-box{display:flex;align-items:center;background-color:var(--tableBg1);}
.preview-title-box > span{display:flex;padding:12px;font-size:18px;font-weight:var(--bold);color:var(--color10);background-color:var(--color1);}
.preview-title-box > h1{font-size:20px;font-weight:var(--bold);padding:10px 15px;}
.info-desc{display:flex;align-items:center;justify-content:flex-end;margin:10px 0;font-weight:var(--bold);font-size:14px;}
.caution-box {padding:8px;border:1px solid var(--line1);border-radius:4px;margin-bottom:20px;}
.caution-box *{font-size:16px;}
.caution-box p{font-weight:var(--bold);color:var(--important);}
.caution-box p + ul{margin-top:8px;}
.caution-box > ul > li{font-size:14px;}
.caution-box > ul > li + li{margin-top:4px;}
.dot-list > li{padding-left:10px;position:relative;}
.dot-list > li::before{content:'';width:5px;height:1px;background-color:var(--color6);position:absolute;left:0;top:8px;}
.confirm-box{min-height:180px;display:flex;align-items:center;justify-content:center;flex-direction:column;gap:50px;background-color:var(--tableBg1);}
.confirm-box .p-desc{font-weight:var(--bold);}

@media (max-width:696px){
    .preview-title-box > span{font-size:14px;}
    .preview-title-box > h1{font-size:18px;}
}

@media (max-width:520px){
    .preview-title-box{flex-direction:column;}
    .preview-title-box > span{width:100%;padding:5px 15px;}
    .preview-title-box > h1{width:100%;padding:8px 15px;}
}

/* count-box : 총입고 수량 */
.count-wrap{width:100%;}
.count-list{width:100%;display:flex;flex-direction:column;gap:10px;padding:12px;margin-bottom:50px;background-color:#f6dccc;}
.count-box{width:100%;display:flex;align-items:center;gap:10px;}
.count-box *{font-weight:var(--bold);}
.grid-sub-box > .count-wrap >  .count-box{padding:12px;background-color:#f6dccc;}

/* hide-box */
.title-box.hide-ver , .title-box.hide-ver + *{display:none;}
.title-box.hide-ver.open , .title-box.hide-ver.open + *{display:flex;}
/*::-webkit-scrollbar{display:none;}*/

/* text-box */
.text-box{display:flex;gap:8px;margin-top:8px;}
.text-box .btn{justify-content:center;align-items:center;min-width:110px;font-size:14px;padding:5px 8px;}
.popup .text-box .input{height:30px;}

