@import "fonts.css";
*{color:inherit;font-family:inherit;font-size:inherit;font-weight:inherit;line-height:1.2;word-break:break-all;padding:0;margin:0;box-sizing:border-box;}
html, body{height:100%;font-family:"Noto Sans", sans-serif;color:#414141;font-size:16px;font-weight:400;}
body{height:auto;overflow-y:auto;}
body.on{overflow-y:hidden;}
ul{list-style:none;}
a{text-decoration:none;}
span{display:inline-block;}
img{max-width:100%;object-fit:cover;}
button{background:none;border:0;cursor:pointer;}
label{cursor:pointer;}

/* layout */
#wrapper{display:flex;}
.contents{flex:1;padding:10px 20px;margin-left:0;transition:margin-left 200ms ease-in-out;}
.contents.active{margin-left:260px;}


:root{
    /* color */
    --color1:#f37321;
    --color2:#f89b6c;
    --color3:#fbb584;
    --color4:#fe7912;
    --color5:#6e6e6e;
    --color6:#414141;
    --color7:#eee;
    --color8:red;

    /* table-border */
    --line1:#ddd;

    /* font weight */
    --bold:700;
    --medium:500;
    --regular:400;
}

/* header */
header{width:100%;height:45px;background:#fff;display:flex;justify-content:space-between;align-items:center;border-bottom:1px solid #eee;padding:10px 20px;position:sticky;top:0;left:0;z-index:100;}
header .inner{display:flex;align-items:center;gap:10px;}
.account{padding-left:28px;margin-right:40px;position:relative;}
.account:before{content:"";width:24px;height:24px;background:url("../../resources/img/icon/account.png") no-repeat;background-size:100%;position:absolute;top:0;left:0;}

/* sidebar */
.sidebar{width:260px;height:calc(100% - 45px);background:#f37321;position:fixed;top:45px;left:-260px;z-index:100;transition:left 200ms ease-in-out;overflow-y:auto;}
.sidebar.open{left:0;}
.sidebar .btn{color:#fff;position:relative;}
.sidebar .linkBtn{color:#fff;position:relative;width:100%;background:#eb6620;display:block;padding:10px 10px 10px 20px;}
.sidebar .linkBtn:hover{background:#d05e22;}
.sidebar .linkBtn.active{background:#d05e22;}
.sidebar button.btn:after{content:"";width:24px;height:24px;background:url("../../resources/img/icon/arrow_down_w.png") no-repeat;background-size:100%;position:absolute;top:50%;right:10px;transform:translateY(-50%);transition:.2s;}
.sidebar .menu > ul > li > .btn{width:100%;background:#fe7912;display:block;font-size:18px;text-align:left;border-bottom:1px solid #eee;padding:10px 20px;border-radius:0;}
.sidebar .btn + .depth{height:0;overflow:hidden; transition:height 200ms ease;}
.sidebar .btn.active::after{transform:translateY(-50%) rotate(180deg);}
.sidebar .depth .btn{font-size:16px;}

/* AUI Grid */
.grid-box{width:100%;height:380px;}
.grid-box.h-small{height:200px;}
.grid-box.h-medium {height:550px;}
.grid-box .aui-grid{width:100%!important;height:100%;}

/* AUI GRID 커스텀 */
.aui-grid{border-color:#ddd;}
.aui-grid select{padding:0 5px;background:#fff;}
.aui-grid-default-header{background:#f2f4f6;}
.aui-grid-default-header *{font-size:15px;}
.aui-grid-fixed-column-rule{background:#ddd;}
.aui-grid-renderer-base{font-size:13px;}
.aui-grid-row-background{background:#f9f9f9;}
.aui-grid-cell-edited-marker{border:0;}
.aui-grid-paging-panel{background:#f2f4f6;}
.aui-grid-header-panel .aui-grid-table tr td{border-color:#ddd;}
.aui-grid-body-panel .aui-grid-table tr td:hover{background:#e2e2e2;}

/* footer */
footer{width:calc(100% + 40px);margin:40px -20px 0;}
footer .contact{background:#414141;display:flex;justify-content:center;align-items:center;color:#fff;padding:20px;}
footer .contact > ul{display:flex;justify-content:center;align-items:center;gap:40px;}
footer .logos{display:flex;justify-content:center;border-bottom:1px solid #eee;padding:10px 0;}
footer .logos > img{width:314px;}

/* button */
.btn-wrap{display:flex;align-items:center;}
.btn{width:auto;background:#f37321;display:flex;color:#fff;border-radius:4px;padding:10px 16px;position:relative;}
.btn.primary{background:#2a7efe;}
.menu-btn{width:24px;height:24px;background:url("../../resources/img/icon/menu.png") no-repeat;background-size:100%;}
.logout-btn{padding-right:28px;position:relative;}
.logout-btn:before{content:"";width:24px;height:24px;background:url("../../resources/img/icon/logout.png") no-repeat;background-size:100%;position:absolute;top:-1px;right:0;}
.close-btn{width:24px;height:24px;background:url("../../resources/img/icon/close.png") no-repeat;background-size:100%;position:absolute;top:50%;right:10px;transform:translateY(-50%);}
.btn.excel{position:relative;padding-left:36px;}
.btn.excel::before{content:'\f1c3';font-family:"Font Awesome 6 Free";font-weight:700;position:absolute;left:16px;top:50%;transform:translateY(-50%);}
.btn.model{position:relative;padding-left:45px;}
.btn.model::before{content:'\e4e5';font-family:"Font Awesome 6 Free";font-weight:700;position:absolute;left:16px;top:50%;transform:translateY(-50%);}
.btn.add-column{position:relative;padding-left:40px;}
.btn.add-column::before{content:'\f055';font-family:"Font Awesome 6 Free";font-weight:700;position:absolute;left:16px;top:51%;transform:translateY(-50%);}
.btn.trash{position:relative;padding-left:35px;}
.btn.trash::before{content:'\f2ed';font-family:"Font Awesome 6 Free";font-weight:700;position:absolute;left:16px;top:51%;transform:translateY(-50%);}
.btn.add-file{position:relative;padding-left:40px;border-radius:4px;}
.btn.add-file::before{content:'\e494';font-family:"Font Awesome 6 Free";font-weight:700;position:absolute;left:16px;top:51%;transform:translateY(-50%);}
.btn.save{position:relative;padding-left:40px;}
.btn.save::before{content:'\f0c7';font-family:"Font Awesome 6 Free";font-weight:700;position:absolute;left:16px;top:51%;transform:translateY(-50%);}
.btn.search{position:relative;padding-left:40px;}
.btn.search::before{content:'\f002';font-family:"Font Awesome 6 Free";font-weight:700;position:absolute;left:16px;top:51%;transform:translateY(-50%);}
.btn.primary.send{position:relative;padding-left:40px;}
.btn.primary.send::before{content:'\f574';font-family:"Font Awesome 6 Free";font-weight:700;position:absolute;left:16px;top:51%;transform:translateY(-50%);}
.btn.primary.check{position:relative;padding-left:40px;}
.btn.primary.check::before{content:'\f00c';font-family:"Font Awesome 6 Free";font-weight:700;position:absolute;left:16px;top:51%;transform:translateY(-50%);}
.btn.primary.mail{position:relative;padding-left:40px;}
.btn.primary.mail::before{content:'\f0e0';font-family:"Font Awesome 6 Free";font-weight:700;position:absolute;left:16px;top:51%;transform:translateY(-50%);}

/* input */
.input-wrap{display:flex;align-items:center;justify-content:space-between;background-color: #eeeeee;border-radius:4px;padding:10px;gap:10px;margin-bottom:40px;}
.input-wrap.a-end{align-items:flex-end;}
.input-wrap .btn.search{min-width:90px;}
.input-lists{display:flex;align-items:center;flex-wrap:wrap;gap:10px;min-width:calc(100% - 100px);}
.input-list{display:flex;align-items:center;width:calc(25% - 8px);}
.input-list .input-title{font-weight:var(--bold);padding-left:10px;position:relative;margin-right:10px;min-width:100px;}
.input-list.small .input-title{min-width:60px;}
.input-list.large{width:calc(100% - 380px);}
.input-list.large .input{max-width:258px;}
.input-list.c-medium{max-width:370px;}
.input-list.regular{width:calc(50% - 8px)}
.input-list.regular .date-wrap label{width:calc(33.3% - 10px);}
.input-list.regular .date-wrap .select{margin-left:8px;}
.input-list.medium{width:calc(33.33% - 8px);max-width:none;}
.input-list .date-wrap{width:calc(100% - 60px);}
.input-list .date-wrap .date{width:calc(50% - 10px);max-width:none;}
.input-list .input,
.input-list .select{width:calc(100% - 100px);}
.input-list .input-title::before{content:'';position:absolute;left:0;top:50%;transform:translateY(-50%);width:4px;height:18px;background-color:var(--color1);}
.inner-input-list{width:100%;display:flex;gap:10px;}
input{width:100%;height:38px;background:none;border:0;padding:8px 12px;outline:none;}
textarea{width:100%;background:none;border:0;padding:8px 12px;resize:none;}
.input{background:#fff;display:inline-flex;align-items:center;border:1px solid #6e6e6e;border-radius:4px;}
.input.search{position:relative;padding-right:25px;}
.input.search input{outline:none;}
.input.search button{position:absolute;right:0;top:50%;transform:translateY(-50%);width:30px;height:38px;}

@media(max-width:1500px) {
    .input-list.large{width:calc(33% - 8px);}
    .input-list.large .input{max-width:none;}
    .input-list.c-medium{width:calc(33.33% - 8px);}

}

@media(max-width:1400px) {
    .input-list{width:calc(50% - 8px);}
    .input-list.regular{width:calc(100% - 7px)}

}

@media(max-width:1230px) {
    .input-list.c-medium,
    .input-list.medium,
    .input-list.large{width:calc(50% - 8px);}
}

@media(max-width:1200px) {
    .input-list{width:calc(50% - 8px);}
}

@media(max-width:800px) {
    .input-wrap{flex-direction:column;}
    .input-list.whole {width:100%;}
    .input-list,
    .input-list.c-medium,
    .input-list.medium,
    .input-list.large{width:100%;}
    .input-list.c-medium{max-width:none;}
    .input-list.regular .date-wrap label {width:calc(50% - 10px);}
    .input-list.regular .date-wrap .select{width:100%;margin-left:0;margin-top:8px;}
}
/* date */
.date{max-width:150px;background:#fff;display:inline-flex;align-items:center;border:1px solid #6e6e6e;border-radius:4px;position:relative;}
.date input{width:100%;height:38px;background:none;border:0;padding:8px 12px;}
.date:after{content:'\f133';font-family:"Font Awesome 6 Free";font-weight:700;position:absolute;right:16px;top:51%;transform:translateY(-50%);}
[class*=datepicker] select{background:white;font-weight:500;border:1px solid black;padding:0;appearance:auto;height:auto;min-width:80px;}
[class*=datepicker] select + select{margin-left:20px;}
.ui-datepicker .ui-datepicker-header{display:flex;align-items:center;justify-content:center;height:70px;}
.ui-datepicker .ui-datepicker-title{display:flex;gap:10px;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{border:none;background-color:transparent;}
.ui-datepicker-prev, .ui-datepicker-next{display:flex;justify-content:center;align-items:center;top:18px!important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{padding:5px;}
.ui-datepicker-prev span, .ui-datepicker-next span{display:none!important;}
.ui-datepicker-prev:before{content:"";width:9px;height:12px;background:url("/resources/img/icon/icon_left.svg") no-repeat;background-size:100%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.ui-datepicker-next:before{content:"";width:9px;height:12px;background:url("/resources/img/icon/icon_right.svg") no-repeat;background-size:100%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}

/* select */
select{min-width:100px;width:100%;height:38px;background:none;border:0;padding:8px 40px 8px 12px;appearance:none;}
.select{background:#fff;display:inline-flex;align-items:center;border:1px solid #6e6e6e;border-radius:4px;position:relative;}
.select:after{content:"";width:24px;height:24px;background:url("../../resources/img/icon/arrow_down.png") no-repeat;background-size:100%;position:absolute;top:50%;right:6px;transform:translateY(-50%);}
.input-wrap select{min-width:auto;width:100%;}

/* checkbox & radio */
.check{display:inline-flex;align-items:center;gap:10px;}
.check input{display:none;}
.check input + span{padding-left:28px;position:relative;}
.check input + span:before{content:"";width:20px;height:20px;position:absolute;left:0;}
.check input[type=checkbox] + span:before{background:url("../../resources/img/icon/check_off.png") no-repeat;background-size:100%;}
.check input[type=checkbox]:checked + span:before{background:url("../../resources/img/icon/check_on.png") no-repeat;background-size:100%;}
.check input[type=radio] + span:before{background:url("../../resources/img/icon/radio_off.png") no-repeat;background-size:100%;}
.check input[type=radio]:checked + span:before{background:url("../../resources/img/icon/radio_on.png") no-repeat;background-size:100%;}

.check.no-text{gap:0;}
.check.no-text input + span{width:16px;height:16px;padding-left:0;}
.check.no-text input + span:before{width:16px;height:16px;border:1px solid #ddd;}

/* file */
.file-box{display:flex;border:1px solid #6e6e6e;border-radius:4px;overflow:hidden;}
.file{display:inline-flex;align-items:center;}
.file input{display:none;}
.file input + .btn{border:1px solid #f37321;border-radius:0;}
.file + span{padding:10px 20px;}
.btn-wrap .file .btn.add-file{border-radius:4px;border:none;}

/* popup */
.popup{opacity:0;width:100%;height:100%;background:rgba(0,0,0,0.5);position:fixed;top:0;left:0;/*z-index:101;*/z-index:1000;transition:opacity 200ms;pointer-events:none;}
.popup.open{opacity:1;pointer-events:auto;}
.popup.no{min-width:500px;width:auto;height:auto;background:#fff;border:1px solid #6e6e6e;border-radius:8px;top:50%;left:50%;transform:translate(-50%, -50%);}
.popup.no .pop-box{background:none;border-radius:0;position:static;top:0;left:0;transform:none;}
.pop-box{min-width:500px;background:#fff;border-radius:8px;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.pop-head{padding:10px 36px 10px 14px;position:relative;background-color:#f2f4f6;border-radius:8px 8px 0 0;}
.pop-head h3{font-size:18px;font-weight:700;}
.pop-body{max-height:90vh;padding:10px 14px;overflow-y:auto;}
.pop-body .btn-wrap{justify-content:center;margin-top:20px;}

/* popup >  grid */
.popup.grid .pop-body{padding:20px 14px;}
.popup .input-list{width:100%;background-color:#eeeeee;padding:5px 10px;border-radius:4px;}
.popup .input-list + *{margin-top:12px;}
.popup .input-title{font-weight:var(--bold);min-width:60px;}
.popup .input{width:calc(100% - 65px);height:30px;border-color:#ddd;}

/* popup 사이즈 */
.popup.big .pop-box{width:65vw;}


/* assetCurrent */
[class*=container]{transition:padding .2s;}
[class*=container].open{padding-left:260px;}
.assetCurrent-container{width:100%;padding-top:20px;}


/* 기본 추가 */
.important{display:inline-block;position:relative;padding-right:16px;}
.important::before{content:'*';position:absolute;top:2px;right:0;color:var(--color8);}
.title-box{display:flex;justify-content:space-between;align-items:center;margin-bottom:12px;}
.title-box.end{justify-content:flex-end;}
.title-box.column{flex-direction:column;align-items:flex-start;}
.title-box h3{position:relative;padding-left:14px;font-size:20px;font-weight:var(--bold);}
.title-box h3::before{content:'';width:4px;height:16px;background-color:var(--color1);position:absolute;left:0;top:50%;transform:translateY(-50%);}
.btn-wrap{gap:8px;}
.btn-wrap.form{justify-content:center;margin-top:50px;}
.btn-wrap.center{justify-content:center;margin-top:40px;}

/* page-indicator */
.page-indicator ul{display:flex;justify-content: flex-end;}
.page-indicator ul li{position:relative;padding:10px 16px;}
.page-indicator ul li:first-child{color:#f37321;}
.page-indicator ul li:first-child::after{color:#000;}
.page-indicator ul li::after{content:'\f054';font-family:"Font Awesome 6 Free";font-size:12px;font-weight:600;position:absolute;top:53%;transform:translateY(-50%);right:-5px;}
.page-indicator ul li:last-child::after{display:none;}

@media (max-width:697px){
    .title-box{flex-direction:column;align-items:flex-start;gap:8px;}
}

/* 간격 조정 */
.grid-box + .title-box,
.custom-table + .title-box,
.custom-table + .list-box,
.desc-box + .title-box,
.table + .title-box,
.table + .table,
.table + .grid-box{margin-top:30px;}
.input-wrap + .title-box {margin-top:24px;}


/* table */
table {width:100%;border-collapse:collapse;border-spacing:0;}
.table{width:100%;border:1px solid #ddd;}
th{background-color:#f2f4f6;border-right:1px solid #ddd;}
th:last-child{border-right:0;}
th > *{text-align:center;padding:10px 5px;font-size:15px;font-weight:var(--bold);}
td{background-color:#fff;border-right:1px solid #ddd;}
td:last-child{border-right:0;}
td > *{padding:8px 15px;font-size:13px;}
tbody tr{border-top:1px solid #ddd;}

/* table 고정 높이 */
.table.fixed-height {height:180px;overflow-y:auto;}

/* table 내의 위치 */
.th-wrap , .td-wrap{display:flex;}
.th-wrap.center , .td-wrap.center{justify-content:center;}

/* table 안의 label태그 */
.table .select , .table .input , .table .file-box{height:30px;border-color:var(--line1);}
.table select{padding-top:5px;padding-bottom:5px;height:30px;}
.table .file-box > span{padding:5px;}
.table .important{padding-left:8px;}
.table .important::before{top:12px;}
.whole{width:100%;}
.long{width:100%;max-width:700px;}
.medium{max-width:300px;}

/* table 내의 row 존재 1개 이하 */
.table.no-line tbody tr{border-top:0;}

/* custom-table */
.custom-table{border:1px solid #ddd;}
.custom-table .important{padding-right:12px;}
.row{display:flex;flex-wrap:wrap;}
.row + .row{border-top:1px solid #ddd;}
.th{width:120px;padding:10px 5px;font-size:15px;font-weight:var(--bold);background-color:#f2f4f6;border-right:1px solid #ddd;}
.th .th-wrap{align-items:center;height:100%;}
.td .td-wrap{height:100%;align-items:center;}
.td + .th{border-left:1px solid #ddd;}
.td{width:calc(100% - 120px);;padding:10px 15px;font-size:13px;background-color:#fff;}
.td.line{border-right:1px solid #ddd;}

/* custom-table > td 길이 */
.row.con-2 .td{width:calc(50% - 120px);}
.row.con-3 .td{width:calc(33.33% - 120px);}
.row.con-4 .td{width:calc(25% - 120px);}

@media(max-width:1220px) {
    .row.con-4 .th{border-bottom:1px solid #ddd;}
    .row.con-4 .td + .th{border-left:0;}
    .row.con-4 .td {width:calc(100% - 120px);border-bottom:1px solid #ddd;}
    .row.con-4 > .th:nth-last-child(2) , .row.con-4 > .td:nth-last-child(1) {border-bottom:0}
}

@media(max-width:1024px) {
    .th{border-bottom:1px solid #ddd;}
    .td + .th{border-left:0;}
    .row.con-2 .td,
    .row.con-3 .td {width:calc(100% - 120px);border-bottom:1px solid #ddd;}
    .row > .th:nth-last-child(2) , .row > .td:nth-last-child(1) {border-bottom:0}
}

/* custom-table 의 input */
.custom-table label{width:100%;border-color:#ddd;}
.custom-table .date{max-width:none;}
.custom-table .input i,
.custom-table .date:after{color:#9f9d9d;}
.custom-table select,
.custom-table input,
.custom-table .input button{height:30px;}
.custom-table select{padding-top:5px;padding-bottom:5px;}

/* 리스트 */
.list-box{margin-bottom:24px;}
.quantity-list{display:flex;justify-content:center;gap:24px;flex-wrap:wrap;}
.quantity{width:120px;max-height:78px;display:flex;flex-direction:column;align-items:center;border-radius:8px;border:1px solid #ddd;overflow:hidden;}
.quantity .num{width:100%;height:50px;display:flex;align-items:center;justify-content:center;padding:5px 0;font-size:24px;font-weight:var(--bold);background-color:#f2f4f6;}
.quantity .name{font-size:14px;padding:5px 10px;color:#414141;}
.quantity .title{width:100%;height:78px;display:flex;justify-content:center;align-items:center;font-size:16px;font-weight:var(--bold);color:#414141;background-color:#fff38c;}

/* 리스트 색상 */
.quantity.orange .num{background-color:#ffd557;}
.quantity.lightOrange .num{background-color:#fbb584;}
.quantity.blue .num{background-color:#86bef7;}
.quantity.green .num{background-color:#8bffbf;}
.quantity.purple .num{background-color:#c49aff;}
.quantity.gray .num{background-color:#cdcfd1;}

/* desc-box */
.desc-box,
.desc-box .input{width:100%;border-color:#ddd;}
.desc-box textarea{width:100%;}